/*
  CORE Classes

  Write your code in "YOUR CUSTOM CODE" section in bottom of document or seperate document
*/
/*
  GLOBAL SETTINGS
*/
/* FONTS */
:root {
  font-size: 10px; }

@media only screen and (max-width: 1440px) {
  :root {
    font-size: 0.65vw; } }

@media only screen and (max-width: 1400px) {
  :root {
    font-size: 0.65vw; } }

@media only screen and (max-width: 980px) {
  :root {
    font-size: 6px; } }

@media only screen and (max-width: 780px) {
  :root {
    font-size: 6.5px; } }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden; }

.btn_basic, .btn_transparent {
  display: inline-block;
  width: auto;
  text-transform: none; }

.svg_all {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

button:active {
  outline: none;
  border: none; }

button:focus {
  outline: 0; }

textarea:focus, input:focus {
  outline: none; }

.header_menu_close {
  position: absolute;
  right: 2rem;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 901; }

.header_menu_close:hover:before, .header_menu_close:hover:after {
  background-color: #000; }

.header_menu_close:before, .header_menu_close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 32px;
  width: 2px;
  background-color: #000; }

.header_menu_close:before {
  transform: rotate(45deg); }

.header_menu_close:after {
  transform: rotate(-45deg); }

.header_menu_open {
  position: absolute;
  right: 21px;
  width: 3rem;
  z-index: 800; }

.header_menu_open span,
.header_menu_open span:before,
.header_menu_open span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 21px;
  background: #000;
  position: absolute;
  display: block;
  content: ''; }

.header_menu_open span:before {
  top: -7px; }

.header_menu_open span:after {
  bottom: -7px; }

.header_menu_close {
  display: none;
  z-index: 9999; }

.header_menu_open {
  display: none;
  z-index: 800; }

.header_menu_ul {
  max-width: 116.8rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: table; }

.header_menu_li {
  display: table-cell;
  padding: 10px;
  text-align: center;
  position: relative;
  cursor: pointer; }

.header_menu_li > a {
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  position: relative; }

@media only screen and (max-width: 900px) {
  .header_menu {
    display: none;
    top: 0;
    position: absolute;
    width: 100%; }
  .header_menu_open {
    display: block; } }

@media only screen and (max-width: 900px) {
  .header_menu_ul {
    max-width: 116.8rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: block; }
  .header_menu_li {
    display: block;
    padding: 10px;
    background: red;
    text-align: left;
    position: relative;
    cursor: pointer;
    height: auto; }
  .header_menu_li > a {
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    position: relative; } }

.header_menu_open {
  padding: 10px;
  background-color: #fff;
  padding-top: 16px;
  width: 21px;
  height: 8px;
  cursor: pointer;
  opacity: 0.75;
  position: fixed; }

.header_menu_close {
  position: fixed;
  top: 2rem; }

.header_menu {
  width: 53.6rem;
  margin-top: 4.1rem;
  position: absolute;
  display: inline-block;
  vertical-align: top;
  left: 50%;
  right: 0;
  margin-left: 2.3rem;
  margin-right: auto;
  transform: translateX(-50%); }

.header_menu.fixed_menu {
  position: fixed;
  background: #fff;
  top: 0;
  box-shadow: 1px 1px 8px #000; }

.header_menu_li {
  padding: 0;
  text-transform: uppercase; }

.header_menu_li > a {
  color: #030000;
  display: inline-block;
  height: 4.7rem;
  white-space: normal;
  border-bottom: 0.5rem solid #fff; }

.header_menu_li > a:hover, .header_menu_li.current-menu-item > a {
  color: #030000;
  border-bottom: 0.5rem solid #88c431; }

@media only screen and (max-width: 900px) {
  .header_menu {
    background: #fff;
    width: 55%;
    height: auto;
    padding-top: 2rem;
    border-left: 1px solid #a2c073;
    display: none;
    right: 0;
    margin-top: 0;
    position: absolute;
    top: 0; }
  .header_menu_ul {
    display: block;
    position: fixed;
    background: #fff; }
  .header_menu_li {
    display: block;
    border: none;
    padding: 1.5rem 3rem 1.5rem 3rem;
    height: auto;
    background: none;
    background-color: #fff; }
  .header_menu_li > a {
    font-size: 2.2rem;
    padding: 5px;
    font-weight: 300;
    display: inline-block;
    color: #000;
    height: 3rem;
    border-bottom: 0.3rem solid #fff; }
  .header_menu_li > a:hover, .header_menu_li.current-menu-item > a {
    color: #fecd08;
    border-bottom: 0.3rem solid #fecd08; } }

@media screen and (min-width: 900px) {
  .header_menu.fixed_menu .header_menu_li > a {
    height: 1.7rem;
    font-size: 1.1rem;
    border-bottom: 1px solid #fff;
    color: #000; }
  .header_menu.fixed_menu .header_menu_li {
    padding: 1rem;
    padding-top: 1.5rem; }
  .header_menu.fixed_menu .header_menu_li > a:hover {
    height: 1.7rem;
    font-size: 1.1rem;
    border-bottom: 1px solid #fecd08; } }

.header_menu_li_parent {
  position: relative; }
  .header_menu_li_parent:after {
    content: '';
    border: 0.8rem solid transparent;
    border-top: 0.8rem solid #88c431;
    position: absolute;
    margin-top: 0.4rem;
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem; }
  .header_menu_li_parent:hover .header_menu_child {
    display: block; }

.header_menu_child {
  position: absolute;
  top: auto;
  left: 2.4rem;
  text-align: left;
  width: 32.5rem;
  z-index: 5;
  display: none; }

.header_menu_child:after {
  position: absolute;
  top: -2px;
  left: 0;
  content: '';
  background: #88c431;
  height: 2px;
  width: 100%; }

.header_menu_child_li {
  width: 100%;
  display: inline-block;
  background: #1c1c1c;
  position: relative;
  margin-bottom: 1px; }
  .header_menu_child_li a {
    text-decoration: none;
    color: #fff;
    padding-left: 2rem;
    padding-top: 1.6rem;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.24rem;
    padding-bottom: 1.4rem;
    padding-right: 2rem; }

.services_menu-item:hover a {
  color: #fff;
  border-color: #fecd08;
  background: #fecd08; }

.header_widgets__phone_a.header_widgets__a {
  font-size: 3rem;
  letter-spacing: 0.45rem; }

.header_inner .header_widgets {
  width: auto;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  padding: 2.7rem;
  padding-left: 2rem;
  padding-right: 0rem;
  overflow: hidden;
  float: right;
  text-transform: uppercase;
  margin-right: -0.5rem; }

.num-container {
  font-size: 1.75rem;
  display: inline-block;
  margin-top: 0.6rem;
  margin-right: 0.3rem;
  letter-spacing: 1.25rem;
  margin-left: 1.3rem;
  color: #030000;
  font-family: 'Open Sans';
  font-weight: 700; }

.first-num-container {
  color: #030000;
  font-family: 'Open Sans';
  font-weight: 800; }

.header_widgets__phone_a.header_widgets__a {
  color: #88c431;
  font-family: 'Open Sans';
  font-weight: 800; }

.header_widgets__phone_a.header_widgets__a p {
  text-align: right; }

.header_menu_subchild {
  display: none; }

.header_menu_subchild {
  transform: translateX(100%);
  position: absolute;
  top: 0;
  margin-left: 2rem;
  margin-top: -1px; }

.header_menu_sub_parent:hover .header_menu_subchild {
  display: block; }

.header_menu_sub_parent:after {
  content: '';
  border: 0.8rem solid transparent;
  border-top: 0.8rem solid #88c431;
  position: absolute;
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
  transform: rotate(-90deg);
  top: 1.5rem;
  right: 0; }

/*
1. Header
2. Widgets

*/
.header_inner {
  width: 100%;
  position: relative;
  margin: 0 auto; }

.header_logo {
  position: absolute; }

@media only screen and (max-width: 1000px) {
  .header_logo {
    position: absolute; }
  .header_logo img {
    width: 100%; } }

.header {
  background: transparent;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  letter-spacing: 0.04rem;
  height: 13.3rem;
  width: 100%;
  position: relative;
  z-index: 800;
  padding-top: 4rem; }
  .header:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 15px;
    width: 100%;
    background: #88c431; }

.header_inner {
  max-width: 1239px;
  width: 123.9rem;
  margin: 0 auto;
  background-color: #ffffff;
  height: 13.3rem; }

@media only screen and (max-width: 1000px) {
  .header_inner {
    width: 869px; } }

@media only screen and (max-width: 900px) {
  .header {
    margin-top: 0rem;
    overflow: visible; }
  .header_inner {
    width: 100%; } }

@media only screen and (max-width: 740px) {
  .header_inner {
    height: 9.2rem;
    padding-top: 6rem; } }

@media only screen and (max-width: 550px) {
  .header_inner {
    height: 9rem;
    padding-top: 60px; } }

.header_logo {
  display: inline-block;
  margin-left: 0rem;
  margin-top: 1.4rem;
  vertical-align: top;
  position: relative;
  z-index: 99; }

.header_logo > img {
  width: 28.4em;
  height: 7em; }

@media only screen and (max-width: 850px) {
  .header_logo > img {
    width: 27.44em;
    height: 7.04em; }
  .header_logo {
    bottom: 2.3rem; } }

/*
  ----  WIDGETS ---
*/
.header_widgets {
  display: table; }

.header_widgets__item {
  display: table-cell; }

.header_widgets {
  width: auto;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: 0;
  display: inline-block;
  padding: 1.7rem;
  padding-left: 9rem;
  padding-right: 8rem;
  overflow: hidden; }

.header_widgets__phone {
  padding-left: 3rem; }

.header_widgets .svg__call {
  position: absolute;
  margin-top: -0.1rem;
  width: 2.1rem;
  height: 2.1rem;
  fill: #fecd08;
  margin-left: -3.05rem;
  margin-top: -0.4rem; }

.header_widgets .svg__map_pin {
  position: absolute;
  margin-top: -0.1rem;
  width: 1.5rem;
  height: 2rem;
  fill: #fecd08;
  margin-left: -2.5rem;
  margin-top: -0.2rem; }

.header_widgets .svg__call svg {
  fill: #fff; }

.header_widgets__address {
  padding-left: 6.6em;
  text-transform: uppercase; }

.header_widgets__svg {
  position: absolute;
  margin-top: -0.1rem;
  width: 1.8em;
  height: 1.8em; }

.header_widgets__value, .header_widgets__a {
  color: #c2c2c2;
  font-size: 1.55rem;
  letter-spacing: 0.19rem;
  text-decoration: none; }

@media only screen and (max-width: 850px) {
  .header_widgets {
    width: 100%;
    z-index: 100;
    padding: 0;
    padding: 0.7rem;
    display: table; }
  .header_widgets:before {
    display: none; }
  .header_widgets__phone, .header_widgets__address {
    padding: 0;
    padding-left: 10%; }
  .header_widgets .svg__call {
    position: absolute;
    margin-top: -0.1rem;
    width: 1.26rem;
    height: 1.26rem;
    fill: #fecd08;
    margin-left: -2.05rem;
    margin-top: 0.3rem; }
  .header_widgets .svg__map_pin {
    position: absolute;
    margin-top: -0.1rem;
    width: 1.05rem;
    height: 1.4rem;
    fill: #fecd08;
    margin-left: -1.9rem;
    margin-top: 0rem; } }

@media only screen and (max-width: 550px) {
  .header_widgets {
    display: block; }
  .header_widgets__phone, .header_widgets__address {
    display: block;
    padding-top: 1rem;
    min-height: 2rem; } }

.header_menu.fixed_menu {
  margin-top: 0; }

.header_menu_child_li {
  width: 100%;
  display: inline-block;
  background: #f5f8fa;
  border-bottom: 1px solid #c7c8c9;
  margin-bottom: 0;
  text-transform: none; }
  .header_menu_child_li a {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #c7c8c9;
    font-size: 1.2rem; }
  .header_menu_child_li:hover {
    background: #030000; }
    .header_menu_child_li:hover a {
      color: #88c431; }

.header_inner {
  max-width: 14390px;
  width: 143.9rem;
  height: 12.6rem;
  text-align: right;
  display: inline-block;
  background: #cccccc; }

.header:after {
  display: none; }

.header {
  padding-top: 0;
  height: auto;
  text-align: center;
  background: #cccccc;
  border-bottom: 1px solid #999999;
  z-index: auto; }

.header_logo {
  margin-left: 2.5rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  float: left;
  z-index: 50; }
  .header_logo img {
    width: 30em;
    height: 7.6em; }

.right_bar-container {
  display: inline-block; }

.header_menu {
  position: relative;
  vertical-align: top;
  transform: none;
  left: auto;
  margin-top: 7.9rem;
  margin-right: 2.5rem;
  font-size: 3rem;
  margin-top: 7.9rem;
  margin-right: 1.2rem;
  font-size: 3rem;
  width: auto; }

.right_bar-tabs-link {
  color: #666666;
  font-size: 1.7rem;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
  text-align: center;
  padding: 0 0.65rem;
  box-sizing: border-box; }
  .right_bar-tabs-link img {
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: middle;
    margin-top: -0.5rem;
    width: 1.8rem; }
  .right_bar-tabs-link span {
    display: inline-block;
    vertical-align: top; }
  .right_bar-tabs-link:hover {
    opacity: 0.7; }

.right_bar-tabs-item {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center; }

.right_bar-tabs-item:not(:nth-last-child(1)) {
  border-right: 1px solid #797979; }

.right_bar-tabs-list {
  display: inline-block;
  width: 100%; }

.right_bar-tabs-container {
  margin-top: 1.6rem; }

.right_bar-search {
  position: relative;
  margin-top: 3.7rem; }

.right_bar-search-input {
  margin-right: 0.7rem;
  box-sizing: border-box;
  width: 23.3rem;
  border: 1px solid #999999;
  background: #fff;
  height: 3.2rem;
  padding-right: 3.5rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  font-family: "Lato"; }

input.right_bar-search-btn {
  background: url(../images/icon/Search.svg) no-repeat center;
  background-size: 100% 100%;
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: 0.7rem;
  right: 1.6rem; }

.owl-item {
  display: inline-block;
  vertical-align: top; }

.header_menu_li > a {
  font-size: 2.9rem;
  font-family: "Oswald";
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  height: auto;
  padding: 0 2.3rem;
  border-color: transparent; }

.header_menu_li > a:hover, .header_menu_li.current-menu-item > a {
  border-color: transparent; }

.line_block {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  background: url(../images/lines.png);
  background-repeat: repeat-y;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  z-index: 90;
  opacity: 0.9; }

main {
  overflow: hidden; }

.header_menu.fixed_menu {
  z-index: 9; }

.header-slider_section {
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  overflow: hidden; }
  .header-slider_section .container {
    padding-bottom: 9rem; }

.header-slider_item {
  width: 100%;
  height: 58.5rem;
  background: url(../images/slider/slider-bg.jpg) no-repeat center;
  background-size: cover; }

.container {
  display: inline-block;
  position: relative;
  max-width: 13890px;
  width: 138.9rem; }

.slider_item_text-block, .slider-item_image-block {
  float: left;
  width: 50%;
  position: relative; }

.slider-item_image-block img {
  max-width: 100%;
  max-height: 100%;
  width: 31.8rem;
  float: left;
  margin-left: 5.2rem;
  margin-top: 2.1rem; }

.header-slider_container {
  width: 100%; }

.image-block_img1, .image-block_img2, .image-block_img3 {
  width: 17.45rem;
  height: 13.1rem;
  position: absolute; }

.image-block_img1 {
  background: url(../images/slider/slider-img1.jpg) no-repeat center;
  background-size: cover;
  top: 1.9rem;
  right: 18.3rem; }

.image-block_img2 {
  background: url(../images/slider/slider-img2.jpg) no-repeat center;
  background-size: cover;
  top: 19rem;
  right: 10.7rem; }

.image-block_img3 {
  background: url(../images/slider/slider-img3.jpg) no-repeat center;
  background-size: cover;
  bottom: 0.7rem;
  right: 3.2rem; }

.slider_item-title {
  font-size: 10.5rem;
  font-family: "Oswald";
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-top: 6.6rem;
  margin-left: 4.6rem;
  letter-spacing: -0.3rem; }
  .slider_item-title span {
    color: #000;
    display: block;
    font-size: 8.7rem;
    letter-spacing: -0.37rem;
    line-height: 0.98; }

.slider_item-link {
  font-size: 2.82rem;
  font-family: "Oswald";
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-left: 5rem;
  letter-spacing: -0.04rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.95rem;
  float: left; }

.slider_section-nav {
  background: url("../images/slider/(.png") no-repeat center;
  background-size: 100% 100%;
  width: 2.3rem;
  height: 6.2rem;
  position: absolute;
  cursor: pointer;
  top: 40.7%;
  z-index: 10;
  transform: translateY(-50%);
  transition-duration: 0.3s;
  opacity: 1; }
  .slider_section-nav:hover {
    opacity: 0.7; }

.slider_section-left {
  left: 2.4rem; }

.slider_section-right {
  right: 2.4rem;
  transform: translateY(-50%) rotate(180deg); }

.slider-left_container {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5rem;
  z-index: 9; }

.slider-right_container {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5rem;
  z-index: 9; }

/*slider*/
.products_item-titel {
  font-size: 2.4rem;
  font-family: "Oswald";
  color: #444444;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  vertical-align: top;
  display: inline-block;
  float: left;
  clear: both; }
  .products_item-titel:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 2.5rem;
    height: 1.3rem;
    background: url(../images/slider/V.png) no-repeat center;
    background-size: 100% 100%;
    vertical-align: top;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    top: 0;
    right: -4.2rem; }

.products_item-text {
  clear: both;
  font-size: 1.8rem;
  font-family: 'Lato';
  font-style: normal;
  color: #444444;
  font-weight: 400;
  text-align: left;
  padding-top: 2.3rem;
  margin-left: 0.2rem; }

.products_list {
  background: #cfcfcf;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%); }

.products_item {
  width: 25%;
  float: left;
  position: relative;
  padding: 2.4rem 2rem 4rem 4.3rem;
  box-sizing: border-box; }

.products_item:not(:nth-last-child(1)):after {
  content: '';
  background: #a4a4a4;
  width: 2px;
  height: 72%;
  top: 18%;
  right: -2px;
  display: inline-block;
  position: absolute; }

.products_item-titel-icon {
  background: url(../images/icon/Globe.png) no-repeat center;
  background-size: 100% 100%;
  width: 2rem;
  height: 2.2rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem; }

.products_section {
  text-align: center;
  position: relative;
  z-index: 2;
  background: url(../images/products/products-bg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 4.1rem; }

.our_products {
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  width: 120.2em; }

.our_products__item {
  float: left;
  width: 24.04em;
  margin-right: 0em;
  margin-top: 0em; }

@media only screen and (min-width: 780px) {
  .our_products__item:nth-child(5n) {
    margin-right: 0em; } }

.our_products__item img {
  width: 100%; }

.our_products_a {
  text-decoration: none; }

@media only screen and (min-width: 540px) and (max-width: 780px) {
  .our_products {
    display: block;
    /*  font-size: 1.07vw;*/
    width: auto;
    width: 96.16em; }
  .our_products__item {
    float: left; }
  .our_products__item:nth-child(4n) {
    margin-right: 0em; } }

@media only screen and (max-width: 540px) {
  .our_products {
    display: block;
    /*  font-size: 1.07vw;*/
    width: auto;
    width: 72.12em; }
  .our_products__item {
    float: none;
    margin-right: 0; } }

.product-slider_block {
  position: relative;
  margin-top: 18.2rem; }

.product-slider_block_title {
  display: inline-block;
  width: 100%; }

.products_title {
  font-size: 7.3rem;
  font-family: "Oswald";
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  float: left;
  margin-left: 5.3rem;
  letter-spacing: -0.05rem;
  transform: translateY(-100%); }

.products_view-all {
  text-decoration: none;
  float: right;
  font-size: 2.8rem;
  font-family: "Oswald";
  color: #fefefe;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 3.8rem;
  letter-spacing: -0.07rem;
  transform: translateY(-100%); }
  .products_view-all:after {
    content: '';
    vertical-align: top;
    position: relative;
    background: url("../images/slider/(.png") no-repeat center;
    background-size: 100% 100%;
    width: 1.2rem;
    height: 2.8rem;
    display: inline-block;
    transform: rotate(180deg);
    margin-bottom: 0.2rem;
    margin-right: 0rem;
    margin-left: 2rem; }

.our_products__item .our_products_img_container {
  background: url(../images/products/product-img1.jpg) no-repeat center;
  background-size: cover; }

.our_products__item:hover .our_products_label {
  color: #fff200; }

.our_products_img_container {
  height: 24.1rem;
  width: 100%; }

.our_products__item--0 .our_products_img_container {
  background: url(../images/products/product-img1.jpg) no-repeat center;
  background-size: cover; }

.our_products__item--1 .our_products_img_container {
  background: url(../images/products/product-img2.jpg) no-repeat center;
  background-size: cover; }

.our_products__item--2 .our_products_img_container {
  background: url(../images/products/product-img3.jpg) no-repeat center;
  background-size: cover; }

.our_products__item--3 .our_products_img_container {
  background: url(../images/products/product-img4.jpg) no-repeat center;
  background-size: cover; }

.our_products {
  overflow: hidden; }

.our_products__item--4 .our_products_img_container {
  background: url(../images/products/product-img5.jpg) no-repeat center;
  background-size: cover; }

.our_products_label {
  font-size: 1.9rem;
  font-family: "Oswald";
  color: #cccccc;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.6rem;
  transition-duration: 0.3s; }

.product-slider_grid-container {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: -4.5rem; }

.product-nav {
  background: url("../images/slider/(.png") no-repeat center;
  background-size: 100% 100%;
  width: 2.3rem;
  height: 6.2rem;
  position: absolute;
  cursor: pointer;
  top: 45%;
  z-index: 10;
  transform: translateY(-50%);
  transition-duration: 0.3s;
  opacity: 1; }
  .product-nav:hover {
    opacity: 0.7; }

.product-nav-left {
  left: -5rem; }

.product-nav-right {
  right: -5rem;
  transform: translateY(-50%) rotate(180deg); }

.our_products {
  width: 139rem; }

.videos_section {
  width: 100%;
  display: block;
  text-align: center;
  height: auto;
  background: url("../images/videos/video-bg.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 4.4rem; }

.videos_title_block .products_view-all, .videos_title_block .products_title {
  color: #444444; }

.videos_title_block .products_view-all:after {
  background: url("../images/videos/).png") no-repeat center;
  background-size: cover;
  transform: rotate(0deg); }

.videos_title_block {
  margin-top: 11rem; }

.videos_contetnt {
  display: inline-block;
  width: 100%;
  margin-top: -3.9rem; }

.videos_content-text {
  float: left;
  width: 50%;
  padding-left: 7.5rem;
  box-sizing: border-box;
  text-align: left; }

.videos_content-video {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding-left: 4.7rem;
  padding-right: 4rem; }

.videos_text-title {
  font-size: 3.85rem;
  font-family: "Oswald";
  color: #646568;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: -0.6rem; }

.videos_text-article {
  font-size: 1.6rem;
  font-family: "Droid Sans";
  font-weight: 400;
  color: #333333;
  margin-top: 0.5rem;
  letter-spacing: 0.08rem;
  padding-right: 6rem;
  line-height: 2; }

.videos_iframe {
  background: url(../images/videos/video.jpg) no-repeat center;
  background-size: cover;
  height: 34rem;
  width: 100%; }

.testimonials_section {
  width: 100%;
  display: inline-block;
  text-align: center;
  height: auto;
  background: url("../images/Testimonials/testimonials.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 3.4rem; }

.testimonials_title_block {
  margin-top: 11rem; }

.testimonials_slider-block {
  display: inline-block;
  width: 100%;
  margin-top: -1.1rem;
  box-sizing: border-box;
  padding-left: 4.7rem;
  padding-right: 2rem; }

.testimonials_grid {
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  width: 127em; }

.testimonials_grid__item {
  float: left;
  width: 28em;
  margin-right: 5em;
  margin-top: 0em; }

@media only screen and (min-width: 780px) {
  .testimonials_grid__item:nth-child(4n) {
    margin-right: 0em; } }

.testimonials_grid__item img {
  width: 100%; }

.testimonials_grid_a {
  text-decoration: none; }

@media only screen and (min-width: 540px) and (max-width: 780px) {
  .testimonials_grid {
    display: block;
    /*  font-size: 1.07vw;*/
    width: auto;
    width: 61em; }
  .testimonials_grid__item {
    float: left; }
  .testimonials_grid__item:nth-child(2n) {
    margin-right: 0em; } }

@media only screen and (max-width: 540px) {
  .testimonials_grid {
    display: block;
    /*  font-size: 1.07vw;*/
    width: auto;
    width: 28em; }
  .testimonials_grid__item {
    float: none;
    margin-right: 0; } }

.testimonials_grid__item {
  position: relative;
  text-align: left; }

.testimonials_grid_text_container {
  font-size: 2rem;
  font-family: "Lato";
  font-weight: 300;
  color: #fff;
  letter-spacing: -0.027rem;
  line-height: 1.25; }
  .testimonials_grid_text_container:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 13.8rem;
    background: #fff;
    left: 0;
    top: 0.5rem; }

.testimonials_grid {
  overflow: hidden; }

.testimonials_grid_label {
  color: #fff000;
  font-size: 2.1rem;
  font-family: "Lato";
  font-weight: 600;
  margin-top: 2.5rem;
  line-height: 1.1; }
  .testimonials_grid_label span {
    display: block;
    text-transform: uppercase;
    font-size: 2.15rem;
    margin-bottom: 0rem; }

.testimonials_grid__item {
  padding-left: 1.5rem;
  box-sizing: border-box; }

.owl-nav.disabled {
  display: none; }

.testimonials-nav {
  background: url("../images/slider/(.png") no-repeat center;
  background-size: 100% 100%;
  width: 2.3rem;
  height: 6.2rem;
  position: absolute;
  cursor: pointer;
  top: 55.5%;
  z-index: 10;
  transform: translateY(-50%);
  transition-duration: 0.3s;
  opacity: 1; }
  .testimonials-nav:hover {
    opacity: 0.7; }

.testimonials-nav-left {
  left: -5rem; }

.testimonials-nav-right {
  right: -5rem;
  transform: translateY(-50%) rotate(180deg); }

.testimonials_grid {
  width: 135rem; }

.locations_section {
  width: 100%;
  display: block;
  text-align: center;
  height: auto;
  background: url("../images/Map/map.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 4.5rem; }

.locations_title_block {
  margin-top: 11rem; }

.locations_slider-block {
  display: inline-block;
  width: 100%;
  margin-top: -2.8rem;
  box-sizing: border-box;
  padding-left: 4.7rem;
  padding-right: 2rem;
  position: relative; }

.location_grid {
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  width: 133.9em; }

.location_grid__item {
  float: left;
  width: 28em;
  margin-right: 7.3em;
  margin-top: 0em; }

@media only screen and (min-width: 780px) {
  .location_grid__item:nth-child(4n) {
    margin-right: 0em; } }

.location_grid__item img {
  width: 100%; }

.location_grid_a {
  text-decoration: none; }

@media only screen and (min-width: 540px) and (max-width: 780px) {
  .location_grid {
    display: block;
    /*  font-size: 1.07vw;*/
    width: auto;
    width: 63.3em; }
  .location_grid__item {
    float: left; }
  .location_grid__item:nth-child(2n) {
    margin-right: 0em; } }

@media only screen and (max-width: 540px) {
  .location_grid {
    display: block;
    /*  font-size: 1.07vw;*/
    width: auto;
    width: 28em; }
  .location_grid__item {
    float: none;
    margin-right: 0; } }

.location_grid__item {
  position: relative;
  text-align: left;
  padding-left: 1.5rem;
  box-sizing: border-box; }

.location_grid_text_container {
  font-size: 1.8rem;
  font-family: "Lato";
  font-weight: 400;
  color: #000;
  letter-spacing: -0.027rem;
  line-height: 1.1;
  margin-top: 1.9rem; }
  .location_grid_text_container:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10.6rem;
    background: #fff;
    left: 0;
    top: 0.5rem; }
  .location_grid_text_container a {
    text-decoration: none;
    color: #000; }

.location_grid {
  overflow: hidden; }

.location_grid_label {
  font-size: 2.4rem;
  font-family: "Oswald";
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0.5rem;
  line-height: 1.1; }

.owl-nav.disabled {
  display: none; }

.location-nav {
  background: url("../images/slider/(.png") no-repeat center;
  background-size: 100% 100%;
  width: 2.3rem;
  height: 6.2rem;
  position: absolute;
  cursor: pointer;
  top: 45.5%;
  z-index: 10;
  transform: translateY(-50%);
  transition-duration: 0.3s;
  opacity: 1; }
  .location-nav:hover {
    opacity: 0.7; }

.location-nav-left {
  left: -5rem; }

.location-nav-right {
  right: -5rem;
  transform: translateY(-50%) rotate(180deg); }

.location_grid {
  width: 135rem; }

.locations_title_block .products_title {
  margin-left: 3.3rem; }

#footer {
  background: #333333;
  width: 100%;
  height: auto;
  text-align: center; }

.logo-footer {
  display: inline-block;
  margin-top: 1.3rem;
  width: 23.8rem;
  height: 6rem; }
  .logo-footer img {
    width: 100%;
    height: 100%; }

.footer_link-list {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 3.2rem; }

.footer_link-item {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.45rem;
  margin-left: -2px; }

.footer_link {
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Lato";
  font-weight: 300;
  color: white;
  line-height: 0.7;
  padding-top: 0.3rem;
  display: inline-block;
  padding-bottom: 0.3rem; }

.footer_link-item:not(:nth-last-child(1)) {
  border-right: 1px solid #fff; }
