@media screen and (min-width: 900px) {
  .header_menu.fixed_menu {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70rem; }
  body .header_menu.fixed_menu .header_menu_li > a {
    font-size: 1.8rem;
    border-bottom: 1px solid transparent; }
  body .header_menu.fixed_menu .header_menu_li > a:hover {
    font-size: 1.8rem;
    border-bottom: 1px solid transparent;
    opacity: 0.55; }
  .header_menu.fixed_menu .header_menu_li {
    padding-bottom: 1.5rem; } }

@media screen and (max-width: 900px) {
  .slider_section-nav {
    top: 50%; }
  .header_menu {
    margin: 0;
    transform: translateX(0%);
    position: absolute;
    width: 50%;
    left: auto; }
  .header_menu_open {
    right: 11px; }
  .header-slider_section .container {
    padding-bottom: 0; }
  .testimonials-nav {
    top: 35%; }
  .locations_slider-block {
    padding-left: 2rem;
    padding-right: 2rem; }
  .testimonials_grid__item {
    width: auto;
    box-sizing: border-box;
    padding-left: 2.5rem; }
  .testimonials_grid_text_container:after {
    left: 1rem; }
  .testimonials_slider-block {
    position: relative; }
  .products_title {
    margin-left: 1rem; }
  .testimonials_slider-block, .videos_content-text {
    padding-left: 1rem; }
  .location-nav-right, .testimonials-nav-right, .product-nav-right {
    right: -1.5rem; }
  .location-nav-left, .testimonials-nav-left, .product-nav-left {
    left: -1.5rem; }
  .header_inner {
    width: 100%; }
  .container {
    width: 100%;
    box-sizing: border-box;
    padding-right: 3rem;
    padding-left: 3rem; }
  .products_list {
    width: 100%; }
  .slider_item-title {
    padding-right: 3rem;
    box-sizing: border-box; }
  .slider_section-left {
    left: 1.4rem; }
  .slider_section-right {
    right: 1.4rem; }
  .products_item {
    padding-left: 3rem; }
  .slider_item_text-block {
    width: 100%;
    padding: 7rem 4.5rem;
    box-sizing: border-box; }
  .right_bar-container {
    margin-right: 60px; }
  .header_menu_open {
    top: 21px; }
  .header_logo {
    bottom: auto; }
  .header_logo > img {
    width: 22.1vw;
    height: 5.6vw; }
  .location_grid, .our_products {
    width: 100%; }
  .index .our_products__item {
    float: none;
    display: inline-block; }
  .slider-item_image-block {
    display: none; }
  .slider_item-title {
    margin-left: 0;
    margin-top: 0; }
  .slider_item-link {
    margin-left: 0; }
  .products_list {
    margin-top: -2rem;
    transform: none;
    position: relative;
    display: inline-block; }
  .header-slider_item {
    height: auto; } }

@media only screen and (max-width: 800px) {
  .products_item:nth-child(2):after {
    display: none; }
  .products_item {
    height: 15rem;
    width: 50%; }
  .products_item {
    padding-top: 4rem;
    padding-bottom: 1rem; }
  .products_item:nth-child(1):before, .products_item:nth-child(2):before {
    content: '';
    background: #a4a4a4;
    width: 90%;
    height: 2px;
    left: 5%;
    bottom: -2px;
    display: inline-block;
    position: absolute; }
  .testimonials_grid {
    width: 100%; } }

@media only screen and (max-width: 740px) {
  .header_inner {
    padding-top: 0; } }

@media only screen and (max-width: 650px) {
  .product-slider_block {
    width: 100%;
    margin-right: auto;
    margin-left: auto; }
  .product-slider_block_title {
    margin-bottom: 3rem; }
  .locations_title_block, .testimonials_title_block, .product-slider_block {
    margin-top: 6rem; }
  .locations_slider-block, .testimonials_slider-block, .product-slider_grid-container {
    margin-top: 3rem; }
  .products_title {
    transform: none;
    float: none; }
  .products_view-all {
    transform: none;
    margin-right: 0;
    margin-top: 4rem;
    display: block;
    float: none; }
  .videos_content-video, .videos_content-text {
    width: 100%;
    padding: 0; }
  .videos_content-video {
    margin-top: 4rem; }
  .videos_contetnt {
    margin-top: 3rem; }
  .videos_title_block {
    margin-top: 5rem; }
  .products_title {
    margin-left: 0; }
  .header-slider_section .container, .container {
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box; } }

@media only screen and (max-width: 520px) {
  .products_item:not(:nth-last-child(1)):before {
    content: '';
    background: #a4a4a4;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    display: inline-block;
    position: absolute; }
  .products_list {
    width: 95%;
    margin-top: -2rem;
    display: block;
    margin-right: auto;
    margin-left: auto; }
  .products_item {
    height: auto;
    width: 100%;
    float: none; }
  .products_item {
    padding-bottom: 4rem; }
  .products_item:nth-child(1n+1):after {
    display: none; } }

@media only screen and (max-width: 450px) {
  .slider_item-title {
    font-size: 8.5rem; }
    .slider_item-title span {
      font-size: 6.7rem; }
  .testimonials_grid, .location_grid {
    width: 80%; } }
