mixin footer1(cl, elements)
  footer(class=cl)
    div(class=cl+"_inner")
      +sectionmix(cl, elements)
    if (elements.copyright)
      div(class=cl+"_copyright")
        div(class=cl+"_copyright_inner")        
          if(elements.copyright.title)
            div(class=cl+"_copyright_title")!=elements.copyright.title
          if (elements.copyright.menu)
            +menu2(cl+"_copyright_menu", elements.copyright.menu)          
          if (elements.copyright.list)
            +list(cl+"_copyright_list", elements.copyright.list)  
        
      
      
          
                      
