/*Main Footer Section*/
.trackweld_footer{
	background-color: #353232;
	color: #fff;
	overflow: hidden;
	padding-top: 8.2rem;
	padding-bottom: 9.8rem;

		a{
		color: #fff;
		text-decoration: none;

		&:hover{
			color: #ffcd00;
		}
	}
}


.footer_container{
	margin: 0 auto;
  width: 100%;
  max-width: 117rem;
}

.footer_grid_information{
  width: 36%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}

.footer_grid_our_services{
  width: 18%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  padding-left: 1.4rem;

  	li{
		  	font-family: 'Open Sans';
			  font-weight: 400;
			  font-style: normal;
			  font-size: 1.6rem;
			  text-transform: none;
	  	}

  .footer_menu_title{
  	letter-spacing: 0.07rem;
  	padding-bottom: 4.8rem;
  }

  .our_services_li{
  	padding-bottom: 3.2rem;
  }
}

.footer_grid_additional_info{
  width: 20%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  padding-left: 4.3rem;

		li{
		  	font-family: 'Open Sans';
			  font-weight: 400;
			  font-style: normal;
			  font-size: 1.6rem;
			  text-transform: none;
	  	}

	.footer_menu_title{
  	letter-spacing: 0.09rem;
  	padding-bottom: 4.8rem;
	}

	.additinal_info_li{
		padding-bottom: 3.2rem;
	}
}

.footer_grid_contact{
	width: 26%;
  display: inline-block;
  float:left;
  box-sizing: border-box;
  padding-left: 4.8rem;

  .footer_menu_title{
  	letter-spacing: 0.08rem;
	}

	.footer_contact_main_container{
		padding-left: 0.2rem;
		padding-top: 2.3rem;
		margin-right: -2rem;
	}

}

.footer_logo{
	text-transform: uppercase;
	color: #639f05;
	font-size: 4.8rem;
	font-family: 'Roboto';
	font-weight: 900;
	font-style: normal;
	padding-bottom: 4.2rem;
	padding-top: 0.3rem;
}

.footer_logo_text{
	font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
	line-height: 3rem;
	max-width: 32rem;
  width: 100%;
  text-align: left;
}

.footer_menu_title{
	font-family: 'RobotoBold';
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.footer_home_icon{
	display: inline-block;
	background-color: #639f05;

		svg{
			fill: #fff;
			width: 2.5rem;
			padding: 0.5rem 0.8rem 0.5rem 0.6rem;
		}
}

*::-ms-backdrop, .footer_home_icon{
	width: 3.9rem;
	height: 3.6rem;
	padding-bottom: 0.6rem;
	svg{
		padding: 0;
	}
}


.footer_home_icon_text{
	display: inline-block;
	text-transform: none;
	font-size: 1.6rem;
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	letter-spacing: -0.001rem;
	padding-left: 1.8rem;
	padding-top: 1.2rem;
}

.footer_phone_container{
	padding-top: 2.2rem;
}

.footer_phone_icon{
	display: inline-block;
	background-color: #639f05;

		svg{
			fill: #fff;
			width: 2.5rem;
			padding: 0.6rem 0.7rem 0.5rem;
		}
}

*::-ms-backdrop, .footer_phone_icon{
	width: 3.9rem;
	height: 3.6rem;
	padding-bottom: 0.6rem;
}

*::-ms-backdrop, .footer_phone_icon > svg{
	padding-top: 0.3rem;
}

.footer_phone_icon_text{
	display: inline-block;
	text-transform: none;
	font-size: 1.6rem;
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	line-height: 2.2rem;
  	padding-left: 1.8rem;
  	margin-top: -0.2rem;

  a{
  	letter-spacing: 0.002rem;
  }

  span{
  	color: #60a511;
  }
}

.footer_mail_container{
	padding-top: 1.9rem;
}

.footer_mail_icon{
	display: inline-block;
	background-color: #639f05;

		svg{
			fill: #fff;
			width: 2.5rem;
			padding: 1rem 0.7rem 1rem;
		}
}

*::-ms-backdrop, .footer_mail_icon{
	width: 3.9rem;
	height: 3.6rem;
	padding-bottom: 0.6rem;
	svg{
		padding: 0;
	}
}

*::-ms-backdrop, .footer_mail_icon > svg{
	padding-top: 0.2rem;
}

.footer_mail_icon_text{
	display: inline-block;
	text-transform: none;
	font-size: 1.6rem;
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	padding-left: 1.9rem;
  padding-top: 1.1rem;
  letter-spacing: -0.01rem;
}

.footer_location_container{
	padding-top: 2.2rem;
}

.footer_location_icon{
	display: inline-block;
	background-color: #639f05;

		svg{
			fill: #fff;
			width: 2rem;
			padding: 0.6rem 1.1rem 0.4rem 0.8rem;
		}
}

*::-ms-backdrop, .footer_location_icon{
	width: 3.9rem;
	height: 3.6rem;
	padding-bottom: 0.6rem;
	svg{
		padding: 0;
	}
}

*::-ms-backdrop, .footer_location_icon > svg{
	padding-top: 0.3rem;
	padding-left: 0.9rem;
}

.footer_location_icon_text{
	display: inline-block;
	text-transform: none;
	font-size: 1.6rem;
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	vertical-align: top;
	padding-left: 1.9rem;
	padding-top: 1.1rem;
	letter-spacing: 0.03rem;
}
/*Finish Main Footer Section*/

/*SUB Footer Section*/
.sub_footer{
	color: #747272;
	clear: both;
	background-color: #2f2c2c;
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	font-size: 1.6rem;
	height: 9.8rem;
	.sub_footer_container{
		max-width: 120rem;
		margin: 0 auto;
		padding-top: 3.8rem;

		.sub_footer_copywrite{
			display: inline-block;
			margin-left: 1.3rem;
			margin-top: 0.1rem;
		}

		.sub_footer_menu{
			display: inline-block;
			float: right;
			margin-right: 1.6rem;

			a{
				color: #5d910a;
				text-decoration: none;
			}

			ul {
				li{
					display: inline;
				}

				li:after{
					content: " | ";
				}

				li:last-child:after{
					content: "";
				}

				.sub_li_1{
					margin-right: 0.6rem;
					}
				.sub_li_2{
					margin-right: 0.6rem;
				}
				.sub_li_3{
					}
			}
		}
	}
}
