:root  {
  font-size: 10px;
}

@media only screen and (max-width: 1280px) {
    :root  {
      font-size: 0.8vw;
    }
}

@media only screen and (min-width: 767px) {
  .header_menu_child_li{
    &:hover{
      a{
        color:#fdcc00;
      }
        background-color: #211d10;
    }
  }
}
@media only screen and (max-width: 780px) {
    :root  {
      font-size: 6.9px;

    }
}

body {
  font-family: 'Noto Sans', sans-serif;
  overflow-x:hidden;

}

.pixel_perfect {
  opacity:0.2;
  width:100%;
  position:absolute;
  left:0;
  top:0;
  z-index:9999999;
}
.body_full-height {
  height: 100vh;
  overflow:hidden;
}




#header:after {
  content: "";
  clear: both;
  position: relative;
  display: block;
}


@import "components/header1";
@import "components/menu1";
@import "components/menu_h";
@import "components/section_left";
@import "components/section_center";


/*@include list1("header_menu_ul_child");*/

$menu_bg : transparent;
$menu_li_bg : #639f05;
$menu_height: 15rem;
$li_padding: 3rem 4.2rem;

$menu_a_color: #afdc68;
$menu_a_color_hover: #ffffff;
$menu_a_color_active: #ffffff;



@include menu1("header_menu");


@mixin active_gradient() {
  background: #61a00a; /* Old browsers */

  background: -moz-linear-gradient(top, #61a00a 0%, #528207 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #61a00a 0%,#528207 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #61a00a 0%,#528207 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61a00a', endColorstr='#528207',GradientType=0 );
}
.header {
  height:18rem;
}
.header_logo {
    position: absolute;
    left: -0.2rem;
    top: 1.8rem;
}
.header_logo img {
    width: 32.3rem;
    height: 10.6rem;
}
.header_menu {
  margin-top:2.3rem;
  font-family: RobotoBlack;
  text-transform: uppercase;
  z-index:900;
  position:absolute;
  left:0;
  right: 0;
}
.header_widgets__{
  text-align:right;
}
.svg_all{
  display:none;
}
.header_widgets___phone,.header_widgets___address{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 5.1rem;
  margin-left: 3.8rem;
  padding-left: 4.3rem;
}
.header_widgets___phone_label,.header_widgets___address_label{
  font-size: 1.8rem;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  color: #60a511;
  margin-bottom: 0.1rem;
  letter-spacing: 0.01rem;
}
.header_widgets___address{
  border-left:1px solid #e1e1e1;
}
.header_widgets___phone_a,.header_widgets___address_value{
  text-decoration:none;
  font-size: 4.2rem;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  color: rgb(37, 37, 37);
}
.header_widgets___phone_label:before{
  content: '';
  display: inline-block;
  background: url(../images/Phone.svg) no-repeat center;
  background-size: 100% auto;
  position: relative;
  width: 1.6rem;
  height: 2rem;
  margin-left: 0rem;
  vertical-align: top;
  margin-right: 0.5rem;
}
.header_widgets___address_label:before{
  content: '';
  display: inline-block;
  background: url(../images/Map.svg) no-repeat center;
  background-size: 100% auto;
  position: relative;
  width: 1.3rem;
  height: 1.9rem;
  margin-left: 0.3rem;
  vertical-align: top;
  margin-right: 0.6rem;
}
  .header_menu_li {
      border-left:1px solid #9cb774;
      border-top:5px solid transparent;

  }
  .header_menu_li.active{
        border-top:5px solid #fdcc00;
      }
  .header_menu_li_active {
    border-top:0.5rem solid #fdcc00;
    @include active_gradient();

  }

  .header_menu_li:hover {
      @include active_gradient();
  }

  .header_menu_li_parent>a:after {
    content:"";
    display:block;
    width: 0;
  	height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.6rem solid #fdcc00;
    position:absolute;
    top:0.5rem;
    right:-1.5rem;
  }

  .header__widget-address:before {
      width: 1px;
      height: 6.5rem;
      content: "";
      position: absolute;
      background: #e1e1e1;
      margin-left: -2.2rem;
      margin-top: 0.1rem;
  }
.header_menu_li, .header_menu_li_active {
    padding: 3rem 5.2rem;
}
.header_menu_child{
  display:none;
}
.header_menu_li{
  &:hover{
    border-top:5px solid #fdcc00;
    background-image: -moz-linear-gradient( 90deg, rgb(56,86,9) 0%, rgb(96,165,17) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(56,86,9) 0%, rgb(96,165,17) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(56,86,9) 0%, rgb(96,165,17) 100%);
  }
}



$menu_bg : transparent;
$menu_li_bg : #fdcc00;
$menu_height: auto;

$li_padding: 1.6rem;
$li_text_align: left;
$li_font_size: 1.219rem;
$li_letter_spacing: 0.2rem;

$menu_li_bg_active: #fff;
$menu_li_bg_hover: #000;
$menu_a_color: #000000;
$menu_a_color_hover: #fdcc00;
$menu_a_color_active: #fdcc00;

@include menu_h("header_menu_ul_child");

.header_menu_ul_child {
  position: absolute;
  left:0;
  width: 100%;
  top:100%;
  display:none;
}
  .header_menu_ul_child_li {
    margin-top:1px;
  }

  .header_menu_li_parent:hover .header_menu_ul_child {
    display: block;
  }
.header_menu_child{
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
}
.header_menu_li_parent{
  position:relative;
  &:hover{
    .header_menu_child{
      display:block;
    }
  }

}
.header_menu_child_li{
  a{
    font-size: 1.6rem;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    color: #211d10;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03rem;
  }
    background-color: #fdcc00;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.55rem;
    padding-bottom: 0.95rem;
    margin-top:1px;
}

/* Start Specialist Section*/
.specialist{
  background: url("../images/specialist_section/bg_specialist.png") no-repeat center;
  background-size: cover;
  display: table;
  width: 100%;
  color: #fff;

  .shadow-container{
    text-align: left;
    padding: 0;
    padding-bottom: 13rem;
  }
}

.specialist_container{
  margin: 0 auto;
  width: 100%;
  max-width: 117rem;
}

.specialist_text_block{
  display: inline-block;
  color: #fff;
  padding-left: 6.9rem;
  padding-top: 16.7rem;
  width: 100%;
}

.specialist_head_text{
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  font-size: 3.6rem;
  color: #639f05;
  text-transform: uppercase;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
  letter-spacing: 0.8rem;

    &:before{
        border-left: 4px solid #fdcc00;
        border-top: 4px solid #fdcc00;
        content: "";
        height: 2.3rem;
        margin-left: -3.1rem;
        margin-top: -2.6rem;
        position: absolute;
        width: 2.3rem;
    }
}

.specialist_title{
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  font-size: 9rem;
  text-transform: uppercase;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
  letter-spacing: 0.08rem;
}

.specialist_main_text{
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.8rem;
  padding-top: 3.3rem;
}

.specialist_sub_text{
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: #fdcc00;
  text-transform: uppercase;
  padding-top: 3.6rem;
}

.specialist_button_container{
  padding-top: 6.9rem;
}

.specialist_button1{
    max-width: 27.4rem;
    height: 6.1rem;
    padding-top: 0.2rem;
    background-color: #fdcc00;
    color: #000;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.25rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;

    &:hover{
      background: none;
      color: #fff;
    }
}

.specialist_button2{
    background: rgba(0, 0, 0, 0.3);
    max-width: 27.8rem;
    height: 6.1rem;
    padding-top: 0.2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.23rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-left: 1.9rem;

    &:hover{
        background-color: #fdcc00;
        color: #000;
     }
}
/* Finish Specialist Section*/

/* Start Our Services*/
.our_services_container{
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    text-align: center;
    padding-top: 7.2rem;
    padding-bottom: 6.7rem;
}

.our_services_title{
  font-family: 'RobotoBlack';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0.1em;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: inline-block;

    span{
      font-family: 'Roboto Light';
      font-style: normal;
      font-weight: 300;
    }

    &:before{
        border-left: 4px solid #fdcc00;
        border-top: 4px solid #fdcc00;
        content: "";
        height: 2.3rem;
        margin-left: -3.4rem;
        margin-top: -2rem;
        position: absolute;
        width: 2.3rem;
    }
}

.our_services_sub_text{
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  font-size: 2.4rem;
  color: #639f05;
  letter-spacing: 0.55rem;
  text-transform: uppercase;
  padding-bottom: 4.4rem;
}

.our_services_main_text{
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: #252525;
  padding-left: 3.5rem;
  padding-right: 2.7rem;
  padding-bottom: 3.7rem;
  line-height: 2.8rem;
}

.our_services_block{
  padding-bottom: 4.9rem;
}

.our_services_button1{
    max-width: 27.4rem;
    height: 6.1rem;
    padding-top: 0.2rem;
    background-color: #fdcc00;
    color: #000;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.25rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-right: 1.1rem;
    padding-left: 0.5rem;

    &:hover{
      background: none;
      color: #000;
    }
}

.our_services_button2{
    max-width: 27.8rem;
    height: 6.1rem;
    padding-top: 0.2rem;
    color: #000;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.23rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-right: 0.2rem;
    margin-left: 0.5rem;

    &:hover{
        background-color: #fdcc00;
        color: #000;
     }
}

.our_services_list{
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

.our_services_img{
  max-width: 100%;
  height: auto;
}

.our_services_grid{
  width: 33.3333%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  padding-bottom: 6rem;
  padding-top: 1rem;
  min-height: 0.1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  position: relative;
}

.our_services_link{
  text-decoration: none;
  display: inline-block;
  &:hover{
    cursor: pointer;
    figure:after {
      opacity: 1;
      mix-blend-mode: multiply;
    }
    .our_services_read_more{
      visibility: visible;
    }

    .services_title{
        color: #fff;
    }

    .our_services_information{
      background-color: #000;
    }
  }
}

.our_services_information{
  border: 1px solid #cccccc;
  cursor: pointer;
  display: block;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin-top: 0.7rem;
  padding-bottom: 3.3rem;
}

.our_services_icon_block1{
  background-color: #60a511;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 8.5rem;
  margin-left: 4.9rem;
  margin-top: 2.3rem;
  max-width: 10.2rem;
  width: 100%;
  padding-top: 1.8rem;
}

.our_services_icon_block2{
  background-color: #60a511;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 8.2rem;
  margin-left: 1.9rem;
  margin-top: 2.5rem;
  max-width: 10.2rem;
  width: 100%;
  padding-top: 1.95rem;
}

.our_services_icon_block3{
  background-color: #60a511;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 8.3rem;
  margin-left: 1.5rem;
  margin-top: 2.4rem;
  width: 10.2rem;
  padding-top: 1.1rem;
}

.our_services_desc{
  display: inline-block;
  float: left;
  text-align: left;
}

.services_title{
  font-family: 'RobotoBlack';
  font-weight: 900;
  font-style: normal;
  font-size: 3.6rem;
  color: #252525;
  padding-left: 1.2rem;
  padding-top: 3.5rem;
  letter-spacing: 0.07rem;
}

.services_title_sub_text{
  font-family: 'RobotoBlack';
  font-weight: 900;
  font-style: normal;
  font-size: 2.4rem;
  color: #60a511;
  padding-left: 12px;
  padding-top: 7px;
  letter-spacing: 0.22rem;
}

.our_services_read_more{
  font-family: 'RobotoBlack';
  font-weight: 900;
  font-style: normal;
  font-size: 1.8rem;
  color: #252525;
  background-color: #fdcc00;
  text-transform: uppercase;
  text-decoration: none;
  visibility: hidden;
  margin-top: 0.1rem;
  padding: 2.5rem 0 2.2rem;
  letter-spacing: 0.2rem;
  display: block;
}

.fitting-icon{
  width: 5rem;
  fill: #fff;
  height: 5rem;
}

*::-ms-backdrop, .fitting-icon{
  padding-top:0;
}

.build-icon{
  width: 8rem;
  fill: #fff;
  height: 5rem;
}

*::-ms-backdrop, .build-icon{
  padding-top: 0;
}

.rimming-icon{
  width: 6rem;
  fill: #fff;
  height: 5rem;
}

*::-ms-backdrop, .rimming-icon{
  padding-top: 0;
}

/* Finish Our Services*/


/* Start Our Achievement*/

.our_achievement{
  background: url("../images/our_achievement/bg-our-achievement.png") no-repeat center;
  background-size: cover;
  display: table;
  width: 100%;
  color: #fff;
}

.our_achievement_container{
  margin: 0 auto;
  margin-top: 9.5rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  max-width: 117rem;
}

.achievement_bl{
  display: inline-block;
  border-right: 2px solid #707070;
  box-sizing: border-box;
  padding-top: 0rem;
  padding-bottom: 1.6rem;
  width: 25%;
  float: left;
}

.shadow-container{
  display: inline-block;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.75);
  padding: 2rem 0;
  text-align: center;
  padding-bottom: 9.5rem;
}

.achievement_bl:last-child{
 border:0;
}

.our_achievement_head{
 text-align: center;
}

.title_our_achievement{
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0.1em;
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  margin-top: 9rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: inline-block;

    span{
      font-family: 'Roboto Light';
      font-style: normal;
      font-weight: 300;
    }
}

.contact .title_our_achievement{
  display: block;
}

.contact_form .title_our_achievement {
  display: inline-block;
}

.sub_text_our_achievement{
  font-size: 2.4rem;
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #639f05;
  margin-left: 0.4rem;
  margin-top: 1.9rem;
}

.title_our_achievement:before {
  border-left: 4px solid #fdcc00;
  border-top: 4px solid #fdcc00;
  content: "";
  height: 2.3rem;
  margin-left: -4.1rem;
  margin-top: -2rem;
  position: absolute;
  width: 2.3rem;
}

.number_text{
    font-size: 9rem;
    font-family: 'RobotoBlack';
    font-weight: 900;
    font-style: normal;
    color: #fdcc00;
    text-align: center;
    letter-spacing: 0.1rem;
}

.sub_number_text{
    font-size: 2.4rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 1.4rem;
}

/* Finish Our Achievement*/

/* Start Our Products*/

.our_products{
  background: url("../images/our_products/bg_our_products.png") no-repeat center;
  background-size: cover;
  width: 100%;
}

.our_products_container{
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    text-align: center;
    padding-top: 13.5rem;
    padding-bottom: 6.9rem;
}

.our_products_title{
  font-family: 'RobotoBlack';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0.1em;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: inline-block;

    span{
      font-family: 'Roboto Light';
      font-style: normal;
      font-weight: 300;
    }

    &:before{
        border-left: 4px solid #fdcc00;
        border-top: 4px solid #fdcc00;
        content: "";
        height: 2.3rem;
        margin-left: -3.4rem;
        margin-top: -2rem;
        position: absolute;
        width: 2.3rem;
    }
}

.our_products_sub_text{
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  font-size: 2.4rem;
  color: #639f05;
  letter-spacing: 0.52rem;
  text-transform: uppercase;
  padding-bottom: 4.5rem;
}

.our_products_main_text{
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: #252525;
  padding-left: 3.5rem;
  padding-right: 2.7rem;
  padding-bottom: 3.7rem;
  line-height: 2.8rem;
}

.our_products_block{
  padding-bottom: 5.9rem;
}

.our_products_button1{
    max-width: 28rem;
    height: 6.2rem;
    padding-top: 0.2rem;
    background-color: #fdcc00;
    color: #000;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.23rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-right: 1.1rem;

    &:hover{
      background: none;
      color: #000;
    }
}

.our_products_button2{
    max-width: 27.8rem;
    height: 6.2rem;
    padding-top: 0.2rem;
    color: #000;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.23rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-right: 0.2rem;
    margin-left: 0.5rem;

    &:hover{
        background-color: #fdcc00;
        color: #000;
     }
}

.our_products_list{
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

.our_products_img{
  max-width: 100%;
  height: auto;
}

figure{
    position: relative;
}

figure:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  background-color: #497e0d;
  transition: 0.3s;
}

*::-ms-backdrop, figure::after {
  display: none; // IE 11
}

@supports (-ms-ime-align:auto) {
   figure::after {
     display: none; // MS EDGE
   }
}

.our_products_grid{
  width: 33.3333%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  padding-bottom: 6rem;
  padding-top: 1rem;
  min-height: 0.1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}

.our_products_link{
  text-decoration: none;

    &:hover{
    cursor: pointer;
    figure:after {
    opacity: 1;
    mix-blend-mode: multiply;
    }
    .product_title{
      color: #fdcc00;
    }

    .our_products_information{
      background-color: #111111;
    }

    .product_view_link{
      color: #fff;
    }
  }
}

.our_products_information{
  background-color: #fff;
  text-align: center;
  width: 100%;
  cursor: pointer;
  display: block;
  text-decoration: none;
  margin-top: 0.3rem;
  padding-top: 2.6rem;
}

.product_title{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 3.6rem;
  color: #252525;
  letter-spacing: 0.09rem;
}

.product_view_link{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  color: #60a511;
  text-transform: uppercase;
  letter-spacing: 0.17rem;
  padding-top: 2.8rem;
  padding-bottom: 2.6rem;
}

/* Finish Our Products*/

/* Start Our Specials*/
.our_specials{
  background: url("../images/our_specials/bg-our-specials.png") no-repeat center;
  background-size: cover;
  display: table;
  width: 100%;
  color: #fff;
  .shadow-container{
    padding-bottom: 6rem;
  }
}

.our_specials_title{
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0.63rem;
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  padding-top: 7.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: inline-block;

    span{
      font-family: 'Roboto Light';
      font-style: normal;
      font-weight: 300;
    }

    &:before{
        border-left: 4px solid #fdcc00;
        border-top: 4px solid #fdcc00;
        content: "";
        height: 2.3rem;
        margin-left: -3.4rem;
        margin-top: -2rem;
        position: absolute;
        width: 2.3rem;
    }
}

.our_specials_sub_text{
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #639f05;
  padding-top: 2rem;
  letter-spacing: 0.44rem;
}

.our_specials_container{
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;

    img{
      max-width: 100%;
      padding-left: 64px;
      padding-top: 43px;
    }
}

.our_specials_logo{
  width: 29%;
  display: inline-block;
  float: left;
}

.our_specials_logo_text{
  width: 71%;
  display: inline-block;
  float: left;

    p {
      font-size: 1.6rem;
      font-family: 'Open Sans';
      font-weight: 400;
      font-style: normal;
      text-align: left;
      padding-left: 0.6rem;
      padding-top: 4.7rem;
      max-width: 68.6rem;
      width: 100%;
      line-height: 2.7rem;
      padding-bottom: 7.7rem;
    }
}

.our_specials_button_container{
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  text-align: right;
  padding-top: 6rem;
}

.our_specials_button1{
    max-width: 28rem;
    height: 5.6rem;
    background-color: #fdcc00;
    color: #000;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.23rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-right: 0.2rem;
  &:hover{
    background: none;
    color: #fff;
  }
}

.our_specials_button2{
    max-width: 28rem;
    height: 5.6rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.23rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-left: 1rem;
  &:hover{
    background-color: #fdcc00;
    color: #000;
  }
}


/* Finish Our Specials*/

/* Start Our Our Partners*/
.our_partners_head{
  margin: 0 auto;
  text-align: center;
}

.our_partners_title{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  color: #111111;
  text-transform: uppercase;
  padding-bottom: 2rem;
  padding-top: 16.5rem;
  letter-spacing:  0.6rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: inline-block;

  span{
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
  }
}

.our_partners_title:before{
    border-left: 4px solid #fdcc00;
    border-top: 4px solid #fdcc00;
    content: "";
    height: 2.3rem;
    margin-left: -3rem;
    margin-top: -2rem;
    position: absolute;
    width: 2.3rem;
}

.our_partners_desc{
  font-size: 2.4rem;
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  color: #639f05;
  text-transform: uppercase;
  padding-bottom: 13.8rem;
  letter-spacing: 0.524rem;
}

#owl-slideshow{
  padding-bottom: 13.6rem;
}

.item{
  display: table-cell;
  position: relative;
  top: 0;
  vertical-align: middle;
  width: 100%;

      img{
        max-width: 100%;
      }
}

.owl-item {
  padding-right:  0.6rem;
}

/*Finish Our Our Partners*/

/*Get a Quote Section*/
.get_a_quote{
    background-color: #fdcc00;
    min-height: 21.2rem;
    color: #252525;
}

.main_container{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.get_a_quote_col1{
  float: left;
  width: 40%;
}

.get_a_quote_col2{
  float: left;
  width: 60%;
  padding-left: 9.5rem;
    box-sizing: border-box;
}

.get_a_quote_second_block{
    margin-top: 1.5rem;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.columns2_c1_inner, .get_a_quote_r{
  padding-left: 0;
}

.get_a_quote_container .columns2_c1{
  background-color: #fdcc00;
}

.get_a_quote_container .columns2_c2{
  background-color: #fdcc00;
}

.get_a_quote_title{
  font-size: 4.8rem;
  font-family: 'RobotoBlack';
    font-style: normal;
  font-weight: 900;
  line-height: 2.4rem;
  padding-bottom: 1.5rem;
  margin-left: 0.2rem;
    margin-top: 0.9rem;
    letter-spacing: 0.1rem;
}

.get_a_quote_desc{
  font-size: 1.8rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  width: 49rem;
  line-height: 2.4rem;
    margin-top: 0.6rem;
    letter-spacing: 0.009rem;
}

.call_us_today_title{
  color: #639f05;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    letter-spacing: 0.2rem;
    margin-left: -0.2rem;
    margin-top: 0.3rem;
}

.call_phone_icon{
  display: inline-block;
  fill: #639f05;
  padding-right: 1.4rem;
  vertical-align: top;
  width: 1.8rem;
  height: 1.5rem;
}

.call_us_today_phone{
    color: #111111;
    font-size: 2.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.1rem;

  a{
      color: #111111;
      text-decoration: none;
      display: inline-block;
      letter-spacing: 0.36rem;
      margin-top: 0.1rem;
  }

  a:hover{
    color: #000;
  }
}

.call_us_today_phone:before{
  border-left: 1px solid #000;
    content: "";
    height: 6.4rem;
    margin-left: -2.5rem;
    margin-top: -2rem;
    position: absolute;
    width: 2.3rem;
}

.call_us_today_block {
    display: inline-block;
    float: left;
    width: 38%;
}

.call_us_today_block a{
  text-decoration: none;
}

.button_contact_us{
    max-width: 27.6rem;
    height: 5.6rem;
    background-color: #000;
    color: #fffefe;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.23rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #000;
    transition-duration: 0.3s;
    display: inline-block;
    width: 27rem;
  &:hover{
    background: none;
    color: #000;
  }
}

.call_us_button a{
  text-decoration: none;
}

.call_us_today_block{
  display: inline-block;
  float: left;
  width: 40%;
}
.call_us_button{
    display: inline-block;
    float: left;
    width: 48%;
    padding-left: 1.8rem;
    box-sizing: border-box;
}

.span_or{
    font-size: 1.8rem;
    font-family: 'Roboto';
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #000;
    display: inline-block;
    width: 12%;
    float: left;
    margin-top: 2.6rem;
    text-align: center;
}

/* Finish Get a Quote Section*/

// PRODUCTS PAGE - START

/* Start Product Page*/
.products{
  background: url("../images/products_page/bg-products-page.png") no-repeat center;
  background-size: cover;
  display: table;
  width: 100%;
  color: #fff;
  .shadow-container{
    text-align: left;
    padding-bottom: 2.3rem;
    padding-top: 2rem;
  }
}

.products_container{
  margin: 0 auto;
  width: 100%;
  max-width: 117rem;
}

.products_container_content{
  margin: 0 auto;
  width: 100%;
  max-width: 118rem;
}

.title_products_page{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  padding-left: 7.8rem;
  padding-top: 21.3rem;
  letter-spacing: 0.63rem;

  &:before{
    border-left: 4px solid #fdcc00;
    border-top: 4px solid #fdcc00;
    content: "";
    height: 2.3rem;
    margin-left: -3.7rem;
    margin-top: -2rem;
    position: absolute;
    width: 2.3rem;
  }
}

.products_breadcrumbs{
  float: right;
  padding-right: 1.5rem;
  padding-top: 1.6rem;

  li{
    display: inline;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

      &:after{
        content: "";
        height: 2rem;
        width: 0.1rem;
        position: absolute;
        border-right: 2px solid #fff;
        margin-top: 0.2rem;
        margin-left: 0.9rem;
      }

      &:last-child:after{
        border-right: 0;
      }

    a{
      text-decoration: none;
      color: #fff;

      &:hover{
        color: #ccc;
      }
    }
  }
}

.products_content{
  width: 71%;
  float: left;
  display: inline-block;
  font-size: 1.6rem;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  padding-top: 12rem;
  padding-bottom: 27.3rem;

  img{
    padding-left: 0.1rem;
    padding-top: 4.5rem;
    padding-bottom: 3.2rem;
    max-width: 100%;
  }

}

.bold_subtitle{
  font-weight: 800;
  letter-spacing: -0.03rem;
  padding-bottom: 3.7rem;
}

.bold_subtitle2{
  padding-bottom: 3.8rem;
  padding-top: 3.6rem;
  font-weight: 800;
  letter-spacing: -0.03rem;
}

.products_page_text{
  padding-right: 6.3rem;
  line-height: 3rem;
  text-align: left;
  padding-bottom: 1rem;

  span{
    font-weight: 700;
  }
}

.products_sidebar{
  width: 29%;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.4rem;
}

.products_page_title{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  padding-left: 4rem;
  letter-spacing: 0.6rem;

  &:before{
    border-left: 4px solid #fdcc00;
    border-top: 4px solid #fdcc00;
    content: "";
    height: 2.3rem;
    margin-left: -3.7rem;
    margin-top: -2rem;
    position: absolute;
    width: 2.3rem;
  }

  span{
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
  }

}

.sub_products_page_title{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  color: #639f05;
  text-transform: uppercase;
  padding-left: 4.5rem;
  padding-top: 2rem;
  padding-bottom: 4.2rem;
  letter-spacing: 0.52rem;
}

.products_page_table{
  margin-top: 7.3rem;
  max-width: 84.5rem;
  width: 100%;
  border: 1px solid #000;
  td{
    border: 1px solid #000;
    padding-bottom: 1rem;
    padding-left: 1.1rem;
    padding-top: 1rem;
  }
}

.table_col_1{
  width: 11.4rem;
}

.table_col_2{
  width: 11.6rem;
}

.table_col_3{
  width: 14rem;
}

.table_col_4{
  width: 10.8rem;
}

.table_col_5{
  width: 7.6rem;
}

.table_col_6{
  width: 6.4rem;
}

.table_col_8{
  width: 6.6rem;
}

.table_header{
  border: 1px solid #000;
  background-color: #639f05;
  color: #fff;
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.product_menu{
  width: 100%;
  padding-bottom: 7.4rem;
  padding-top: 9.1rem;
}

  .product_list{
    width: 100%;
  li{
    width: 100%;
    background-color: #fdcc00;
    margin-bottom: 0.1rem;

      &:hover{
        background-color: #000;

        a{
          color: #fdcc00;
        }
      }
  }

  a{
    display: block;
    text-decoration: none;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    color: #080700;
    font-size: 1.677rem;
    text-transform: uppercase;
  }
  .product_item{
      display: inline-block;
      width: 100%;
    a {
      padding-bottom: 2.3rem;
      width: 100%;
      height: 100%;
      box-sizing:border-box;
      padding-left: 3.7rem;
      padding-right: 3.7rem;
      display: inline-block;
      padding-top: 2.3rem;
      letter-spacing: 0.2rem;
    }
  }
}

.get_a_quote_block{
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 3.9rem;
  padding-bottom: 3.6rem;

  span{
    font-size: 1.8rem;
    font-family: 'Open Sans';
    font-weight: 400;
    display: block;
    padding-top: 0.8rem;
    padding-bottom: 1.3rem;
  }
}

.sidebar_title_get_a_quote{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 4.8rem;
  letter-spacing: 0.15rem;
  padding-bottom: 1.6rem;
}

.sidebar_subtext_get_a_quote{
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  color: #252525;
  padding-bottom: 4.1rem;
}

.sidebar_get_a_quote_button1{
    max-width: 27.4rem;
    height: 6.1rem;
    padding-top: 0.2rem;
    background-color: #fdcc00;
    color: #1f1f1f;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.25rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;

    &:hover{
      background: none;
    }
}

.sidebar_get_a_quote_button2{
    max-width: 27.4rem;
    height: 6.1rem;
    padding-top: 0.2rem;
    color: #1f1f1f;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.25rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;

    &:hover{
      background: #fdcc00;
    }
}

.products_specials_page{
  .shadow-container {
    padding-bottom: 9.6rem;
  }
  .our_specials_title{
    padding-left: 4.1rem;
    padding-top: 9.5rem;
  }
  .our_specials_sub_text{
    padding-left: 0.8rem;
    padding-top: 1.8rem;
  }
  .our_specials_button_container{
    text-align: center;
  }
  .our_specials_container img {
    padding-top: 4.6rem;
  }
  .our_specials_button1{
    margin-left: 0.9rem;
    padding-bottom: 0.3rem;
    padding-left: 0.4rem;
    padding-top: 0.3rem;
    max-width: 27.3rem;
  }
}
/* Finish Product Page*/

/* Start Services Page*/

.services{
  background: url("../images/services_page/bg_services_page.jpg") no-repeat center;
  background-size: cover;
  display: table;
  width: 100%;
  color: #fff;
  padding-bottom: 2.2rem;
}

.services_container{
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
}

.title_services_page{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  padding-left: 7.8rem;
  padding-top: 23.3rem;
  letter-spacing: 0.63rem;

  &:before{
    border-left: 4px solid #fdcc00;
    border-top: 4px solid #fdcc00;
    content: "";
    height: 2.3rem;
    margin-left: -3.7rem;
    margin-top: -2rem;
    position: absolute;
    width: 2.3rem;
  }
}

.services_breadcrumbs{
  float: right;
  padding-right: 2.6rem;
  padding-top: 1.6rem;

  li{
    display: inline;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

      &:after{
        content: "";
        height: 2rem;
        width: 0.1rem;
        position: absolute;
        border-right: 2px solid #fff;
        margin-top: 0.2rem;
        margin-left: 0.9rem;
      }

      &:last-child:after{
        border-right: 0;
      }

    a{
      text-decoration: none;
      color: #fff;

      &:hover{
        color: #ccc;
      }
    }
  }
}

.services_page_container{
  width: 100%;
  max-width: 118rem;
  margin: 0 auto;
  box-sizing: border-box;
  display: table;
}

.services_page_content_block{
  width: 71%;
  display: table-cell;
  float: left;
  font-size: 1.6rem;
  font-family: 'Open Sans';
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 12.1rem;
  padding-bottom: 23.2rem;
  padding-right: 1.2rem;

  img{
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
    max-width: 100%;
  }
}

.services_text_content{
  padding-right: 4.8rem;
  line-height: 3rem;
  text-align: left;

  span{
    font-weight: 700;
  }
}

.services_page_sidebar{
  width: 29%;
  display: table-cell;
  float: left;
  box-sizing: border-box;
  padding-right: 0.5rem;
  padding-left: 0.4rem;
}

.services_page_title{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  padding-left: 4rem;
  letter-spacing: 0.6rem;

  &:before{
    border-left: 4px solid #fdcc00;
    border-top: 4px solid #fdcc00;
    content: "";
    height: 2.3rem;
    margin-left: -3.7rem;
    margin-top: -2rem;
    position: absolute;
    width: 2.3rem;
  }

  span{
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
  }
}

.services_page_sub_title{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  color: #639f05;
  text-transform: uppercase;
  padding-left: 4.5rem;
  padding-top: 2rem;
  padding-bottom: 4.2rem;
  letter-spacing: 0.52rem;
}

.services_menu{
  width: 100%;
  padding-bottom: 6.3rem;
  padding-top: 8.6rem;
}

  .services_list{
    width: 100%;
  li{
    width: 100%;
    background-color: #fdcc00;
    margin-bottom: 0.1rem;

      &:hover{
        background-color: #000;

        a{
          color: #fdcc00;
          font-family: 'RobotoBlack';
          font-style: normal;
          font-weight: 900;
        }
      }
  }

  a{
    display: block;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.677rem;
    color: #080700;
    text-transform: uppercase;
  }
  .services_item{
    display: inline-block;
    width: 100%;

    a{
    padding-bottom: 2.3rem;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    padding-left: 3.7rem;
    padding-right: 2rem;
    display: inline-block;
    padding-top: 2.9rem;
    letter-spacing: 0.2rem;


    span{
      font-family: 'RobotoBlack';
      font-style: normal;
      font-weight: 900;
      font-size: 1.677rem;
    }
  }
}
}

.services_list_type{
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-top: 0.5rem;

    li{
      list-style-type: none;

      &:before{
        content: "- ";
      }
    }
}


/* Finish Services Page*/

/* Start Specials Page*/

.specials_header{
  background: url("../images/specials_page/bg_specials_page.jpg") no-repeat center;
  background-size: cover;
  display: table;
  width: 100%;
  color: #fff;
  padding-bottom: 2.2rem;
}

.specials_container{
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
}

.title_specials_page{
   font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  padding-left: 7.8rem;
  padding-top: 23.3rem;
  letter-spacing: 0.63rem;

  &:before{
    border-left: 4px solid #fdcc00;
    border-top: 4px solid #fdcc00;
    content: "";
    height: 2.3rem;
    margin-left: -3.7rem;
    margin-top: -2rem;
    position: absolute;
    width: 2.3rem;
  }
}

.specials_breadcrumbs{
  float: right;
  padding-right: 2.6rem;
  padding-top: 1.6rem;

  li{
    display: inline;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

      &:after{
        content: "";
        height: 2rem;
        width: 0.1rem;
        position: absolute;
        border-right: 2px solid #fff;
        margin-top: 0.2rem;
        margin-left: 0.9rem;
      }

      &:last-child:after{
        border-right: 0;
      }

    a{
      text-decoration: none;
      color: #fff;

      &:hover{
        color: #ccc;
      }
    }
  }
}

.our_specials_content{
  padding-bottom: 13rem;
}

.our_specials_content_container{
  width: 100%;
  max-width: 118rem;
  margin: 0 auto;
  display: table;
  box-sizing: border-box;
}

.our_specials_content_block{
  width: 71%;
  display: table-cell;
  float: left;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.6rem;
  padding-top: 12.1rem;
  box-sizing: border-box;
  padding-right: 1.2rem;

    img{
      max-width: 100%;
      padding-top: 4.5rem;
    }
}

.our_specials_sidebar{
  width: 29%;
  display: table-cell;
  float: left;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.4rem;
}

.our_specials_page_title{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  padding-left: 4rem;
  letter-spacing: 0.6rem;

  &:before{
    border-left: 4px solid #fdcc00;
    border-top: 4px solid #fdcc00;
    content: "";
    height: 2.3rem;
    margin-left: -3.7rem;
    margin-top: -2rem;
    position: absolute;
    width: 2.3rem;
  }

  span{
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
  }
}

.our_specials_page_sub_title{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  color: #639f05;
  text-transform: uppercase;
  padding-left: 4.5rem;
  padding-top: 2rem;
  padding-bottom: 4.2rem;
  letter-spacing: 0.52rem;
}

.our_specials_table{
  margin-top: 3.2rem;

  td{
    padding-bottom: 1.6rem;
  }
}

.our_specials_table_header{
  font-size: 1.8rem;
  font-family: 'Open Sans';
  font-weight: 800;
  text-transform: uppercase;
}

.our_specials_table_col1{
  width: 29rem;
}

.our_specials_table_col2{
  width: 36rem;
  padding-bottom: 4.2rem !important;
}

.our_specials_italic{
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.6rem;
  padding-top: 4.4rem;
  font-style: italic;
  letter-spacing: -0.034rem;
  padding-top: 4.4rem;
  padding-left: 0.4rem;
}

.our_specials_price_text{
  padding-top: 3.3rem;
  padding-left: 0.6rem;
}

.our_specials_menu{
  width: 100%;
  padding-bottom: 6.3rem;
  padding-top: 8.6rem;
}

  .our_specials_list{
    width: 100%;
  li{
    width: 100%;
    background-color: #fdcc00;
    margin-bottom: 0.1rem;

      &:hover{
        background-color: #000;

        a{
          color: #fdcc00;
          font-family: 'RobotoBlack';
          font-style: normal;
          font-weight: 900;
        }
      }
  }

  a{
    display: block;
    text-decoration: none;
    font-family: 'RobotoBlack';
    font-weight: 900;
    font-size: 1.677rem;
    color: #080700;
    text-transform: uppercase;
  }
  .our_specials_item{
    display: inline-block;
    width: 100%;
  }
  .our_specials_item_link{
    padding-bottom: 2.3rem;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    padding-left: 3.7rem;
    padding-right: 2rem;
    display: inline-block;
    padding-top: 2.9rem;
    letter-spacing: 0.2rem;


    span{
      font-family: 'RobotoBlack';
      font-style: normal;
      font-weight: 900;
      font-size: 1.677rem;
    }
  }
}

/* Finish Specials Page*/

/* Start ABOUT US Page*/

.about_us_page{
  background: url("../images/our-company/bg_our_company.jpg") no-repeat center;
  background-size: cover;
  display: table;
  width: 100%;
  color: #fff;
  padding-bottom: 2.2rem;
}

.about_us_page_container{
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
}

.title_about_us_page_page{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  padding-left: 7.8rem;
  padding-top: 23.3rem;
  letter-spacing: 0.63rem;

  &:before{
    border-left: 4px solid #fdcc00;
    border-top: 4px solid #fdcc00;
    content: "";
    height: 2.3rem;
    margin-left: -3.7rem;
    margin-top: -2rem;
    position: absolute;
    width: 2.3rem;
  }
}

.about_us_page_breadcrumbs{
  float: right;
  padding-right: 1.7rem;
  padding-top: 1.6rem;

  li{
    display: inline;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

      &:after{
        content: "";
        height: 2rem;
        width: 0.1rem;
        position: absolute;
        border-right: 2px solid #fff;
        margin-top: 0.2rem;
        margin-left: 0.9rem;
      }

      &:last-child:after{
        border-right: 0;
      }

    a{
      text-decoration: none;
      color: #fff;

      &:hover{
        color: #ccc;
      }
    }
  }
}

.our_services_container, .our_company_inner, .safety_inner {
  padding-top: 4.4rem !important;
}

.our_company_inner {
  padding-bottom: 12.3rem !important;
}

.safety_grid {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.our_team{
  padding-top: 15.5rem;
}

.our_team_container{
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
  text-align: center;
}

.our_team_title{
  color: #111111;
  font-family: "RobotoBlack";
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.55rem;
  text-transform: uppercase;
  display: inline-block;

  &:before{
    border-left: 6px solid #fdcc00;
    border-top: 5px solid #fdcc00;
    content: "";
    height: 2.3rem;
    margin-left: -2.6rem;
    margin-top: -2rem;
    position: absolute;
    width: 2.3rem;
  }

  span{
    font-family: 'Roboto';
    font-weight: 400;
  }
}

.our_team_sub_text{
  font-family: 'RobotoBlack';
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  color: #639f05;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding-top: 2rem;
}

.our_team_row{
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  padding-top: 14.8rem;
  padding-bottom: 27.8rem;
}


.our_team_grid3{
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 33.3333%;

    img{
      width: 100%;
      max-width: 29.6rem;
    }
}

.our_team_name{
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 3.6rem;
  color: #252525;
  padding-top: 4.2rem;
}

.our_team_name_position{
  font-size: 1.6rem;
  font-family: 'Open Sans';
  font-weight: 400;
  padding-top: 1.7rem;
}

.main_about_us #owl-slideshow{
  padding-bottom: 15rem;
}


/* Finish ABOUT US Page*/




/* HEAD SECTION */
@import "partial/head_section";






/* Header SUB MENU

$menu_bg : transparent;
$menu_li_bg : #fdcc00;
$menu_height: 20rem;
$li_padding: 3rem 4.2rem;

$menu_li_bg_active: #000;
$menu_li_bg_hover: #000;
$menu_a_color: #000000;
$menu_a_color_hover: #fdcc00;
$menu_a_color_active: #fdcc00;


@include menu_h("header_menu_ul_child");

.header_menu_ul_child {
  position: absolute;
}
*/

@import "partial/iscroll";
@import "partial/main-menu";
@import "partial/grid3";
@import "partial/grid4";
@import "partial/grid6";
@import "partial/cover_image";
@import "partial/full_height";
@import "partial/full_height2";
@import "partial/full_height_video";
@import "partial/columns2";
@import "partial/table";
@import "partial/social";
@import "partial/columns_image";


.header_menu_li_parent > a:after{
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.6rem solid #fdcc00;
  position: relative;
  top: 0.5rem;
  right: -0.8rem;
}
.header-icon{
  width: 5rem;
  height: 5rem;
  display: none;
  float: right;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 4rem;
  fill:#5fa70f;
}

.header-icon-cross_menu{
    width: 5rem;
    height: 5rem;
    transition-duration:0.3s;
    float: right;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 4rem;
    fill:#5fa70f;
    opacity:0;
    display:none;
}

.header_menu-fix{
  position: fixed;
  top: 15px;
  margin-top: 0;
  top:15px;
  position: fixed;
}
.header-icon-fix{
  position: fixed;
  top:15px;
  bottom:auto;
}

/*contact-section*/
.container-contact{
  max-width:1170px;
  width:100%;
  display:inline-block;
  margin:0 auto;
}
.pages-start_section{
  background: url('../images/contact/bg_contact_page.jpg') no-repeat center;
  background-size:cover;
  text-align:center;
  padding-bottom: 2.1rem;
}

h1.title_our_achievement.page-start_title{
  text-align: left;
  margin-top: 23.4rem;
  margin-left: 4.3rem;
  font-weight: 700;
  color: #fff;
}

.contact_breadcrumbs{
  float: right;
  padding-right: 2.4rem;
  padding-top: 1.6rem;

  li{
    display: inline;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

      &:after{
        content: "";
        height: 2rem;
        width: 0.1rem;
        position: absolute;
        border-right: 2px solid #fff;
        margin-top: 0.2rem;
        margin-left: 0.9rem;
      }

      &:last-child:after{
        border-right: 0;
      }

    a{
      text-decoration: none;
      color: #fff;

      &:hover{
        color: #ccc;
      }
    }
  }
}

.contact_info{
  text-align:center;
  overflow: hidden;
}
.contact-list{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10rem;
    margin-bottom:15.8rem;
}
.contact-item_container{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 28.8%;
    float:left;
}
.contact-item_img{
  width:7.3rem;
  height:7.3rem;
  display:inline-block;
}

.contact-item_location, .contact-item_phone, .contact-item_mail{
  width:7.3rem;
  height:7.3rem;
  display:inline-block;
  background-color: #639f05;
}

.contact-item_location{
      padding-top: 1.2rem;
      box-sizing: border-box;
  svg{
    width: 3.5rem;
    fill: #fff;
  }
}

*::-ms-backdrop, .contact-item_location > svg{
  padding-top: 0;
}

.contact-item_mail{
      padding-top: 2.1rem;
      box-sizing: border-box;
  svg{
    width: 4.5rem;
    fill: #fff;
  }
}

*::-ms-backdrop, .contact-item_mail > svg{
  padding-top: 0;
}

.contact-item_phone{
     padding-top: 1.5rem;
     box-sizing: border-box;
  svg{
    width: 4rem;
    fill: #fff;
  }
}

*::-ms-backdrop, .contact-item_phone > svg{
  padding-top: 0;
}

.contact-item_container:nth-child(1){
  .contact-item_img{
    background: url(../images/footer-sections/footer-map-icon.png) no-repeat center;
    background-size:cover;
  }
}
.contact-item_container:nth-child(2){
  width:42.4%;
  .contact-item_img{
    background: url(../images/footer-sections/footer-phone-icon.png) no-repeat center;
    background-size:cover;
  }
  .contact-item_text-container{
    margin-top: 3.8rem;
  }
  a.contact-item_text{
    display:block;
    font-weight: 700;
    font-family: "RobotoBlack";
    color:#639f05;
    margin-top: 0.6rem;
    span{
      font-family: "Open Sans";
      font-weight: 400;
      text-align: center;
      color: #252525;
      text-decoration: none;
      font-size: 2.35rem;
      margin-top: 1rem;
      font-weight: 600;
      letter-spacing: -0.02rem;
      padding-right: 0.1rem;
      padding-left: 0.9rem;
    }
  }
}
.contact-item_container:nth-child(3){
  .contact-item_img{
    background: url(../images/footer-sections/footer-mail-icon.png) no-repeat center;
    background-size:cover;
  }
}

.container_contact_form{
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  display: table;
  padding-top: 1rem;
  padding-bottom: 12.9rem;
}

.contact_label_col1{
  width: 50%;
  float: left;
  box-sizing: border-box;

    input{
      width: 100%;
      max-width: 53.2rem;
      height: 7.8rem;
      border: 2px solid #b2b2b2;
      margin-bottom: 2.1rem;
      font-family: 'Open Sans';
      font-weight: 600;
      font-style: italic;
      color: #7c7c7c;
      font-size: 1.8rem;
      padding-left: 2.6rem;
      padding-top: 0.2rem;
      display: block;
    }
}

.contact_label_col2{
  width: 50%;
  float: left;
  box-sizing: border-box;

  textarea{
    width: 100%;
    max-width: 53.6rem;
    height: 26.4rem;
    border: 2px solid #b2b2b2;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: italic;
    color: #7c7c7c;
    font-size: 1.8rem;
    padding-top: 2.8rem;
    padding-left: 2.7rem;
    resize: none;
    display: block;
  }
}

.contact_button_send{
    max-width: 27.4rem;
    height: 6.1rem;
    padding-top: 0.2rem;
    background-color: #fdcc00;
    color: #000;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.25rem;
    text-align: center;
    vertical-align: middle;
    line-height: 5.6rem;
    border: 2px solid #fdcc00;
    transition-duration: 0.3s;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    float: right;
    margin-top: 1.7rem;
    margin-right: 1.3rem;

    &:hover{
      background: none;
      color: #000;
    }
}

.contact-item_title{
  font-size: 3rem;
  font-family: "RobotoBlack";
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 2.6rem;
  letter-spacing: 0.6rem;
  padding-left: 0.3rem;
}
.contact-item_text{
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  color: #252525;
  text-decoration: none;
  font-size: 2.35rem;
  margin-top: 3.8rem;
  font-weight: 600;
  letter-spacing: -0.02rem;
  padding-right: 0.1rem;

  a{
    text-decoration: none;
    color: #252525;
  }
}
#map{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 43.4rem;
}
.contact_form{
  text-align:center;
  .title_our_achievement{
    font-family: Roboto;
    font-weight: 700;
    margin-top: 11.7rem;
    margin-left: 0.7rem;
  }
  .sub_text_our_achievement{
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    color: #639f05;
    margin-top: 2rem;
    font-size: 2.4rem;
    letter-spacing: 0.54rem;
    padding-left: 0.4rem;
  }
  .head_section_text1{
    margin-top: 2.4rem;
    font-size: 1.6rem;
    letter-spacing: 0.04rem;
    padding-left: 0.8rem;
    margin-bottom:5rem;
  }
}
/*about*/
.about-company{
  text-align: center;
  .container{
    text-align: left;
  }
}
.company_list{
  width:100%;
  display:inline-block;
}
.company-item_container{
  float:left;
  width:60%;
}
.company-item_container-img{
  width:40%;
  float:left;
}
@import "partial/our_company/our_company";
@import "partial/our_company/safety";
