
/* Header Section */

@media only screen and (max-width: 768px) {

	.contact-list{
		margin-bottom:8rem;
	}
	// h1.title_our_achievement.page-start_title{
	// 	margin-top: 9rem;
	// }
	.contact-item_container{
		width:100%;
		float:none;
		margin-bottom:7rem;
	}
	.header_menu{
		transition-duration:0.3s;
	}
	.grid4_li:not(:nth-last-child(1)) .achievement_block:after{
	    display: none;   
	}
	.our_achievement .grid4_ul {
		margin: 0;
	}

	.header{
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		z-index: 9;
	}
	.header_widgets__,.header_menu{
		display:none;
	}
	.header_menu{
		display: block;
		width: 30rem;
		position: fixed;
		height: 100vh;
		margin: 0;
		right: -30rem;
		box-sizing:border-box;
		top: 0;
		left:auto;
		background: #639f05;
		padding-top: 14rem;
		z-index: 2;
	}
	.header_menu_ul{
		display:block;
		height:auto;
		padding-bottom: 14rem;
	}
	.header_menu_li{
		display:block;
		width:100%;
		text-align:left;
	}
	.header_menu_li, .header_menu_li_active{
		padding:2rem 5rem;
		a{
			font-size:1.8rem;
		}
	}
	.header_menu_child{
		position: relative;
		transform:none;
		margin-top: 2rem;
	}
	.header_menu_li > a:hover, .header_menu_li:hover > a{
			color:#afdc68;	
	}
	.header_menu_child_li{
		background:none;
			color:#afdc68;
		&:hover{
			background:none;
			color:#afdc68;
		}
	}
	.header_menu_child_li a{
		color:#afdc68;
	}
	// .header-icon-scroll{
	//     display: inline-block;
	//     position: fixed;
	//     top: 4rem;
	//     bottom: auto;
	//     z-index: 8;
	// }
	.header-icon{
		display:inline-block;
	}
	.header-icon-cross_menu{
		z-index: 9;
		// display:inline-block;
	}
	.active-menu{
	  right:0;
	}
	.header-icon-cross_menu-active{
		display:block;
		opacity:1;
		position: fixed;
		bottom:auto;
		top:2rem;
	}

}

/* MOBILE TITLE H1 Size */

@media only screen and (max-width: 400px) {

	.our_services_title, .title_our_achievement, .our_products_title, .our_specials_title, .our_partners_title{
		font-size: 4rem;
	}

}

/* FINISH MOBILE TITLE H1 Size */

/* Start Specialist Section */
@media only screen and (max-width: 500px) {
	
	.specialist_text_block{
		padding-left: 5rem;
		padding-top: 10.7rem;
	}
	
	.specialist_title{
		font-size: 7rem;
	}

	.specialist_head_text{
		font-size: 2.5rem;
	}

	.specialist_main_text{
		padding-right: 5rem;
	}
	
	.specialist_button1{
		display: block;
	}

	.specialist_button2{
		display: block;
		margin: 0;
		margin-top: 1rem;
	}


}
/* Finish Specialist Section */

/* Start Our Services */
@media only screen and (max-width: 1200px) {

	.our_services_list{
		margin: 0;
	}

	.our_services_main_text {
		font-size: 2rem;
	}

	p.services_title{
		font-size: 2.8rem;
	}

}

@media only screen and (max-width: 800px) {
	.our_services_icon_block1, .our_services_icon_block2, .our_services_icon_block3{
		margin-left: 0.2rem;
	}

}

@media only screen and (max-width: 720px) {
	
	.our_services_grid{
		width: 100%;
		max-width: 55rem;
		float: none;
		padding-right: 2rem;
		padding-left: 2rem;
		padding-bottom: 2rem;
	}

	.our_services_icon_block1, .our_services_icon_block2, .our_services_icon_block3{
		margin-left: 1.2rem;
	}

}

@media only screen and (max-width: 500px) {
	
	.our_services_button1 {
		display: block;
		margin: 0 auto;
		margin-bottom: 0.8rem;
	}

	.our_services_button2 {
		display: block;
		margin: 0 auto;
	}

}

/* Finish Our Service*/

/* Start Our Achievement */

@media only screen and (max-width: 1080px) {
	.achievenent_bl_container{
		width: 80rem;
		margin: 0 auto;
	}

	.achievement_bl{
		width: 50%;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.achievement_bl:nth-child(1), .achievement_bl:nth-child(2){
		border-bottom: 2px solid #707070;
	}
	
	.achievement_bl:nth-child(2){
		border-right: 0;
	}

}

@media only screen and (max-width: 640px) {
	.achievenent_bl_container{
		width: 100%;
	}

	.achievement_bl{
		width: 100%;
		float: none;
		padding-top: 2rem;
		padding-bottom: 4rem;
		border: 0;
	}
	
	.achievement_bl:nth-child(1), .achievement_bl:nth-child(2){
		border: 0;
	}
}
/* Finish Our Achievement */

/* Start Our Products */
@media only screen and (max-width: 1180px) {

	.our_products_list {
		margin: 0;
	}
}

@media only screen and (max-width: 600px) {
	
	.our_products_grid {
		width: 50%;
	}


	.our_products_main_text {
		font-size: 2rem;
	}

}

@media only screen and (max-width: 500px) {
	
	.our_products_button1 {
		display: block;
		margin: 0 auto;
		margin-bottom: 0.8rem;
	}

	.our_products_button2 {
		display: block;
		margin: 0 auto;
	}

}

@media only screen and (max-width: 400px) {
	
	.our_products_grid {
		width: 100%;
		float: none;
	}

	.our_products_container {
		padding-top: 6rem;
	}

}

/* Finish Our Products */

/*Start Our Specials*/

@media only screen and (max-width: 1080px) {

	.our_specials_button_container{
		text-align: center;
	}


	.our_specials_logo{
		width: 100%;
		float: none;
	}

	.our_specials_logo_text {
		width: 100%;
		float: none;
	}

	.our_specials_container img {
		padding-left: 0;
		padding-top: 4.2rem;
	}

	.our_specials_logo_text p {
		margin: 0 auto;
		text-align: center;
		font-size: 2rem;
		padding-left: 0;
		padding-bottom: 0;
	}

}

@media only screen and (max-width: 500px) {
	
	.our_specials_button1 {
		display: block;
		margin: 0 auto;
		margin-bottom: 0.8rem;
	}

	.our_specials_button2 {
		display: block;
		margin: 0 auto;
	}

}

/*Finish Our Specials*/


/*Start Our Partners*/
@media only screen and (max-width: 1080px) {
	
	.owl-item {
  		padding-right:  0;
	}

}
/*Finish Our Partners*/


/*Start Get A Quote Section*/
@media only screen and (max-width: 720px) {

	.get_a_quote_col1{
		float: none;
		width: 100%;
        text-align: center;
	}

	.get_a_quote_col2{
		float: none;
		padding-left: 0;
        margin: 0 auto;
	}

	.get_a_quote_first_block{
		max-width: 40rem;
		margin: 0 auto;
		padding: 1.5rem;
	}

	.get_a_quote_second_block{
		margin-left: 0;
		margin: 0 auto;
		padding: 1.5rem;
	}
	
	.call_us_today_phone a {
		letter-spacing: 0;
	}

	.get_a_quote_desc {
		width: 100%;
	}

	.call_us_today_phone:before{
		border: 0;
	}

	.call_us_today_block{
		width: 50%;
		float: left;
	}
	
	.call_us_button{
		width: 50%;
		float: left;
        text-align: center;
	}

	.span_or {
		display: none;
	}

}

@media only screen and (max-width: 640px) {
    .call_us_today_block{
        width: 100%;
        float: none;
        text-align: center;
    }
    
    .call_us_button{
        width: 100%;
        float: none;
        padding-top: 14px;
    } 
    
    .button_contact_us {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {

    .call_us_today_phone a {
        letter-spacing: 0;
    }
    
    .call_us_today_phone:before{
		border: 0;
	}
	
    .call_us_button{
        padding-left: 0;
    }
}
/*Finish Get A Quote Section*/

@media only screen and (max-width: 770px) {

/*Start Main Footer*/	    
.footer_grid_information, .footer_grid_our_services, .footer_grid_additional_info, .footer_grid_contact{
	width: 50%;
	padding-left: 2rem;
	padding-bottom: 3rem;
	height: 32rem;
}

.footer_menu_title{
	font-size: 2.5rem;
}

/*Finish Main Footer*/

/*Start Sub Footer*/
	.sub_footer .sub_footer_container .sub_footer_menu {
		margin-left: 1.3rem;
		float: none;
	}
    
    .sub_footer_copywrite{
        padding-bottom: 0.4rem;
    }

    .footer_logo_text {
    	font-size: 2rem;
    	max-width: 100%;

    	p{
    		padding-right: 1rem;
    	}
    }

    .our_services_li, .additinal_info_li{
    	a{
    		font-size: 2rem;
    	}
    }

    .footer_home_icon_text, .footer_phone_icon_text, .footer_mail_container, .footer_location_icon_text{
    	font-size: 2rem;
    	a{
			font-size: 2rem;
    	}
    }
    
/*Finish Sub Footer*/

}

@media only screen and (max-width: 500px) {
	.footer_grid_information, .footer_grid_our_services, .footer_grid_additional_info, .footer_grid_contact{
		width: 100%;
		float: none;
		padding-bottom: 5rem;
		height: auto;
	}
}


// START LINK ASSEMBLY PAGE
@media only screen and (max-width: 1200px) {

	.products_sidebar{
		padding-left: 2rem;
	}


}


@media only screen and (max-width: 780px) {

	.products_content {
		width: 65%;
		padding-left: 2rem;
		padding-right: 2rem;
		box-sizing: border-box;
	}

	.products_sidebar{
		width: 35%;
	}
}

@media only screen and (max-width: 650px) {
	
	.products_page_title{
		font-size: 4rem;
	}

	.products_page_text{
		padding-right: 0;
	}

	.products_content{
		width: 100%;
		float: none;
		padding-bottom: 0;
	}

	.products_sidebar{
		width: 100%;
		float: none;
		padding-left: 1.1rem;
		padding-right: 1.1rem;
	}

	.products_specials_page .our_specials_button1 {
		margin-left: 0;
		display: inline-block;
	}

}

// FINISH LINK ASSEMBLY PAGE

// START SERVICES PAGE

@media only screen and (max-width: 980px) {
	.services_page_content_block{
		width: 65%;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.services_page_sidebar{
	  width: 35%;
	  padding-right: 1rem;
	  padding-left: 1rem;
	}
}

@media only screen and (max-width: 650px) {
	.services_page_content_block{
		width: 100%;
		float: none;
		display: block;
	}
	
	.services_page_sidebar{
		width: 100%;
		float: none;
		display: block;
	}

	.get_a_quote_block{
		display: none;
	}

	.services_page_content_block{
		padding-top: 4rem;
		padding-bottom: 0;
		font-size: 2rem;
	}

	.services_text_content{
		padding-right: 0;
	}

}

// FINISH SERVICES PAGE

// START SPECIALS PAGE
@media only screen and (max-width: 980px) {
	.our_specials_content_block{
		width: 65%;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.our_specials_sidebar{
	  width: 35%;
	  padding-right: 1rem;
	  padding-left: 1rem;
	}
}

@media only screen and (max-width: 650px) {
	.our_specials_content_block{
		width: 100%;
		float: none;
		display: block;
	}
	
	.our_specials_sidebar{
		width: 100%;
		float: none;
		display: block;
	}

	.our_specials_content_block{
		padding-top: 4rem;
		padding-bottom: 0;
		font-size: 2rem;
	}

	.our_specials_content{
		padding-bottom: 0;
	}

	.our_specials_page_title{
		font-size: 4rem;
	}


}
// FINISH SPECIALS PAGE

// START ABOUT US PAGE
@media only screen and (max-width: 700px) {
	.our_team_grid3{
		width: 100%;
		float: none;
	}
	.our_team_row{
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;
	}
}

// FINISH ABOUT US PAGE

@media only screen and (max-width: 800px) {
	.contact_label_col1{
		width: 100%;
		float: none;

		input{
			margin: 0 auto;
			margin-bottom: 0.7rem;
		}
	}
	.contact_label_col2{
		width: 100%;
		float: none;

		textarea{
			margin: 0 auto;
		}
	}

	.contact_button_send {
		float: none;
	}
}

@media only screen and (max-width: 400px) {
	.contact_label_col1 input{
		width: 40rem;
	}

	.contact_label_col2 textarea{
		width: 40rem;
	}

}