doctype html
html
    include jade/document_default/head.jade
    body.index
        include jade/framework/framework.jade
        include jade/header.jade
        include jade/index.jade
        include jade/footer.jade
        include jade/document_default/footer.jade
