
  .#{$c}_text {
      font-size: 1.6rem;
      font-family: "Open Sans";
      color: rgb(37, 37, 37);
      line-height: 1.875;
  }

  .#{$c}_row1 .#{$c}_figure>img, .#{$c}_row2 .#{$c}_figure>img {
    width: 50rem;
    max-width:500px;

  }


  .#{$c}_row1 .#{$c}_cell1, .#{$c}_row2 .#{$c}_figure {
    padding-right: 6.4rem;
  }



  @media only screen and (max-width: 700px) {
    .#{$c}_row1 .#{$c}_figure>img, .#{$c}_row2 .#{$c}_figure>img {
      width: 80%;
      min-width:280px;
      max-width:345px;

    }

    .#{$c}_row1 .#{$c}_cell1, .#{$c}_row2 .#{$c}_figure {
      padding-right: 0rem;
    }

  }

  @media only screen and (max-width: 500px) {
    .#{$c}_row1 .#{$c}_figure>img, .#{$c}_row2 .#{$c}_figure>img {
      width: 100%;
      max-width:345px;
    }

    .#{$c}_row1 .#{$c}_cell1, .#{$c}_row2 .#{$c}_figure {
      padding-right: 0rem;
    }    

  }
