/*
  CORE Classes

  Write your code in "YOUR CUSTOM CODE" section in bottom of document or seperate document
*/

@mixin header1($name) {
  .#{$name} {
    background: $background;
    height: $header_height;
  }

  .#{$name}_inner {
      max-width:$header__inner_max-width;
      width: 100%;
      position: relative;
      margin: 0 auto;
  }

    .#{$name}_logo {
      position: absolute;

      left: $header__logo_left;
      top: $header__logo_top;

      img {
        width : $header_logo_width;
        height: $header_logo_height;
      }
    }

    .#{$name}__widgets {
      padding-left: $header_logo_width;
      padding-right: $header__widgets_padding-right;
      padding-top: $header__widgets_padding-top;
      text-align: right;
    }
      .#{$name}__widget {
        display: inline-block;
        width:$header__widget_width;
        text-align: left;
      }

        .#{$name}__widget__label {
          color:$header__widget_LABEL_color;
          font-size: $header__widget_LABEL_font-size;
          text-decoration: none;
        }

        .#{$name}__widget__value {
          color:$header__widget_VALUE_color;
          font-size: $header__widget_VALUE_font-size;
          text-decoration: none;
        }
}


$background: #f0f0f0;
$header_height: 18.1rem;

$header__inner_max-width: 116.8rem;


$header__logo_left  : 0rem;
$header__logo_top   : 1.8rem;

$header_logo_width  : 32.5rem;
$header_logo_height : 10.6rem;

$header__widget_width: auto;
$header__widgets_padding-right: 0rem;
$header__widgets_padding-top: 5rem;

$header__widget_LABEL_color     : #90be5c;
$header__widget_LABEL_font-size : 1.7rem;
$header__widget_VALUE_color     : #252525;
$header__widget_VALUE_font-size : 4.3rem;


@include header1("header");

/*  YOUR CUSTOM CODE */
.header {
  border-top: 1.55rem solid #5fa70f;
  font-family: RobotoBold;
}
  .header__widget {
    margin-left: 7.7rem;
  }

  .header__widget__value {
    font-family: RobotoBlack;

    display: block;
  }
  .header__widget__label {
    letter-spacing: 0.05rem;
    line-height:1.3;
  }
