.image-text_list{
	max-width: $container_width/10*1rem;
	display:inline-block;
	height:auto;
	width:100%;
}
.image-text_item:nth-child(1){
	width:$block_img1*1%;
	min-height:$row_height1/10*1rem;
}
.image-text_item:nth-child(2){
	width:$block_text1*1%;
	min-height:$row_height1/10*1rem;;
}
.image-text_item:nth-child(3){
	width:$block_img2*1%;
	min-height:$row_height2/10*1rem;
	float:right;
}
.image-text_item:nth-child(4){
	width:$block_text2*1%;
	min-height:$row_height2/10*1rem;
}
.image-text_item{
	box-sizing:border-box;
	float:left;
	display:inline-block;
	height:auto;
	position:relative;
	img{
		max-width: 100%;
		width:100%;
		position: absolute;
	}
}

@media screen and (max-width: 700px){
	.image-text_item:nth-child(1n+1){
		float:none;
		height:auto;
		padding:0;
		width:100%;
		padding-left: 0;
		padding-right:0;
		min-height: auto;
		padding-top: 2rem;
		box-sizing:border-box;
		padding-bottom:2rem;
	}
}