@mixin menu_h($name) {

  .#{$name} {
    background: $menu_bg;
    height: $menu_height;

  }

    .#{$name}_ul {

      max-width:116.8rem;
      width:100%;
      margin: 0 auto;
      position:relative;
      display:table;

    }

      .#{$name}_li, .#{$name}_li_active {
        display:block;
        @if ($li_padding) {
          padding: $li_padding;
        }
        padding: $li_padding;

        @if ($menu_li_bg) {
          background: $menu_li_bg;
        }

        /*width: 100/6*1%;*/
        text-align: $li_text_align;
        position:relative;
        cursor:pointer;
      }

      .#{$name}_li_active {
        @if ($menu_li_bg_active) {
          background: $menu_li_bg_active;
        }
      }

      .#{$name}_li:hover {
        @if ($menu_li_bg_hover) {
          background: $menu_li_bg_hover;
        }

      }

        .#{$name}_li>a, .#{$name}_li_active>a {
          @if ($menu_a_color) {
            color: $menu_a_color;
          }

          text-decoration:none;
          font-size:$li_font_size;
          letter-spacing: $li_letter_spacing;
          position:relative;
        }

        #{$name}_li:hover {

        }
        .#{$name}_li>a:hover, .#{$name}_li:hover>a  {
          @if ($menu_a_color_hover) {
            color: $menu_a_color_hover;
          }
        }

        .#{$name}_li_active>a {
            @if ($menu_a_color_active) {
              color: $menu_a_color_active;
            }
        }
}
