@mixin body() {

  @each $cnf_v in $root {
    $k: nth($cnf_v, 1);
    $v: nth($cnf_v, 2);


    @if $k == 0 {
      :root  {
        font-size: $v;
      }
    }
    @else {
      @media only screen and (max-width: $k) {
          :root  {
            font-size: $v;
          }
      }
    }
  }




  body {
    font-family: $basic_font;
    font-size: $basic_font-size;
    overflow-x:hidden;
  }


  .btn_basic, .btn_transparent {
    display:inline-block;
    width:auto;
    text-transform: none;
  }

  .svg_all {
    display:none;
  }
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }
  body {
  	line-height: 1;
  }
  ol, ul {
  	list-style: none;
  }
  blockquote, q {
  	quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }

  [role="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button {
      -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
              box-sizing: content-box;
  }


  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button {
      background: none;
      border: 0;
      color: inherit;
      /* cursor: default; */
      font: inherit;
      line-height: normal;
      overflow: visible;
      padding: 0;
      -webkit-appearance: button; /* for input */
      -webkit-user-select: none; /* for button */
         -moz-user-select: none;
          -ms-user-select: none;
  }
  input::-moz-focus-inner,
  button::-moz-focus-inner {
      border: 0;
      padding: 0;
  }

  [role="button"] {
      color: inherit;
      cursor: default;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      white-space: pre;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
  }


  button:active {
  outline: none;
  border: none;
  }

  button:focus {outline:0;}

  textarea:focus, input:focus{
      outline: none;
  }

}

@mixin rt() {


}


@mixin cs($cnf) {
  @each $cnf_v in $cnf {
    $k: nth($cnf_v, 1);


    @if $k == "w" {
      $v: nth($cnf_v, 2);
      width:$v;
    }


    @if $k == "border" {
      $v: nth($cnf_v, 2);
      border:nth($cnf_v, 2) nth($cnf_v, 3) nth($cnf_v, 4);
    }

    @if $k == "content" {
      $v: nth($cnf_v, 2);
      content:$v;
    }

    @if $k == "bdn" {

      border:none;
    }
    @if $k == "bd" {
      $v: nth($cnf_v, 2);

      border:nth($cnf_v, 2) nth($cnf_v, 3) nth($cnf_v, 4);
    }

    @if $k == "bdt" {
      $v: nth($cnf_v, 2);
      border-top:nth($cnf_v, 2) nth($cnf_v, 3) nth($cnf_v, 4);
    }

    @if $k == "bdb" {
      $v: nth($cnf_v, 2);
      border-bottom:nth($cnf_v, 2) nth($cnf_v, 3) nth($cnf_v, 4);
    }

    @if $k == "bdl" {
      $v: nth($cnf_v, 2);
      border-left:nth($cnf_v, 2) nth($cnf_v, 3) nth($cnf_v, 4);
    }

    @if $k == "bdr" {
      $v: nth($cnf_v, 2);
      border-right:nth($cnf_v, 2) nth($cnf_v, 3) nth($cnf_v, 4);
    }

    @if $k == "bg" {
      $v: nth($cnf_v, 2);
      background:url("#{$v}") no-repeat #{nth($cnf_v, 3)} #{nth($cnf_v, 4)};

      @if nth($cnf_v, 5) == "cover" {
          background-size: #{nth($cnf_v, 5)};
      }

      @if nth($cnf_v, 5) != "cover" {
          background-size: #{nth($cnf_v, 5)} #{nth($cnf_v, 6)};
      }

    }

    @if $k == "bgc" {
      background-color:nth($cnf_v, 2);
    }

    @if $k == "w" {
      $v: nth($cnf_v, 2);
      width: $v;
    }

    @if $k == "mw" {
      $v: nth($cnf_v, 2);
      min-width: $v;
    }

    @if $k == "maxW" {
      $v: nth($cnf_v, 2);
      max-width: $v;
    }

    @if $k == "minW" {
      $v: nth($cnf_v, 2);
      min-width: $v;
    }


    @if $k == "maxH" {
      $v: nth($cnf_v, 2);
      max-height: $v;
    }

    @if $k == "minH" {
      $v: nth($cnf_v, 2);
      min-height: $v;
    }

    @if $k == "h" {
      $v: nth($cnf_v, 2);
      height: $v;
    }

    @if $k == "s" {
      $v: nth($cnf_v, 2);
      width: $v;
      $v: nth($cnf_v, 3);
      height: $v;
    }

    @if $k == "pdl" {
      $v: nth($cnf_v, 2);
      padding-left: $v;
    }

    @if $k == "pdr" {
      $v: nth($cnf_v, 2);
      padding-right: $v;
    }

    @if $k == "l" {
      $v: nth($cnf_v, 2);
      left: $v;
    }

    @if $k == "t" {
      $v: nth($cnf_v, 2);
      top: $v;
    }

    @if $k == "r" {
      $v: nth($cnf_v, 2);
      right: $v;
    }

    @if $k == "b" {
      $v: nth($cnf_v, 2);
      bottom: $v;
    }

    @if $k == "pdl" {
      $v: nth($cnf_v, 2);
      padding-left: $v;
    }

    @if $k == "pdt" {
      $v: nth($cnf_v, 2);
      padding-top: $v;
    }
    @if $k == "pdb" {
      $v: nth($cnf_v, 2);
      padding-bottom: $v;
    }

    @if $k == "p" {
      $v: nth($cnf_v, 2);
      padding: $v;
    }

    @if $k == "pd" {
      $v: nth($cnf_v, 2);
      padding: #{nth($cnf_v, 2)} #{nth($cnf_v, 3)} #{nth($cnf_v, 4)} #{nth($cnf_v, 5)};
    }

    @if $k == "ml" {
      $v: nth($cnf_v, 2);
      margin-left: $v;
    }

    @if $k == "z" {
      $v: nth($cnf_v, 2);
      z-index: $v;
    }

    @if $k == "mr" {
      $v: nth($cnf_v, 2);
      margin-right: $v;
    }

    @if $k == "mt" {
      $v: nth($cnf_v, 2);
      margin-top: $v;
    }

    @if $k == "mb" {
      $v: nth($cnf_v, 2);
      margin-bottom: $v;
    }

    @if $k == "md" {
      $v: nth($cnf_v, 2);
      margin: #{nth($cnf_v, 1)} #{nth($cnf_v, 2)} #{nth($cnf_v, 3)} #{nth($cnf_v, 4)};
    }



    @if $k == "nounderline" {

      text-decoration: none;
    }

    @if $k == "left" {
      text-align: left;
    }


    @if $k == "center" {
      text-align: center;
    }

    @if $k == "right" {
      text-align: right;
    }
    @if $k == "centerBlock" {
      margin: 0 auto;
    }
    @if $k == "absolute" {
     position: absolute;
    }

    @if $k == "relative" {
     position: relative;
    }
    @if $k == "fixed" {
     position: fixed;
    }

    @if $k == "c" {
      $v: nth($cnf_v, 2);
      color:$v;
    }

    @if $k == "ls" {
      $v: nth($cnf_v, 2);
      letter-spacing: $v;
    }

    @if $k == "lh" {
      $v: nth($cnf_v, 2);
      line-height: $v;
    }

    @if $k == "fs" {
      $v: nth($cnf_v, 2);
      font-size: $v;
    }

    @if ($k == "fill") {
      fill: nth($cnf_v, 2);
    }

    @if $k == "Roboto" {
      font-family: Roboto;
    }

    @if $k == "uppercase" {
      text-transform: uppercase;
    }

    @if $k == "inline" {
      display:inline;
    }


    @if $k == "table" {
      display:table;
    }


    @if $k == "table-cell" {
      display:table-cell;
    }

    @if $k == "middle" {
      vertical-align: middle;
    }

    @if $k == "vtop" {
      vertical-align: top;
    }

    @if $k == "inline-block" {
      display:inline-block;
    }

    @if $k == "block" {
      display:block;
    }

    @if $k == "hide" {
      display:none;
    }
    @if $k == "show" {
      display:block;
    }

    @if $k == "pointer" {
      cursor: pointer;
    }

    @if $k == "lowercase" {
      text-transform: lowercase;
    }
    @if $k == "nowrap" {
      white-space: nowrap;
    }

    @if $k == "yclip" {
      overflow-y:hidden;
    }

    @if $k == "multiply" {
      mix-blend-mode: multiply;
    }



    @if $k == 100 {
      font-weight:100;
    }

    @if $k == 200 {
      font-weight:200;
    }

    @if $k == 300 {
      font-weight:300;
    }

    @if $k == 400 {
      font-weight:400;
    }

    @if $k == 500 {
      font-weight:500;
    }

    @if $k == 600 {
      font-weight:100;
    }

    @if $k == 700 {
      font-weight:700;
    }

    @if $k == 800 {
      font-weight:800;
    }

    @if $k == 900 {
      font-weight:900;
    }
    @if $k == 0 {
      opacity:0;
    }
    @if $k == 1.0 {
      opacity:1;
    }

    @if $k == 0.1 {
      opacity:0.1;
    }
    @if $k == 0.2 {
      opacity:0.2;
    }
    @if $k == 0.3 {
      opacity:0.3;
    }
    @if $k == 0.4 {
      opacity:0.4;
    }
    @if $k == 0.5 {
      opacity:0.5;
    }

    @if $k == 0.6 {
      opacity:0.6;
    }
    @if $k == 0.7 {
      opacity:0.7;
    }
    @if $k == 0.8 {
      opacity:0.8;
    }
    @if $k == 0.9 {
      opacity:0.9;
    }


  }
}


@mixin bs($name, $cnf) {
  .#{$name} {
    @include cs($cnf);
  }
}

@mixin bs2($name, $name2, $cnf) {
  .#{$name}#{$name2} {
    @include cs($cnf);
  }
}


@import "components/objects";
@import "components/header1";
@import "components/menu1";
@import "components/menu_v";
@import "components/section_left";
@import "components/section_center";
@import "components/widgets";
@import "components/footer";
@import "components/grid";
@import "components/autoGrid";
@import "components/section_chess";

@import "../framework/templates/grid1";
@import "../framework/templates/grid_info";
@import "../framework/templates/section_chess";
