head
<<<<<<< HEAD
  title Brytech
  meta(charset='UTF-8')
  meta(name="keywords", content="")
  meta(name="description", content="")
  meta(name="author", content="Binboro LTD")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
  meta(name="format-detection", content="telephone=no")

  link(href='css/fonts.css',rel="stylesheet")
  link(href='css/reset.css',rel="stylesheet")
  link(href='css/layout.css',rel="stylesheet")
  link(href='css/mobile.css',rel="stylesheet")
=======
  title HTML project
  meta(charset='UTF-8')
  meta(name="keywords", content="html, css, standards")
  meta(name="description", content="HTML standards to learn")
  meta(name="author", content="Binboro LTD")

  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  
  link(href='css/reset.css',rel="stylesheet")
  link(href='css/layout.css',rel="stylesheet")
  link(href='css/selectric.css',rel="stylesheet")
  link(href='css/fonts.css',rel="stylesheet")
  link(href='css/footer.css',rel="stylesheet")
    
  link(href='css/owl.carousel.css',rel="stylesheet")
  link(href='css/owl.theme.css',rel="stylesheet")

  link(href='css/mobile.css',rel="stylesheet")
>>>>>>> e94fea1647699fd9ab1cb090d3616e3834957b94
