/* oswald-700 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswald-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Oswald Bold"), local("Oswald-Bold"), url("../fonts/oswald-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-v11-latin-700.woff2") format("woff2"), url("../fonts/oswald-v11-latin-700.woff") format("woff"), url("../fonts/oswald-v11-latin-700.ttf") format("truetype"), url("../fonts/oswald-v11-latin-700.svg#Oswald") format("svg");
  /* Legacy iOS */ }

/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/lato-v11-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/lato-v11-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-100.woff2") format("woff2"), url("../fonts/lato-v11-latin-100.woff") format("woff"), url("../fonts/lato-v11-latin-100.ttf") format("truetype"), url("../fonts/lato-v11-latin-100.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v11-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato-v11-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-300.woff2") format("woff2"), url("../fonts/lato-v11-latin-300.woff") format("woff"), url("../fonts/lato-v11-latin-300.ttf") format("truetype"), url("../fonts/lato-v11-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-regular.woff2") format("woff2"), url("../fonts/lato-v11-latin-regular.woff") format("woff"), url("../fonts/lato-v11-latin-regular.ttf") format("truetype"), url("../fonts/lato-v11-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-700.woff2") format("woff2"), url("../fonts/lato-v11-latin-700.woff") format("woff"), url("../fonts/lato-v11-latin-700.ttf") format("truetype"), url("../fonts/lato-v11-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v11-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato-v11-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v11-latin-900.woff2") format("woff2"), url("../fonts/lato-v11-latin-900.woff") format("woff"), url("../fonts/lato-v11-latin-900.ttf") format("truetype"), url("../fonts/lato-v11-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* droid-sans-regular - latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/droid-sans-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Droid Sans"), local("DroidSans"), url("../fonts/droid-sans-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/droid-sans-v6-latin-regular.woff2") format("woff2"), url("../fonts/droid-sans-v6-latin-regular.woff") format("woff"), url("../fonts/droid-sans-v6-latin-regular.ttf") format("truetype"), url("../fonts/droid-sans-v6-latin-regular.svg#DroidSans") format("svg");
  /* Legacy iOS */ }
