main.main_about_us
  section.about_us_page
    .about_us_page_container
      h1.title_about_us_page_page About Us
      ul.about_us_page_breadcrumbs
        li 
          a(href="/") Home
        li 
          a(href="/our_company.html") About Us

  +section1("our_company", {
      row1 : {
        cell1 : {
          h1        : "<span class='thin'>Our</span> Company",
          sub_h     : "Since 1952",
          text     : "Trackweld Ltd has been around since 1952. Originally based in Palmerston North, the company was set up by Keith Dale, a man who had the foresight to recognise the benefits of a building and replacement programme for the earthmoving industry to overcome its inefficient reliance on OEM parts. In addition to Palmerston North, factories were soon established in Rotorua, Hamilton, and Auckland, with the sole purpose of specializing in earthmoving equipment.",
        },
        figure : {
          img : {src : "images/our-company/our-company-1.jpg", alt : "alt"}
        }
      },
      row2 : {
        figure : {
          img : {src : "images/our-company/our-company-2.jpg", alt : "alt"}
        },   
        cell2 : {
          text     : "Since 1975, Trackweld has imported quality undercarriage parts from Japan, Korea, Italy, and Australia, and in 1978,  Dale formed a partnership with Intertractor - the top European manufacturer of undercarriage parts. Intertractor was later bought out by ITM, who remain today Trackweld's source for high-quality European undercarriage parts.",
          list      : [ 
            { name: "Fully managed from the initial work , down to the finished structure", },
            { name: "Our work stands the test of time", },
            { name: "Motivated, highly-trained experts committed to their work", }
            ]
        },

      }        
  })

  include safety.jade

  section.our_team
    .our_team_container
      h1.our_team_title <span>Our</span> Team
      p.our_team_sub_text Meet the team
      .our_team_row
        .our_team_grid3
          img(src="images/our-company/photo-team/photo1.png", alt="Photo")
          p.our_team_name Johnny Cash
          p.our_team_name_position CEO
        .our_team_grid3
          img(src="images/our-company/photo-team/photo2.png", alt="Photo")
          p.our_team_name Johnny Cash
          p.our_team_name_position CEO
        .our_team_grid3
          img(src="images/our-company/photo-team/photo3.png", alt="Photo")
          p.our_team_name Johnny Cash
          p.our_team_name_position CEO

  section.owl-carousel#owl-slideshow
    .item
      img(src="images/logos/wel-energy-trust.jpg" alt="logo")
    .item 
      img(src="images/logos/f6.jpg" alt="logo")
    .item 
      img(src="images/logos/trillian-trust-inc.jpg" alt="logo")
    .item
      img(src="images/logos/trust-waikato.jpg" alt="logo")
    .item 
      img(src="images/logos/the-southern-trust.jpg" alt="logo")
    .item
      img(src="images/logos/wel-energy-trust.jpg" alt="logo")
    .item 
      img(src="images/logos/f6.jpg" alt="logo")
    .item 
      img(src="images/logos/trillian-trust-inc.jpg" alt="logo")
    .item
      img(src="images/logos/trust-waikato.jpg" alt="logo")
    .item 
      img(src="images/logos/the-southern-trust.jpg" alt="logo")

  include ../../get_a_quote.jade