section.pages-start_section
    .shadow-container
        .container
            h1.title_our_achievement.page-start_title about us
section.about-company
    .container
        ul.company_list
            li.company-item_container
                h1.title_our_achievement <span>Our</span> Company
                p.sub_text_our_achievement Since 1952
                p.company-text
            li.company-item_container-img
                img.company-img(src="#", alt="")
            li.company-item_container-img
                img.company-img(src="#", alt="")
            li.company-item_container
                p.company-text
                ul.company_text-ul
                    li.company_text_li
                        p.company_text Fully managed from the initial work , down to the finished structure
                    li.company_text_li
                        p.company_text Our work stands the test of time
                    li.company_text_li
                        p.company_text Motivated, highly-trained experts committed to their work