main.fitting_pins_page
	section.services
		.services_container
			h1.title_services_page Services
			ul.services_breadcrumbs
				li 
					a(href="/slice/") Home
				li 
					a(href="/slice/our_services.html") Services
				li 
					a(href="/slice/our_services_build_up.html") Build Up – Service Idlers
	section.services_page_content
		.services_page_container
			.services_page_content_block
				h1.services_page_title Build up
				p.services_page_sub_title service idlers
				p.services_text_content We are tracks and rollers experts. We can rebuild your tracks and bottom rollers, and replace seal groups and O-rings.
				img(src="images/services_page/content_services.jpg", alt="Build-Up")
				p.services_text_content <span>Typical types of wear to track rollers:</span>
				ul.services_list_type
					li.services_text_content Excessive side flange wear
					li.services_text_content This type of wear can be caused by misalignment or excessive slackness in the chain.
					li.services_text_content Top flange deformation with separation of material
					li.services_text_content This can be caused by contact of the link pin boss, or due to the chain sliding over the flanges because of exceptional snaking of the chain.
				p.services_text_content <span>Typical types of wear to carrier rollers:</span>
				ul.services_list_type
					li.services_text_content Excessive flange side wear
					li.services_text_content This is often caused by hillside operation, special offset grousers and incorrect alignment.
					li.services_text_content Flat spots slash irregular wear
					li.services_text_content This is often caused by material packing under the top carrier and restricting its rotation.
				p.services_text_content <span>Typical types of wear to front idlers:</span>
				ul.services_list_type
					li.services_text_content Excessive flange side wear
					li.services_text_content This can be caused by a number of factors, including: soil conditions, hillside operations, and excessive turning. Other factors include: roller alignment, chain tension, and tread conditions.
					li.services_text_content Top flange wear
					li.services_text_content This is ordinarily caused by packing material under the rail, or excessive idler tread wear.
					li.services_text_content Tread cracking and Spalding
					li.services_text_content This can be caused by high dynamic loads due to heavy working conditions, or by excessive wear of the idler. Chain condition can also be a contributing factor.
			.services_page_sidebar
				.services_menu
					ul.services_list
						li.services_item
							a.services_item_link(href="/slice/our_services_servicing.html") <span>Servicing </span>
						li.services_item
							a.services_item_link(href="/slice/our_services_fitting.html") <span>Fitting </span>- Pins & Bushes
						li.services_item
							a.services_item_link(href="/slice/our_services_build_up.html") <span>Build-Up</span> - Service Idlers
						li.services_item
							a.services_item_link(href="/slice/our_services_re_rimming.html") <span>Re-rimming</span> Sprockets
				.get_a_quote_block
					h1.sidebar_title_get_a_quote Get A Quote
					p.sidebar_subtext_get_a_quote Come and see us today!
					a(href="/slice/contact.html").sidebar_get_a_quote_button1 Contact Us
					span or
					a(href="tel:078493811").sidebar_get_a_quote_button2 Call (07) 849 3811
					
	include get_a_quote.jade