
include components/section1.jade

main
	//- +section1("head_section",{
	//-   h1        : "<span class='head_section_label'>Your Undercarrige</span> Specialist",
	//-   text1     : "Do you own and operate heavy earthmoving equipment?<br/>Are you looking for high-quality parts at competitive prices? ",
	//-   text2     : "You have come to the right place",
	//- })

	section.specialist
		.shadow-container
			.specialist_container
				.specialist_text_block
					p.specialist_head_text Your undercarrige
					h1.specialist_title Specialist
					p.specialist_main_text Do you own and operate heavy earthmoving equipment? <br> Are you looking for high-quality parts at competitive prices?
					p.specialist_sub_text You have come to the right place.
					.specialist_button_container
						a.specialist_button1(href="http://google.com") Get started
						a.specialist_button2(href="tel:078493811") Call (07) 849 3811

	section.our_services
		.our_services_container
			h1.our_services_title <span>Our</span> Services
			p.our_services_sub_text We specialize in
			p.our_services_main_text We are the leading New Zealand undercarriage repairer and reconditioner. We operate two 180-ton track presses and one 60-ton press to accommodate our clients' machines -- which range from .5 to 60 ton excavators.
			.our_services_block
				a.our_services_button1(href="/slice/our_services.html") Services
				a.our_services_button2(href="tel:078493811") Call (07) 849 3811
			ul.our_services_list
				li.our_services_grid
					a.our_services_link(href="/slice/our_services_fitting.html")
						figure
							img.our_services_img(src="images/our_services/fitting.jpg", alt="Fitting")
						.our_services_information
							.our_services_icon_block1
								svg.fitting-icon(viewBox="0 0 49 48.75")
									use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#fitting-icon")
							.our_services_desc
								p.services_title Fitting
								p.services_title_sub_text Pin & Bushes
						.our_services_read_more Read more
				li.our_services_grid
					a.our_services_link(href="/slice/our_services_build_up.html")
						figure
							img.our_services_img(src="images/our_services/build-up.jpg", alt="Build-up")
						.our_services_information
							.our_services_icon_block2
								svg.build-icon(viewBox="0 0 77 41")
									use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#build-icon")
							.our_services_desc
								p.services_title Build-up
								p.services_title_sub_text Service Idlers
						.our_services_read_more Read more
				li.our_services_grid
					a.our_services_link(href="/slice/our_services_re_rimming.html")
						figure
							img.our_services_img(src="images/our_services/re-rimming.jpg", alt="Re-rimming")
						.our_services_information
							.our_services_icon_block3
								svg.rimming-icon(viewBox="0 0 57 56")
									use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#rimming-icon")
							.our_services_desc
								p.services_title Re-rimming
								p.services_title_sub_text Sprokets
						.our_services_read_more Read more 
	
	section.our_achievement
		.shadow-container
			h1.title_our_achievement <span>Our</span> Achievement
			p.sub_text_our_achievement Fast Facts
			.our_achievement_container
				.achievenent_bl_container
					.achievement_bl
						p.number_text 2500
						p.sub_number_text Project
					.achievement_bl
						p.number_text 1800
						p.sub_number_text Clients
					.achievement_bl
						p.number_text 100
						p.sub_number_text Employees
					.achievement_bl
						p.number_text 20
						p.sub_number_text Years of Experience
	
	section.our_products
		.our_products_container
			h1.our_products_title <span>Our</span> Products
			p.our_products_sub_text New and used
			p.our_products_main_text We supply new and used undercarriage components and ground-engagement tools, and we export parts to Australia and the Pacific Islands of both new and second-hand parts.
			.our_products_block
				a.our_products_button1(href="/slice/our_product.html") Our Products
				a.our_products_button2(href="tel:078493811") Call (07) 849 3811
			ul.our_products_list
					li.our_products_grid
						a.our_products_link(href="/slice/our_product_link_assembly.html")
							figure
								img.our_products_img(src="images/our_products/products/product1.jpg", alt="Product 1")
							.our_products_information
								p.product_title Link Assembly
								p.product_view_link View Product
					li.our_products_grid
						a.our_products_link(href="/slice/our_product_idlers.html")
							figure
								img.our_products_img(src="images/our_products/products/product2.jpg", alt="Product 2")
							.our_products_information
								p.product_title Idlers
								p.product_view_link View Product
					li.our_products_grid
						a.our_products_link(href="/slice/our_product_trackshoes.html")
							figure
								img.our_products_img(src="images/our_products/products/product3.jpg", alt="Product 3")
							.our_products_information
								p.product_title Track Shoes
								p.product_view_link View Product
					li.our_products_grid
						a.our_products_link(href="/slice/our_product_hardware.html")
							figure
								img.our_products_img(src="images/our_products/products/product4.jpg", alt="Product 4")
							.our_products_information
								p.product_title Hardware
								p.product_view_link View Product
					li.our_products_grid
						a.our_products_link(href="/slice/our_product_rollers.html")
							figure
								img.our_products_img(src="images/our_products/products/product5.jpg", alt="Product 5")
							.our_products_information
								p.product_title Rollers
								p.product_view_link View Product
					li.our_products_grid
						a.our_products_link(href="/slice/our_product_sprockets.html")
							figure
								img.our_products_img(src="images/our_products/products/product6.jpg", alt="Product 6")
							.our_products_information
								p.product_title Sprockets
								p.product_view_link View Product
	include our_specials.jade

	section.our_partners
		.our_partners_head
			h1.our_partners_title <span>Our</span> Partners
			p.our_partners_desc Happy to introduce our amazing project partners
		.owl-carousel#owl-slideshow
			.item
				img(src="images/logos/wel-energy-trust.jpg" alt="logo")
			.item 
				img(src="images/logos/f6.jpg" alt="logo")
			.item 
				img(src="images/logos/trillian-trust-inc.jpg" alt="logo")
			.item
				img(src="images/logos/trust-waikato.jpg" alt="logo")
			.item 
				img(src="images/logos/the-southern-trust.jpg" alt="logo")
			.item
				img(src="images/logos/wel-energy-trust.jpg" alt="logo")
			.item 
				img(src="images/logos/f6.jpg" alt="logo")
			.item 
				img(src="images/logos/trillian-trust-inc.jpg" alt="logo")
			.item
				img(src="images/logos/trust-waikato.jpg" alt="logo")
			.item 
				img(src="images/logos/the-southern-trust.jpg" alt="logo")
	include get_a_quote.jade