main.contact
    section.pages-start_section
        .container-contact
            h1.title_our_achievement.page-start_title Contact
            ul.contact_breadcrumbs
                li 
                    a(href="/slice/") Home
                li 
                    a(href="/slice/contact.html") Contact
    section.contact_info
        .container-contact
            ul.contact-list
                li.contact-item_container
                    .contact-item
                        .contact-item_location
                            svg(viewBox="0 0 19.75 26.5")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#footer-location-icon")
                        p.contact-item_title Address
                        .contact-item_text-container
                            p.contact-item_text 55 Bryant Road, Hamilton
                li.contact-item_container
                    .contact-item
                        .contact-item_phone
                            svg(viewBox="0 0 22.25 23.1")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#footer-phone-icon")
                        p.contact-item_title Phone
                        .contact-item_text-container
                            a(href="tel:078493811").contact-item_text P:
                                span 07 849 3811
                            a(href="tel:078495621").contact-item_text F:
                                span 07 849 5621
                li.contact-item_container
                    .contact-item
                        .contact-item_mail
                            svg(viewBox="0 0 26 16.94")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#footer-mail-icon")
                        p.contact-item_title Email
                        .contact-item_text-container
                            p.contact-item_text 
                                a(href="mailto:info@trackweld.co.nz") info@trackweld.co.nz
    section#map
    section.contact_form
        .container-contact
            h1.title_our_achievement <span>Get In</span> Touch
            p.sub_text_our_achievement Send Us A Message
            p.head_section_text1 Please enter your details into the contact form below.
        .container_contact_form
            .contact_label_col1
                input(type="text" placeholder="Name")
                input(type="text" placeholder="Contact Number")
                input(type="text" placeholder="Email")
            .contact_label_col2
                textarea(name="message", cols="30", rows="10" placeholder="Message")
            a.contact_button_send(href="http://google.com") Send Message