main.fitting_pins_page
	section.services
		.services_container
			h1.title_services_page Services
			ul.services_breadcrumbs
				li 
					a(href="/slice/") Home
				li 
					a(href="/slice/our_services.html") Services
				li 
					a(href="/slice/our_services_fitting.html") Fitting – Pins & Bushes
	section.services_page_content
		.services_page_container
			.services_page_content_block
				h1.services_page_title Fitting
				p.services_page_sub_title Pins & Bushes
				p.services_text_content We are pins and brushes experts. We operate two 180-ton track presses and one 60-ton press to accommodate our clients' machines -- which range from .5 to 60 ton excavators.
				img(src="images/services_page/content_services.jpg", alt="Fitting")
				p.services_text_content <span>Typical types of internal wear to pins and brushing:</span>
				ul.services_list_type
					li.services_text_content Worn pin end
					li.services_text_content Obvious factors here are hillside operation and uneven ground. This type of wear is caused by incorrect chain tension and roller wear.
					li.services_text_content Loose pins
					li.services_text_content This can be caused by bending stresses during heavy operation.
					li.services_text_content Pin breakages
					li.services_text_content The principal cause of this is extreme shock or high static loads, which can occur when machinery works on rocky ground, or when material packs in the sprocket, causing extreme tension on the track chain.
				p.services_text_content <span>Typical types of external wear to brushings:</span>
				ul.services_list_type
					li.services_text_content Cracking or breaking of surfaces in contact with sprocket
					li.services_text_content This damage can be caused due to excessive wear and exceeding wear limits, heavy working conditions, or packing sprockets, allowing the brush to break.
					li.services_text_content Cracking or breaking of brushing ends
					li.services_text_content This type of damage can be caused by impact with the link counter bore when the pin and brushing clearance and other components wear, allowing excessive movement in the chain joint.
			.services_page_sidebar
				.services_menu
					ul.services_list
						li.services_item
							a.services_item_link(href="/slice/our_services_servicing.html") <span>Servicing </span>
						li.services_item
							a.services_item_link(href="/slice/our_services_fitting.html") <span>Fitting </span>- Pins & Bushes
						li.services_item
							a.services_item_link(href="/slice/our_services_build_up.html") <span>Build-Up</span> - Service Idlers
						li.services_item
							a.services_item_link(href="/slice/our_services_re_rimming.html") <span>Re-rimming</span> Sprockets
				.get_a_quote_block
					h1.sidebar_title_get_a_quote Get A Quote
					p.sidebar_subtext_get_a_quote Come and see us today!
					a(href="/slice/contact.html").sidebar_get_a_quote_button1 Contact Us
					span or
					a(href="tel:078493811").sidebar_get_a_quote_button2 Call (07) 849 3811
					
	include get_a_quote.jade