footer
	section.trackweld_footer
		.footer_container
			.footer_row
				.footer_grid_information
					.footer_logo 
						p Trackweld
					.footer_logo_text 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor blandit mattis. Cras in laoreet nulla, in lacinia mi. Aenean sit amet massa non dolor ac&shy;cumsan placerat vitae non lacus.
				.footer_grid_our_services
					.footer_menu_title Our services
					ul
						li.our_services_li 
							a(href='/slice/our_services_fitting.html') Fitting - Pin & Bushes
						li.our_services_li 
							a(href='/slice/our_services_build_up.html') Build-Up Idlers
						li.our_services_li 
							a(href='/slice/our_services_re_rimming.html') Re-rimming Sprockets
				.footer_grid_additional_info
					.footer_menu_title Additional Info
					ul
						li.additinal_info_li 
							a(href='/slice/our_company.html') About Trackweld
						li.additinal_info_li 
							a(href='/slice/our_product.html') Products
						li.additinal_info_li 
							a(href='/slice/our_specials.html') Specials
						li.additinal_info_li 
							a(href='/slice/contact.html') Contact
				.footer_grid_contact
					.footer_menu_title Contacts
						.footer_contact_main_container
							.footer_home_container
								.footer_home_icon
									svg(viewBox="0 0 24.37 25.22")
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#footer-home-icon")
								.footer_home_icon_text
									p 55 Bryant Road, Hamilton
							.footer_phone_container
								.footer_phone_icon
									svg(viewBox="0 0 22.25 23.1")
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#footer-phone-icon")
								.footer_phone_icon_text
									<span>P:</span>
									a(href='tel:078493811') 07 849 3811
									<br>
									<span>F:</span>
									a(href='tel:078495621') 07 849 5621
							.footer_mail_container
								.footer_mail_icon
									svg(viewBox="0 0 26 16.94")
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#footer-mail-icon")
								.footer_mail_icon_text
									a(href="mailto:info@trackweld.co.nz") info@trackweld.co.nz
							.footer_location_container
								.footer_location_icon
									svg(viewBox="0 0 19.75 26.5")
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#footer-location-icon")
								.footer_location_icon_text
									a(href="http://google.com") Map and Directions
	section.sub_footer
		.sub_footer_container
			.sub_footer_copywrite Trackweld LTD &copy; 2016 | All Rights Reserved
			.sub_footer_menu 
				ul
					li.sub_li_1
						a(href='http://google.com/') Tearms of Use
					li.sub_li_2
						a(href='http://google.com/') Privacy Policy
					li.sub_li_3
						| Developed by F6