section.get_a_quote
		.main_container
			.get_a_quote_col1
				.get_a_quote_first_block
					h1.get_a_quote_title Get A Quote
					.get_a_quote_desc 
						p We have a staff of experienced, certified welders to meet all of your needs. Come and see us today!
			.get_a_quote_col2
				.get_a_quote_second_block
					.call_us_today_block
							.call_us_today_title
								svg.call_phone_icon(viewBox="0 0 14 14")
										use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#Phone")
								|Call us today
							.call_us_today_phone 
								a(href='tel:078493811') (07) 849 3811
					.span_or OR
					.call_us_button
						a.button_contact_us(href='/slice/contact.html') Contact us