<<<<<<< HEAD
header#header
=======
header.header
  .header_inner
    +logo("#", "images/trackweld.png", "Trackweld")
    
    +widgets("header_widgets__", {
        phone : {label : "Call us Anytime", a : {href:"tel:078493811", text:"07 849 3811"}},
        address : {label : "55 Bryant Road,", value : "Hamilton"}
    })  
  svg.header-icon(viewBox="0 0 32 32")
    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#Burger")
  svg.header-icon-cross_menu(viewBox="0 0 52 52")
    use(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="#cross")

  +menu1("header_menu", [
    {name : "Home", href: "/slice/",},
    {name : "Service", href: "/slice/our_services.html", 
      childs : [
       {name : "Servicing", href: "/slice/our_services_servicing.html"},
       {name : "Fitting - Pins & Bushes", href: "/slice/our_services_fitting.html"},
       {name : "Build-Up - Service Idlers", href: "/slice/our_services_build_up.html"},
       {name : "Re-rimming - Sprockets", href: "/slice/our_services_re_rimming.html"}
       ]},
    {name : "Products", href: "/slice/our_product.html", 
     childs : [
      {name : "Link Assembly", href: "/slice/our_product_link_assembly.html"},
      {name : "Idlers", href: "/slice/our_product_idlers.html"},
      {name : "Track Shoes", href: "/slice/our_product_trackshoes.html"},
      {name : "Hardware", href: "/slice/our_product_hardware.html"},
      {name : "Rollers", href: "/slice/our_product_rollers.html"},
      {name : "Sprockets", href: "/slice/our_product_sprockets.html"},
      {name : "G. E. T.", href: "/slice/our_product_get.html"}
      ]},
    {name : "Specials", href: "/slice/our_specials.html", 
     childs : [
      {name : "Link Assembly", href: "/slice/our_specials_link_assembles.html"},
      {name : "Rollers", href: "/slice/our_specials_rollers.html"},
      ]}, 
    {name : "About us", href: "/slice/our_company.html"},
    {name : "Contact", href: "/slice/contact.html"}    
  ]) 
       
>>>>>>> e94fea1647699fd9ab1cb090d3616e3834957b94
