main
	section.products
		.shadow-container
			.products_container
				h1.title_products_page Products
				ul.products_breadcrumbs
					li 
						a(href="/slice/") Home
					li 
						a(href="/slice/our-product.html") Products
					li 
						a(href="/slice/our-product_link_assembly.html") Link Assembly
	section.products_page
		.products_container_content
			.products_content
				h1.products_page_title <span>Link</span> Assembly
				p.sub_products_page_title Chains
				p We stock both sealed (dry) and SALT (sealed and lubricated tracks) versions of track link assemblies.
				img(src="images/products_page/article/link-assembly.jpg", alt="Link Assembly")
				p.bold_subtitle What's the difference?
				<br> The links are the same in either sealed or lubricated, but the pins and brushes and the sealing method are different.<br>
				<br> Sealed-type chains are typically used on excavators and older model bulldozers, and use cone-shaped steel washers to help prevent abrasion between the pin and busing. Grease-lubricated chains, as typi&shy;cally used on excavators, use a polyurethane seal to keep abrasives out, and the grease is a good lubricant for the pins and brushes.
				p.bold_subtitle2 Which is the most common?
				<br> The lubricated style is the most common link assembly used on bulldozers. Lubricated track links use a lip-type seal to maintain oil in the pin and bush and to prevent abrasive entry into the joint. Internal wear on pins and bushing is a common reason for sealed chains requiring servicing. By keeping pin and bush lubricated, maintenance intervals can be extended further than with sealed chains.
				<br> Lubricated chains also have the advantage of being quieter in operation. Additionally, they do not result in the wear and tear of other undercarriage components - caused by excessive pitch extension resultant in sealed chains.
				table.products_page_table
					tbody
						tr.table_header
							td.table_col_1 Part Nos
							td.table_col_2 KBJ Part Nos
							td.table_col_3 Berco Nos
							td.table_col_4 Model
							td.table_col_5 Link Nos
							td.table_col_6 Pitch
							td.table_col_7 Bolt
							td.table_col_8 M/P
						tr
							td BD2G/42
							td 11-1302/42
							td MT24/42
							td D4D
							td 28697
							td 135
							td 12
							td SML
						tr
							td BD2G/42
							td 11-1302/42
							td MT24/42
							td D4D
							td 28697
							td 135
							td 12
							td SML
						tr
							td BD2G/42
							td 11-1302/42
							td MT24/42
							td D4D
							td 28697
							td 135
							td 12
							td SML
						tr
							td BD2G/42
							td 11-1302/42
							td MT24/42
							td D4D
							td 28697
							td 135
							td 12
							td SML
						tr
							td BD2G/42
							td 11-1302/42
							td MT24/42
							td D4D
							td 28697
							td 135
							td 12
							td SML
						tr
							td BD2G/42
							td 11-1302/42
							td MT24/42
							td D4D
							td 28697
							td 135
							td 12
							td SML
			.products_sidebar
				.product_menu
					ul.product_list
						li.product_item
							a.product_item_link(href="/slice/our_product_link_assembly.html") Link Assembly
						li.product_item
							a.product_item_link(href="/slice/our_product_idlers.html") Idlers
						li.product_item
							a.product_item_link(href="/slice/our_product_trackshoes.html") Track Shoes
						li.product_item
							a.product_item_link(href="/slice/our_product_hardware.html") Hardware
						li.product_item
							a.product_item_link(href="/slice/our_product_rollers.html") Rollers
						li.product_item
							a.product_item_link(href="/slice/our_product_sprockets.html") Sprockets
						li.product_item
							a.product_item_link(href="/slice/our_product_get.html") G.E.T
				.get_a_quote_block
					h1.sidebar_title_get_a_quote Get A Quote
					p.sidebar_subtext_get_a_quote Come and see us today!
					a(href="/slice/contact.html").sidebar_get_a_quote_button1 Contact Us
					span or
					a(href="tel:078493811").sidebar_get_a_quote_button2 Call (07) 849 3811
	section.our_specials.products_specials_page
		.shadow-container
			h1.our_specials_title <span>Our</span> Specials
			p.our_specials_sub_text ITM Products
			.our_specials_container
				.our_specials_logo
					img(src="images/logos/itm_yellow.png", alt="itm-logo")
				.our_specials_logo_text 
					p We supply new and used undercarriage components and ground-engagement tools, and we export parts to Australia and the Pacific Islands of both new and second-hand parts.
			.our_specials_button_container
				a.our_specials_button1(href="/slice/our_specials.html") Our Specials
	
	include get_a_quote.jade