section.our_specials
	.shadow-container
		h1.our_specials_title <span>Our</span> Specials
		p.our_specials_sub_text ITM Products
		.our_specials_container
			.our_specials_logo
				img(src="images/logos/itm_yellow.png", alt="itm-logo")
			.our_specials_logo_text 
				p We supply new and used undercarriage components and ground-engagement tools, and we export parts to Australia and the Pacific Islands of both new and second-hand parts.
		.our_specials_button_container
			a.our_specials_button1(href="/slice/our_specials.html") Our Specials
			a.our_specials_button2(href="tel:078493811") Call (07) 849 3811