main
	section.products
		.shadow-container
			.products_container
				h1.title_products_page Products
				ul.products_breadcrumbs
					li 
						a(href="/slice/") Home
					li 
						a(href="/slice/our-product.html") Products
	section.products_page
		.products_container_content
			.products_content
				h1.products_page_title Products
				p.sub_products_page_title 
				p.products_page_text As an owner of heavy equipment, you would know that undercarriage can account for a large amount of the investment into maintenance that you make over the life of the machine.
				img(src="images/products_page/article/link-assembly.jpg", alt="")
				p.products_page_text It is not uncommon to spend up to 60% of an annual repair and maintenance budget on undercarriage for a dozer, and 45% on an excavator.
				p.products_page_text Quality aftermarket undercarriage parts can offer you the ability to make significant savings and reduce your cost per hour maintenance on equipment.
				p.products_page_text Trackspares carries two lines of undercarriage brands in order to increase our coverage of machines and to also give our customers greater options and when it comes to pricing.
				p.products_page_text Our ranges covers from small track type tractors right through to the Caterpillar D11R and Komatsu D475.
				p.products_page_text For excavators, we carry stock for the 10-ton class right through to 300 ton mining shovels.
				p.products_page_text Most brands and models are covered, these include Caterpillar, Komatsu, Kobelco, Hitachi, Sumitumo, Hyundai, Samsung, Volvo, Case, Fiat, International, Liebherr, Terex and more.
				p.products_page_text <span>ITM Heavy Equipment Parts Manufacturer</span>
				p.products_page_text Made in Italy, Italtractor ITM is wholly dedicated to undercarriage with annual production capacity of 70,000 chains and 700,000 rollers. ITM is a reliable manufacturer for rollers, chains, shoes, sprockets, segments and idlers to outfit popular earthmoving and agricultural crawler models and makes, including Case, Caterpillar, Fiat-Allis, International, John Deere, Komatsu and more.
				p.products_page_text <span>KBJ Heavy Equipment Parts Maufacturer</span>
				p.products_page_text One of the leading manufacturers of heavy equipment undercarriage parts, with an annual production capacity of 300,000 pcs of rollers and 10,000 pcs of track link parts suitable for use in Caterpillar, Komatsu, Hitachi, Kanto, Sumitomo, Samsung, Daewoo, Hyundai etc. excavators and bulldozer machines.
				p.products_page_text All products sold come with their respective manufacturer’s warranty.
			.products_sidebar
				.product_menu
					ul.product_list
						li.product_item
							a.product_item_link(href="/slice/our_product_link_assembly.html") Link Assembly
						li.product_item
							a.product_item_link(href="/slice/our_product_idlers.html") Idlers
						li.product_item
							a.product_item_link(href="/slice/our_product_trackshoes.html") Track Shoes
						li.product_item
							a.product_item_link(href="/slice/our_product_hardware.html") Hardware
						li.product_item
							a.product_item_link(href="/slice/our_product_rollers.html") Rollers
						li.product_item
							a.product_item_link(href="/slice/our_product_sprockets.html") Sprockets
						li.product_item
							a.product_item_link(href="/slice/our_product_get.html") G.E.T
				.get_a_quote_block
					h1.sidebar_title_get_a_quote Get A Quote
					p.sidebar_subtext_get_a_quote Come and see us today!
					a(href="/slice/contact.html").sidebar_get_a_quote_button1 Contact Us
					span or
					a(href="tel:078493811").sidebar_get_a_quote_button2 Call (07) 849 3811
	section.our_specials.products_specials_page
		.shadow-container
			h1.our_specials_title <span>Our</span> Specials
			p.our_specials_sub_text ITM Products
			.our_specials_container
				.our_specials_logo
					img(src="images/logos/itm_yellow.png", alt="itm-logo")
				.our_specials_logo_text 
					p We supply new and used undercarriage components and ground-engagement tools, and we export parts to Australia and the Pacific Islands of both new and second-hand parts.
			.our_specials_button_container
				a.our_specials_button1(href="/slice/our_specials.html") Our Specials
	
	include get_a_quote.jade