main
	section.services
		.services_container
			h1.title_services_page Services
			ul.services_breadcrumbs
				li 
					a(href="/slice/") Home
				li 
					a(href="/slice/our_services.html") Services
				li 
					a(href="/slice/our_services_re_rimming.html") Re-Rimming Sprockets
	section.services_page_content
		.services_page_container
			.services_page_content_block
				h1.services_page_title <span>Re-</span>Rimming
				p.services_page_sub_title Sprockets
				p.services_text_content We are sprocket experts. We stock most brands of popular sprockets and we are re-rimming experts.
				img(src="images/services_page/content_services.jpg", alt="Re-Rimming")
				p.services_text_content Generally speaking, sprockets need to be replaced or re-rimmed when the wear line reaches critical. However, sprocket wear is one of the most difficult to determine. Under normal conditions, wear occurs in such a way that no trace of the original toothing remains to provide a valid reference point. Addition&shy;ally, wear is never even, so the point of most major wear must be factored for when considering the whole.
			.services_page_sidebar
				.services_menu
					ul.services_list
						li.services_item
							a.services_item_link(href="/slice/our_services_servicing.html") <span>Servicing </span>
						li.services_item
							a.services_item_link(href="/slice/our_services_fitting.html") <span>Fitting </span>- Pins & Bushes
						li.services_item
							a.services_item_link(href="/slice/our_services_build_up.html") <span>Build-Up</span> - Service Idlers
						li.services_item
							a.services_item_link(href="/slice/our_services_re_rimming.html") <span>Re-rimming</span> Sprockets
				.get_a_quote_block
					h1.sidebar_title_get_a_quote Get A Quote
					p.sidebar_subtext_get_a_quote Come and see us today!
					a(href="/slice/contact.html").sidebar_get_a_quote_button1 Contact Us
					span or
					a(href="tel:078493811").sidebar_get_a_quote_button2 Call (07) 849 3811
					
	include get_a_quote.jade