main
	section.specials_header
		.specials_container
			h1.title_specials_page Specials
			ul.specials_breadcrumbs
				li 
					a(href="/slice/") Home
				li 
					a(href="/slice/our_specials.html") Specials
				li 
					a(href="/slice/our_specials_rollers.html") Rollers
	section.our_specials_content
		.our_specials_content_container
			.our_specials_content_block
				h1.our_specials_page_title Rollers
				p.our_specials_page_sub_title Specials
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				img(src="images/specials_page/our_specials_image.jpg", alt="Link Assembles")
				table.our_specials_table
					tbody
						tr.our_specials_table_header
							td.our_specials_table_col1 Model
							td.our_specials_table_col3 Price
						tr
							td EX 60 - 3
							td $155
						tr
							td EX, ZX 100 - 120
							td $185
						tr
							td EX, ZX 200, 220
							td $280
						tr
							td EX, ZX 300
							td $295
						tr
							td PC 100, 120, 138
							td $175
						tr
							td CAT 310 - 312B
							td $175
						tr
							td CAT 320B
							td $220
						tr
							td D31 - 20
							td $300
						tr
							td D4E S/F
							td $390
						tr
							td D4E D/F
							td $400
				p.our_specials_italic ...Plus a whole lot more!
				p.our_specials_price_text Prices above exclude GST
			.our_specials_sidebar
				.our_specials_menu
					ul.our_specials_list
						li.our_specials_item
							a.our_specials_item_link(href="/slice/our_specials_link_assembles.html") Link Assembles
						li.our_specials_item
							a.our_specials_item_link(href="/slice/our_specials_rollers.html") Rollers
						li.our_specials_item
							a.our_specials_item_link(href="http://google.com") More...
				.get_a_quote_block
					h1.sidebar_title_get_a_quote Get A Quote
					p.sidebar_subtext_get_a_quote Come and see us today!
					a(href="/slice/contact.html").sidebar_get_a_quote_button1 Contact Us
					span or
					a(href="tel:078493811").sidebar_get_a_quote_button2 Call (07) 849 3811
	include get_a_quote.jade