main
	section.services
		.services_container
			h1.title_services_page Services
			ul.services_breadcrumbs
				li 
					a(href="/slice/") Home
				li 
					a(href="/slice/our_services.html") Services
	section.services_page_content
		.services_page_container
			.services_page_content_block
				h1.services_page_title Services
				p.services_page_sub_title 
				p.services_text_content At Trackweld, we offer a full range of services: Servicing, Fitting, Build-Up, & Re-Rimming. Come to us for all your needs. Put the equipment you depend on in good, safe, experienced hands.
				img(src="images/services_page/content_services.jpg", alt="Services")
			.services_page_sidebar
				.services_menu
					ul.services_list
						li.services_item
							a.services_item_link(href="/slice/our_services_servicing.html") <span>Servicing </span>
						li.services_item
							a.services_item_link(href="/slice/our_services_fitting.html") <span>Fitting </span>- Pins & Bushes
						li.services_item
							a.services_item_link(href="/slice/our_services_build_up.html") <span>Build-Up</span> - Service Idlers
						li.services_item
							a.services_item_link(href="/slice/our_services_re_rimming.html") <span>Re-rimming</span> Sprockets
				.get_a_quote_block
					h1.sidebar_title_get_a_quote Get A Quote
					p.sidebar_subtext_get_a_quote Come and see us today!
					a(href="/slice/contact.html").sidebar_get_a_quote_button1 Contact Us
					span or
					a(href="tel:078493811").sidebar_get_a_quote_button2 Call (07) 849 3811
					
	include get_a_quote.jade