main
	section.specials_header
		.specials_container
			h1.title_specials_page Specials
			ul.specials_breadcrumbs
				li 
					a(href="/slice/") Home
				li 
					a(href="/slice/our_specials.html") Specials
	section.our_specials_content
		.our_specials_content_container
			.our_specials_content_block
				h1.our_specials_page_title Link Assembles
				p.our_specials_page_sub_title Specials
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				img(src="images/specials_page/our_specials_image.jpg", alt="Link Assembles")
				table.our_specials_table
					tbody
						tr.our_specials_table_header
							td.our_specials_table_col1 Model
							td.our_specials_table_col2 Description
							td.our_specials_table_col3 Price
						tr
							td EX 60-5
							td -
							td $1,700
						tr
							td ZX 70
							td -
							td $1,700
						tr
							td EX 60-5
							td -
							td $1,700
						tr
							td PC 60 - 6 - 7
							td -
							td $1,700
						tr
							td EX, ZX 100 - 120
							td -
							td $1,850
						tr
							td EX 200 - 5
							td -
							td $2,900
						tr
							td EX 300 - 5, ZX 330
							td -
							td $3,700
						tr
							td CAT 310 - 312B
							td -
							td $1,850
						tr
							td SH 120
							td -
							td $1,850
						tr
							td EX 400, ZX 400
							td -
							td $4,500
						tr
							td D31P - 20
							td SALT Chain's 41 Link
							td $3,200
						tr
							td D41A - N41P - 5
							td SALT 43 Link
							td $4,000
						tr
							td D4E
							td SALT 40 Link
							td $3,100
						tr
							td D5H
							td SALT 47 Link
							td $4,300

				p.our_specials_italic ...Plus a whole lot more!
				p.our_specials_price_text Prices above exclude GST
			.our_specials_sidebar
				.our_specials_menu
					ul.our_specials_list
						li.our_specials_item
							a.our_specials_item_link(href="/slice/our_specials_link_assembles.html") Link Assembles
						li.our_specials_item
							a.our_specials_item_link(href="/slice/our_specials_rollers.html") Rollers
						li.our_specials_item
							a.our_specials_item_link(href="http://google.com") More...
				.get_a_quote_block
					h1.sidebar_title_get_a_quote Get A Quote
					p.sidebar_subtext_get_a_quote Come and see us today!
					a(href="/slice/contact.html").sidebar_get_a_quote_button1 Contact Us
					span or
					a(href="tel:078493811").sidebar_get_a_quote_button2 Call (07) 849 3811
	include get_a_quote.jade