main
	section.products
		.shadow-container
			.products_container
				h1.title_products_page Products
				ul.products_breadcrumbs
					li 
						a(href="/slice/") Home
					li 
						a(href="/slice/our_product.html") Products
					li 
						a(href="/slice/our_product_trackshoes.html") Track Shoes
	section.products_page
		.products_container_content
			.products_content
				h1.products_page_title <span>Track</span> Shoes
				p.sub_products_page_title 
				p.products_page_text We carry an extensive range of track shoes, and selecting the correct shoe for your machine is an important part of minimizing your undercarriage expenses.
				img(src="images/products_page/article/link-assembly.jpg", alt="")
				p.products_page_text Ideally, choose the narrowest shoe possible that still allows for adequate floatation. This helps minimize internal wear on pins and brushes (due to the additional leverage of wide plates), requires less power to turn, and reduces the likelihood of bent or cracked shoes.
				p.products_page_text Track shoes come in different thicknesses, depending on the application of the machine. Moderate service shoes (MS) are suited to low-to-medium impact conditions. Extreme service shoes (ES) are ideal for use where moderate service shoes would experience high rates of wear.
			.products_sidebar
				.product_menu
					ul.product_list
						li.product_item
							a.product_item_link(href="/slice/our_product_link_assembly.html") Link Assembly
						li.product_item
							a.product_item_link(href="/slice/our_product_idlers.html") Idlers
						li.product_item
							a.product_item_link(href="/slice/our_product_trackshoes.html") Track Shoes
						li.product_item
							a.product_item_link(href="/slice/our_product_hardware.html") Hardware
						li.product_item
							a.product_item_link(href="/slice/our_product_rollers.html") Rollers
						li.product_item
							a.product_item_link(href="/slice/our_product_sprockets.html") Sprockets
						li.product_item
							a.product_item_link(href="/slice/our_product_get.html") G.E.T
				.get_a_quote_block
					h1.sidebar_title_get_a_quote Get A Quote
					p.sidebar_subtext_get_a_quote Come and see us today!
					a(href="/slice/contact.html").sidebar_get_a_quote_button1 Contact Us
					span or
					a(href="tel:078493811").sidebar_get_a_quote_button2 Call (07) 849 3811
	section.our_specials.products_specials_page
		.shadow-container
			h1.our_specials_title <span>Our</span> Specials
			p.our_specials_sub_text ITM Products
			.our_specials_container
				.our_specials_logo
					img(src="images/logos/itm_yellow.png", alt="itm-logo")
				.our_specials_logo_text 
					p We supply new and used undercarriage components and ground-engagement tools, and we export parts to Australia and the Pacific Islands of both new and second-hand parts.
			.our_specials_button_container
				a.our_specials_button1(href="/slice/our_specials.html") Our Specials
	
	include get_a_quote.jade