mixin section1(cl, elements)
  section(class=cl)
    div(class=cl+"_inner")
      each val, key in elements
        if key == "h1"
          h1(class=cl+"_"+key)!=val
        else if key == "h2"
          h2(class=cl+"_"+key)!=val      
        else
          p(class=cl+"_"+key)!=val      
