<div class="svg_all">
	<svg xmlns="http://www.w3.org/2000/svg">
		<symbol id="Phone">
			<path class="cls-1" d="M824.686,80.076l-2.162-2.167a1.125,1.125,0,0,0-1.589.03l-1.089,1.092-0.215-.121a10.226,10.226,0,0,1-4.518-4.53c-0.04-.073-0.079-0.144-0.117-0.21l0.731-.732,0.359-.361a1.13,1.13,0,0,0,.029-1.593l-2.162-2.168a1.124,1.124,0,0,0-1.589.03l-0.609.615,0.016,0.016a3.55,3.55,0,0,0-.5.888,3.687,3.687,0,0,0-.224.9c-0.285,2.372.8,4.54,3.731,7.482,4.057,4.067,7.325,3.759,7.466,3.744a3.64,3.64,0,0,0,.9-0.227,3.472,3.472,0,0,0,.882-0.5l0.014,0.012,0.617-.606A1.133,1.133,0,0,0,824.686,80.076Z" transform="translate(-811 -69)"/>
		</symbol>
		<symbol id="Burger">
			<path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/>
		</symbol>
		<symbol id="cross">
			<path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#FFFFFF"/>
			<path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0   s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36   s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293   c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" fill="#FFFFFF"/>
		</symbol>
		<symbol id="fitting-icon">
			<!-- viewBox="0 0 49 48.75" -->
			<path d="M249.72,1803.93l-7.165-8.38a2.2,2.2,0,0,1,.253-3.12l7.687-6.49a4.317,4.317,0,0,1,2.6-1.24c0.5,0.11,1.589-.51,2.444-1.4l1.725-1.77a2.457,2.457,0,0,0,.279-3.16,2.419,2.419,0,0,0-3.135-.35l-2.072,1.34a3.969,3.969,0,0,0-1.868,2.05,4.727,4.727,0,0,1-1.7,2.27l-7.794,6.6a2.228,2.228,0,0,1-3.145-.25l-2.32-2.71a3.023,3.023,0,0,1-.366-3.34,9.1,9.1,0,0,0,1.532-3.84c0-1.48-.688-3.6-3.621-6a11.855,11.855,0,0,0-7.912-3.03c-1.228.05-1.548,1.16-.766,2.11l3.91,4.74a2.7,2.7,0,0,1-.056,3.39l-0.085.09a17.685,17.685,0,0,1-3.368,2.83l-0.04.03a2.75,2.75,0,0,1-3.37-.51l-4.066-4.6c-0.813-.92-1.967-0.78-2.2.42a10.938,10.938,0,0,0,.762,6.3,18.417,18.417,0,0,0,2.24,3.83,6.708,6.708,0,0,0,4.1,2.68,8.57,8.57,0,0,0,3.873-.85,2.874,2.874,0,0,1,3.045,1.01l2.311,2.87c0.771,0.95.928,2.13,0.35,2.62s-1.683.12-2.468-.83l-0.106-.13a5.342,5.342,0,0,0-1.977-1.71c-0.307,0-.532,1-0.5,2.23l0.016,0.69a1.719,1.719,0,0,1-2.109,1.82,5.4,5.4,0,0,0-3.882,1.01l-10.035,8.23a4.7,4.7,0,0,0-1.719,2.93,6.4,6.4,0,0,0,1.39,3.25l1.916,2.4a5.448,5.448,0,0,0,2.873,1.92,5.092,5.092,0,0,0,3.193-1.24l10.053-8.37a5.684,5.684,0,0,0,1.8-3.64l0.012-.28a1.788,1.788,0,0,1,2.259-1.74l0.106,0.02c1.2,0.27,2.172.19,2.172-.17a4.927,4.927,0,0,0-1.121-2,1.608,1.608,0,0,1-.088-2.22c0.57-.48,1.658-0.1,2.43.86l6.7,8.3a5.183,5.183,0,0,1,1.271,2.49,7.045,7.045,0,1,0,9.389-5.86A9.536,9.536,0,0,1,249.72,1803.93Zm1.237,12.52a3.8,3.8,0,1,1,3.8-3.8A3.8,3.8,0,0,1,250.957,1816.45Z" transform="translate(-209 -1771.13)"/>
		</symbol>
		<symbol id="build-icon">
			<!-- viewBox="0 0 77 41 -->
			<path d="M597.188,1809.22a1.46,1.46,0,1,0,1.471,1.46A1.463,1.463,0,0,0,597.188,1809.22Zm-9.869.17a1.29,1.29,0,1,0,1.3,1.29A1.3,1.3,0,0,0,587.319,1809.39Zm20.16,0a1.29,1.29,0,1,0,1.295,1.29A1.3,1.3,0,0,0,607.479,1809.39Zm-31.011,0a1.29,1.29,0,1,0,1.3,1.29A1.294,1.294,0,0,0,576.468,1809.39Zm-3.85-4.03v0.35a5.006,5.006,0,0,0,0,9.94V1816h48.038v-0.35a5.006,5.006,0,0,0,0-9.94v-0.35H572.618Zm45.045,7.86a2.555,2.555,0,0,1-2.468-1.91h-5.249a2.548,2.548,0,0,1-4.934,0h-5.173a2.729,2.729,0,0,1-5.3,0h-4.752a2.548,2.548,0,0,1-4.933,0h-5.917a2.54,2.54,0,1,1,0-1.26h5.917a2.548,2.548,0,0,1,4.933,0h4.752a2.729,2.729,0,0,1,5.3,0h5.173a2.548,2.548,0,0,1,4.934,0H615.2A2.55,2.55,0,1,1,617.663,1813.22Zm0-3.83a1.29,1.29,0,1,0,1.3,1.29A1.3,1.3,0,0,0,617.663,1809.39Zm15.937-15.61h-6.2v1.98h-2.217a14.019,14.019,0,0,0-2.823-6.68h-9.886v-6.67h-1.259v6.67h-3.834v-3.44h-1.259v3.44h-2.242v-3.44h-1.26v3.44H599.79l0.105-10.12H589.71V1775h-6.721v3.96h-1.82v8.66l-11.829.21s-8.89,6.25-1.225,15.64c0,0,3.009-.3,7.63-0.3h43.121s3.272-.1,4.846.99a15.4,15.4,0,0,0,.975-2.48l2.717,1.16v3.67c2.338,6.26,14.6,3.34,14.6,3.34C634.858,1808.92,633.6,1793.78,633.6,1793.78Zm-37.135,0h-5.023v-5.34h-8.558v-6.92h13.581v12.26Zm30.939,7.69-2.4-1.02a13.6,13.6,0,0,0,.3-3.44h2.1v4.46h0Z" transform="translate(-565 -1775)"/>
		</symbol>
		<symbol id="rimming-icon">
			<!-- viewBox="0 0 57 56" -->
  			<path d="M974.742,1788.44a13.975,13.975,0,0,0,1.241,2.93l-1.5,1.87a1.531,1.531,0,0,0,.117,2.04l2.58,2.56a1.561,1.561,0,0,0,2.054.12l1.878-1.48a13.649,13.649,0,0,0,3.063,1.29l0.281,2.4a1.55,1.55,0,0,0,1.535,1.36h3.651a1.549,1.549,0,0,0,1.534-1.36l0.269-2.32a13.79,13.79,0,0,0,3.284-1.31l1.816,1.42a1.56,1.56,0,0,0,2.054-.11l2.579-2.56a1.521,1.521,0,0,0,.12-2.04l-1.415-1.78a13.544,13.544,0,0,0,1.355-3.21l2.17-.24a1.544,1.544,0,0,0,1.37-1.53v-3.62a1.527,1.527,0,0,0-1.37-1.52l-2.14-.25a13.772,13.772,0,0,0-1.3-3.17l1.319-1.66a1.531,1.531,0,0,0-.11-2.04l-2.579-2.55a1.561,1.561,0,0,0-2.054-.12l-1.62,1.28a13.582,13.582,0,0,0-3.357-1.4l-0.245-2.08a1.541,1.541,0,0,0-1.535-1.36h-3.65a1.541,1.541,0,0,0-1.535,1.36l-0.244,2.08a13.46,13.46,0,0,0-3.443,1.45l-1.682-1.33a1.561,1.561,0,0,0-2.054.12l-2.58,2.56a1.525,1.525,0,0,0-.117,2.04l1.407,1.76a13.276,13.276,0,0,0-1.272,3.2l-2.25.26a1.533,1.533,0,0,0-1.37,1.52v3.62a1.543,1.543,0,0,0,1.37,1.53Zm13.226-9.8a5.99,5.99,0,1,1-6.035,5.99A6.022,6.022,0,0,1,987.968,1778.64Zm36.092,10.69-1.93-1.61a1.527,1.527,0,0,0-2.03.05l-1.06.99a11.343,11.343,0,0,0-2.84-.91l-0.3-1.45a1.537,1.537,0,0,0-1.63-1.22l-2.51.21a1.531,1.531,0,0,0-1.4,1.47l-0.05,1.48a11.092,11.092,0,0,0-2.71,1.41l-1.27-.84a1.538,1.538,0,0,0-2.01.29l-1.63,1.92a1.514,1.514,0,0,0,.06,2.02l1.11,1.18a11.463,11.463,0,0,0-.82,2.69l-1.59.32a1.526,1.526,0,0,0-1.22,1.62l0.21,2.49a1.524,1.524,0,0,0,1.48,1.39l1.71,0.06a11.268,11.268,0,0,0,1.22,2.3l-0.96,1.44a1.515,1.515,0,0,0,.29,2l1.92,1.61a1.538,1.538,0,0,0,2.03-.05l1.26-1.18a10.892,10.892,0,0,0,2.59.84l0.35,1.71a1.53,1.53,0,0,0,1.63,1.22l2.51-.21a1.54,1.54,0,0,0,1.4-1.47l0.05-1.67a11.224,11.224,0,0,0,2.59-1.3l1.39,0.91a1.538,1.538,0,0,0,2.01-.29l1.63-1.91a1.5,1.5,0,0,0-.06-2.01l-1.12-1.18a10.745,10.745,0,0,0,.88-2.71l1.53-.31a1.514,1.514,0,0,0,1.22-1.61l-0.21-2.5a1.521,1.521,0,0,0-1.47-1.38l-1.54-.05a10.543,10.543,0,0,0-1.28-2.5l0.84-1.25A1.512,1.512,0,0,0,1024.06,1789.33Zm-9.48,14.42a4.9,4.9,0,1,1,4.51-5.3A4.923,4.923,0,0,1,1014.58,1803.75Zm-31.045,6.72a1.511,1.511,0,0,0-1.369,1.49l-0.019,1.53a1.525,1.525,0,0,0,1.333,1.53l1.138,0.14a8.653,8.653,0,0,0,.806,1.96l-0.733.9a1.511,1.511,0,0,0,.092,2.02l1.081,1.09a1.519,1.519,0,0,0,2.03.14l0.912-.69a9.419,9.419,0,0,0,2.03.88l0.122,1.16a1.523,1.523,0,0,0,1.5,1.36l1.547,0.02a1.523,1.523,0,0,0,1.535-1.32l0.141-1.11a9.155,9.155,0,0,0,2.2-.85l0.856,0.69a1.536,1.536,0,0,0,2.028-.09l1.11-1.08a1.5,1.5,0,0,0,.14-2.01l-0.66-.85a8.187,8.187,0,0,0,.93-2.12l1.02-.1a1.533,1.533,0,0,0,1.37-1.5l0.02-1.53a1.534,1.534,0,0,0-1.34-1.53l-0.99-.12a9.511,9.511,0,0,0-.83-2.13l0.61-.75a1.491,1.491,0,0,0-.09-2.01l-1.08-1.1a1.519,1.519,0,0,0-2.03-.14l-0.74.56a9.039,9.039,0,0,0-2.226-.96l-0.1-.95a1.532,1.532,0,0,0-1.5-1.36l-1.547-.02a1.522,1.522,0,0,0-1.534,1.33l-0.123.94a9.16,9.16,0,0,0-2.3.94l-0.764-.62a1.529,1.529,0,0,0-2.031.09l-1.112,1.08a1.5,1.5,0,0,0-.141,2.01l0.654,0.84a8.887,8.887,0,0,0-.874,2.13Zm9.985-1.74a4,4,0,1,1-4.072,3.94A4.009,4.009,0,0,1,993.52,1808.73Z" transform="translate(-971 -1768)"/>
		</symbol>
		<symbol id="footer-home-icon">
			<!-- viewBox="0 0 24.37 25.22" -->
			<path d="M1079.16,5983.2h-5.18a0.367,0.367,0,0,1-.36-0.37v-7.47h-4.93v7.47a0.374,0.374,0,0,1-.36.37h-5.19a0.367,0.367,0,0,1-.36-0.37v-12.19h-2.96a0.346,0.346,0,0,1-.33-0.23,0.368,0.368,0,0,1,.08-0.4l11.33-10.93a0.35,0.35,0,0,1,.5,0l11.33,10.93a0.364,0.364,0,0,1-.25.63h-2.96v12.19A0.367,0.367,0,0,1,1079.16,5983.2Zm-4.82-.74h4.46v-12.19a0.359,0.359,0,0,1,.36-0.36h2.42l-10.43-10.06-10.42,10.06h2.41a0.359,0.359,0,0,1,.36.36v12.19h4.47v-7.47a0.359,0.359,0,0,1,.36-0.36h5.65a0.359,0.359,0,0,1,.36.36v7.47Z" transform="translate(-1058.97 -5958.47)"/>
		</symbol>
		<symbol id="footer-phone-icon">
			<!-- viewBox="0 0 22.25 23.1" -->
			<path d="M1078.6,6034.72a2.178,2.178,0,0,0-1.62-.76,2.264,2.264,0,0,0-1.63.76l-1.52,1.56c-0.12-.07-0.24-0.14-0.36-0.2a5.205,5.205,0,0,1-.48-0.26,16.838,16.838,0,0,1-3.94-3.71,9.824,9.824,0,0,1-1.29-2.11c0.39-.37.76-0.76,1.11-1.13,0.14-.13.27-0.28,0.4-0.42a2.309,2.309,0,0,0,0-3.42l-1.3-1.35c-0.15-.15-0.3-0.31-0.45-0.47-0.29-.31-0.59-0.62-0.9-0.92a2.246,2.246,0,0,0-1.6-.73,2.329,2.329,0,0,0-1.63.73c0,0.01,0,.01-0.01.01l-1.63,1.7a3.623,3.623,0,0,0-1.03,2.3,8.792,8.792,0,0,0,.61,3.67,21.338,21.338,0,0,0,3.66,6.31,22.639,22.639,0,0,0,7.5,6.06,11.409,11.409,0,0,0,4.21,1.29c0.1,0.01.21,0.01,0.3,0.01a3.558,3.558,0,0,0,2.77-1.23c0-.01.01-0.01,0.01-0.02,0.25-.31.54-0.59,0.84-0.9,0.21-.2.42-0.41,0.62-0.63a2.5,2.5,0,0,0,.73-1.71,2.419,2.419,0,0,0-.74-1.7Zm1.72,5.21c-0.01,0-.01.01,0,0-0.19.21-.38,0.4-0.59,0.61a10.83,10.83,0,0,0-.92.98,2.276,2.276,0,0,1-1.8.79h-0.22a10.349,10.349,0,0,1-3.74-1.16,21.535,21.535,0,0,1-7.06-5.72,20.393,20.393,0,0,1-3.45-5.93,7.346,7.346,0,0,1-.53-3.09,2.3,2.3,0,0,1,.66-1.47l1.63-1.69a1.046,1.046,0,0,1,.73-0.35,1.029,1.029,0,0,1,.7.35l0.01,0.01c0.29,0.28.57,0.58,0.86,0.89,0.15,0.16.3,0.31,0.46,0.48l1.3,1.35a0.956,0.956,0,0,1,0,1.53c-0.14.14-.27,0.29-0.41,0.43-0.4.42-.78,0.82-1.2,1.2a0.053,0.053,0,0,0-.02.03,1.025,1.025,0,0,0-.25,1.12c0,0.01.01,0.03,0.01,0.04a10.805,10.805,0,0,0,1.55,2.61h0a17.658,17.658,0,0,0,4.25,4c0.2,0.13.4,0.23,0.59,0.33,0.17,0.09.34,0.17,0.48,0.26,0.02,0.01.03,0.03,0.05,0.04a1.1,1.1,0,0,0,.48.12,1.049,1.049,0,0,0,.73-0.34l1.63-1.69a1.056,1.056,0,0,1,.73-0.37,0.934,0.934,0,0,1,.68.36c0.01,0,.01,0,0.01.01l2.64,2.72A1.007,1.007,0,0,1,1080.32,6039.93Z" transform="translate(-1060.22 -6021.06)"/>
		</symbol>
		<symbol id="footer-mail-icon">
			<!-- viewBox="0 0 26 16.94" -->
			<path d="M1083.21,6085.1h-23.43a0.783,0.783,0,0,0-.78.79v14.33a0.792,0.792,0,0,0,.78.8h23.43a0.792,0.792,0,0,0,.78-0.8v-14.33A0.783,0.783,0,0,0,1083.21,6085.1Zm-2.5,1.59-9.21,5.83-9.22-5.83h18.43Zm-20.15,12.74v-11.96l10.94,6.92,10.93-6.92v11.96h-21.87Z" transform="translate(-1058.5 -6084.59)"/>
		</symbol>
		<symbol id="footer-location-icon">
			<!-- viewBox="0 0 19.75 26.5" -->
			<path d="M1074.57,6150.67a3.261,3.261,0,1,0-3.26,3.18A3.225,3.225,0,0,0,1074.57,6150.67Zm-4.89,0a1.631,1.631,0,1,1,1.63,1.59A1.609,1.609,0,0,1,1069.68,6150.67Zm1.61,16.32a0.811,0.811,0,0,0,.62-0.27c0.35-.39,8.8-9.82,8.77-16.04a9.372,9.372,0,0,0-18.74,0c0,6.22,8.38,15.64,8.74,16.04A0.825,0.825,0,0,0,1071.29,6166.99Zm0.02-23.88a7.694,7.694,0,0,1,7.74,7.58c0.02,4.71-5.82,11.99-7.75,14.27-1.93-2.28-7.73-9.56-7.73-14.28A7.666,7.666,0,0,1,1071.31,6143.11Z" transform="translate(-1061.44 -6141)"/>
		</symbol>

				<symbol id="address_footer">
					<path  d="M1079.16,5983.2h-5.18a0.367,0.367,0,0,1-.36-0.37v-7.47h-4.93v7.47a0.374,0.374,0,0,1-.36.37h-5.19a0.367,0.367,0,0,1-.36-0.37v-12.19h-2.96a0.346,0.346,0,0,1-.33-0.23,0.368,0.368,0,0,1,.08-0.4l11.33-10.93a0.35,0.35,0,0,1,.5,0l11.33,10.93a0.364,0.364,0,0,1-.25.63h-2.96v12.19A0.367,0.367,0,0,1,1079.16,5983.2Zm-4.82-.74h4.46v-12.19a0.359,0.359,0,0,1,.36-0.36h2.42l-10.43-10.06-10.42,10.06h2.41a0.359,0.359,0,0,1,.36.36v12.19h4.47v-7.47a0.359,0.359,0,0,1,.36-0.36h5.65a0.359,0.359,0,0,1,.36.36v7.47Z" transform="translate(-1058.97 -5958.47)"/>
				</symbol>

				<symbol id="phone_footer">
					<path d="M1078.6,6034.72a2.178,2.178,0,0,0-1.62-.76,2.264,2.264,0,0,0-1.63.76l-1.52,1.56c-0.12-.07-0.24-0.14-0.36-0.2a5.205,5.205,0,0,1-.48-0.26,16.838,16.838,0,0,1-3.94-3.71,9.824,9.824,0,0,1-1.29-2.11c0.39-.37.76-0.76,1.11-1.13,0.14-.13.27-0.28,0.4-0.42a2.309,2.309,0,0,0,0-3.42l-1.3-1.35c-0.15-.15-0.3-0.31-0.45-0.47-0.29-.31-0.59-0.62-0.9-0.92a2.246,2.246,0,0,0-1.6-.73,2.329,2.329,0,0,0-1.63.73c0,0.01,0,.01-0.01.01l-1.63,1.7a3.623,3.623,0,0,0-1.03,2.3,8.792,8.792,0,0,0,.61,3.67,21.338,21.338,0,0,0,3.66,6.31,22.639,22.639,0,0,0,7.5,6.06,11.409,11.409,0,0,0,4.21,1.29c0.1,0.01.21,0.01,0.3,0.01a3.558,3.558,0,0,0,2.77-1.23c0-.01.01-0.01,0.01-0.02,0.25-.31.54-0.59,0.84-0.9,0.21-.2.42-0.41,0.62-0.63a2.5,2.5,0,0,0,.73-1.71,2.419,2.419,0,0,0-.74-1.7Zm1.72,5.21c-0.01,0-.01.01,0,0-0.19.21-.38,0.4-0.59,0.61a10.83,10.83,0,0,0-.92.98,2.276,2.276,0,0,1-1.8.79h-0.22a10.349,10.349,0,0,1-3.74-1.16,21.535,21.535,0,0,1-7.06-5.72,20.393,20.393,0,0,1-3.45-5.93,7.346,7.346,0,0,1-.53-3.09,2.3,2.3,0,0,1,.66-1.47l1.63-1.69a1.046,1.046,0,0,1,.73-0.35,1.029,1.029,0,0,1,.7.35l0.01,0.01c0.29,0.28.57,0.58,0.86,0.89,0.15,0.16.3,0.31,0.46,0.48l1.3,1.35a0.956,0.956,0,0,1,0,1.53c-0.14.14-.27,0.29-0.41,0.43-0.4.42-.78,0.82-1.2,1.2a0.053,0.053,0,0,0-.02.03,1.025,1.025,0,0,0-.25,1.12c0,0.01.01,0.03,0.01,0.04a10.805,10.805,0,0,0,1.55,2.61h0a17.658,17.658,0,0,0,4.25,4c0.2,0.13.4,0.23,0.59,0.33,0.17,0.09.34,0.17,0.48,0.26,0.02,0.01.03,0.03,0.05,0.04a1.1,1.1,0,0,0,.48.12,1.049,1.049,0,0,0,.73-0.34l1.63-1.69a1.056,1.056,0,0,1,.73-0.37,0.934,0.934,0,0,1,.68.36c0.01,0,.01,0,0.01.01l2.64,2.72A1.007,1.007,0,0,1,1080.32,6039.93Z" transform="translate(-1060.22 -6021.06)"/>
				</symbol>

				<symbol id="email_footer">
		  		<path  d="M1083.21,6085.1h-23.43a0.783,0.783,0,0,0-.78.79v14.33a0.792,0.792,0,0,0,.78.8h23.43a0.792,0.792,0,0,0,.78-0.8v-14.33A0.783,0.783,0,0,0,1083.21,6085.1Zm-2.5,1.59-9.21,5.83-9.22-5.83h18.43Zm-20.15,12.74v-11.96l10.94,6.92,10.93-6.92v11.96h-21.87Z" transform="translate(-1058.5 -6084.59)"/>
				</symbol>

				<symbol id="map_footer">
		  		<path d="M1074.57,6150.67a3.261,3.261,0,1,0-3.26,3.18A3.225,3.225,0,0,0,1074.57,6150.67Zm-4.89,0a1.631,1.631,0,1,1,1.63,1.59A1.609,1.609,0,0,1,1069.68,6150.67Zm1.61,16.32a0.811,0.811,0,0,0,.62-0.27c0.35-.39,8.8-9.82,8.77-16.04a9.372,9.372,0,0,0-18.74,0c0,6.22,8.38,15.64,8.74,16.04A0.825,0.825,0,0,0,1071.29,6166.99Zm0.02-23.88a7.694,7.694,0,0,1,7.74,7.58c0.02,4.71-5.82,11.99-7.75,14.27-1.93-2.28-7.73-9.56-7.73-14.28A7.666,7.666,0,0,1,1071.31,6143.11Z" transform="translate(-1061.44 -6141)"/>
				</symbol>
				<symbol id="itm_logo">
					<path  d="M281.125,4690.52c-0.036-.62-0.1-1.24-0.1-1.86q-0.01-24.075-.008-48.16c0-2.05-.007-2.05-2.056-2.05H247.892c-1.885,0-1.89-.01-1.89-1.92q0-8.76,0-17.51v-1.9c0.63-.03,1.142-0.09,1.654-0.09q82.17,0,164.341-.03c1.357,0,1.7.4,1.687,1.72-0.064,5.89-.026,11.77-0.027,17.66,0,2.07,0,2.07-2.033,2.07H309.172v52.07H281.125Zm-10.858-62.48a9.919,9.919,0,1,0-9.987,9.94C265.346,4637.94,270.585,4633.81,270.267,4628.04Zm115.2,62.61v-36.77c-2.066,0-4.03-.04-5.989.05a1.447,1.447,0,0,0-.7,1.11c-0.078,1.74-.032,3.5-0.032,5.25,0,9.53-.027,19.07.029,28.6,0.009,1.4-.38,1.8-1.786,1.79-8.226-.06-16.453-0.03-24.68-0.03h-1.65v-36.7h-6.9v1.9c0,10.99-.028,21.98.032,32.97,0.008,1.48-.378,1.88-1.856,1.87-8.128-.08-16.258-0.04-24.388-0.04h-1.7v-46.4c0.562-.02,1.079-0.06,1.6-0.06q44.715-.015,89.426-0.01c4.363,0,6.8,2.51,6.8,6.91,0,12.59-.023,25.19.027,37.79,0,1.38-.349,1.81-1.764,1.8-8.226-.06-16.453-0.03-24.679-0.03h-1.777Zm-139.28-46.4h27.972c0.031,0.61.085,1.17,0.085,1.74,0,14.29-.014,28.58.034,42.88,0,1.37-.315,1.83-1.752,1.81q-12.479-.09-24.958-0.01c-1.127.01-1.5-.31-1.493-1.48q0.051-21.81.025-43.61C246.1,4645.2,246.147,4644.82,246.185,4644.25ZM421.362,4691a5.343,5.343,0,1,1,.2-10.68A5.344,5.344,0,1,1,421.362,4691Zm4.49-5.37a4.393,4.393,0,0,0-8.776-.11A4.389,4.389,0,1,0,425.852,4685.63Zm-2.294.31c0.177,0.73.382,1.58,0.606,2.5-1.033.2-1.751,0.43-1.865-.84a2.757,2.757,0,0,0-.929-1.04,8.428,8.428,0,0,0-.643,1.06,3.47,3.47,0,0,0-.132.9h-1.472v-5.76a19.253,19.253,0,0,1,3.138.05,2.432,2.432,0,0,1,1.673,1.05C424.155,4684.36,423.729,4685.15,423.558,4685.94Zm-2.392-2.46-0.57.48c0.222,0.43.443,0.85,0.665,1.27,0.353-.24.7-0.49,1.057-0.74C421.934,4684.15,421.55,4683.82,421.166,4683.48Z" transform="translate(-246 -4617)"/>
				</symbol>

				<symbol id="fitting">
		  		<path  d="M249.72,1803.93l-7.165-8.38a2.2,2.2,0,0,1,.253-3.12l7.687-6.49a4.317,4.317,0,0,1,2.6-1.24c0.5,0.11,1.589-.51,2.444-1.4l1.725-1.77a2.457,2.457,0,0,0,.279-3.16,2.419,2.419,0,0,0-3.135-.35l-2.072,1.34a3.969,3.969,0,0,0-1.868,2.05,4.727,4.727,0,0,1-1.7,2.27l-7.794,6.6a2.228,2.228,0,0,1-3.145-.25l-2.32-2.71a3.023,3.023,0,0,1-.366-3.34,9.1,9.1,0,0,0,1.532-3.84c0-1.48-.688-3.6-3.621-6a11.855,11.855,0,0,0-7.912-3.03c-1.228.05-1.548,1.16-.766,2.11l3.91,4.74a2.7,2.7,0,0,1-.056,3.39l-0.085.09a17.685,17.685,0,0,1-3.368,2.83l-0.04.03a2.75,2.75,0,0,1-3.37-.51l-4.066-4.6c-0.813-.92-1.967-0.78-2.2.42a10.938,10.938,0,0,0,.762,6.3,18.417,18.417,0,0,0,2.24,3.83,6.708,6.708,0,0,0,4.1,2.68,8.57,8.57,0,0,0,3.873-.85,2.874,2.874,0,0,1,3.045,1.01l2.311,2.87c0.771,0.95.928,2.13,0.35,2.62s-1.683.12-2.468-.83l-0.106-.13a5.342,5.342,0,0,0-1.977-1.71c-0.307,0-.532,1-0.5,2.23l0.016,0.69a1.719,1.719,0,0,1-2.109,1.82,5.4,5.4,0,0,0-3.882,1.01l-10.035,8.23a4.7,4.7,0,0,0-1.719,2.93,6.4,6.4,0,0,0,1.39,3.25l1.916,2.4a5.448,5.448,0,0,0,2.873,1.92,5.092,5.092,0,0,0,3.193-1.24l10.053-8.37a5.684,5.684,0,0,0,1.8-3.64l0.012-.28a1.788,1.788,0,0,1,2.259-1.74l0.106,0.02c1.2,0.27,2.172.19,2.172-.17a4.927,4.927,0,0,0-1.121-2,1.608,1.608,0,0,1-.088-2.22c0.57-.48,1.658-0.1,2.43.86l6.7,8.3a5.183,5.183,0,0,1,1.271,2.49,7.045,7.045,0,1,0,9.389-5.86A9.536,9.536,0,0,1,249.72,1803.93Zm1.237,12.52a3.8,3.8,0,1,1,3.8-3.8A3.8,3.8,0,0,1,250.957,1816.45Z" transform="translate(-209 -1771.13)"/>
				</symbol>

				<symbol id="build_up">
						<path d="M597.188,1809.22a1.46,1.46,0,1,0,1.471,1.46A1.463,1.463,0,0,0,597.188,1809.22Zm-9.869.17a1.29,1.29,0,1,0,1.3,1.29A1.3,1.3,0,0,0,587.319,1809.39Zm20.16,0a1.29,1.29,0,1,0,1.295,1.29A1.3,1.3,0,0,0,607.479,1809.39Zm-31.011,0a1.29,1.29,0,1,0,1.3,1.29A1.294,1.294,0,0,0,576.468,1809.39Zm-3.85-4.03v0.35a5.006,5.006,0,0,0,0,9.94V1816h48.038v-0.35a5.006,5.006,0,0,0,0-9.94v-0.35H572.618Zm45.045,7.86a2.555,2.555,0,0,1-2.468-1.91h-5.249a2.548,2.548,0,0,1-4.934,0h-5.173a2.729,2.729,0,0,1-5.3,0h-4.752a2.548,2.548,0,0,1-4.933,0h-5.917a2.54,2.54,0,1,1,0-1.26h5.917a2.548,2.548,0,0,1,4.933,0h4.752a2.729,2.729,0,0,1,5.3,0h5.173a2.548,2.548,0,0,1,4.934,0H615.2A2.55,2.55,0,1,1,617.663,1813.22Zm0-3.83a1.29,1.29,0,1,0,1.3,1.29A1.3,1.3,0,0,0,617.663,1809.39Zm15.937-15.61h-6.2v1.98h-2.217a14.019,14.019,0,0,0-2.823-6.68h-9.886v-6.67h-1.259v6.67h-3.834v-3.44h-1.259v3.44h-2.242v-3.44h-1.26v3.44H599.79l0.105-10.12H589.71V1775h-6.721v3.96h-1.82v8.66l-11.829.21s-8.89,6.25-1.225,15.64c0,0,3.009-.3,7.63-0.3h43.121s3.272-.1,4.846.99a15.4,15.4,0,0,0,.975-2.48l2.717,1.16v3.67c2.338,6.26,14.6,3.34,14.6,3.34C634.858,1808.92,633.6,1793.78,633.6,1793.78Zm-37.135,0h-5.023v-5.34h-8.558v-6.92h13.581v12.26Zm30.939,7.69-2.4-1.02a13.6,13.6,0,0,0,.3-3.44h2.1v4.46h0Z" transform="translate(-565 -1775)"/>
				</symbol>

				<symbol id="rerimming">
						<path  d="M974.742,1788.44a13.975,13.975,0,0,0,1.241,2.93l-1.5,1.87a1.531,1.531,0,0,0,.117,2.04l2.58,2.56a1.561,1.561,0,0,0,2.054.12l1.878-1.48a13.649,13.649,0,0,0,3.063,1.29l0.281,2.4a1.55,1.55,0,0,0,1.535,1.36h3.651a1.549,1.549,0,0,0,1.534-1.36l0.269-2.32a13.79,13.79,0,0,0,3.284-1.31l1.816,1.42a1.56,1.56,0,0,0,2.054-.11l2.579-2.56a1.521,1.521,0,0,0,.12-2.04l-1.415-1.78a13.544,13.544,0,0,0,1.355-3.21l2.17-.24a1.544,1.544,0,0,0,1.37-1.53v-3.62a1.527,1.527,0,0,0-1.37-1.52l-2.14-.25a13.772,13.772,0,0,0-1.3-3.17l1.319-1.66a1.531,1.531,0,0,0-.11-2.04l-2.579-2.55a1.561,1.561,0,0,0-2.054-.12l-1.62,1.28a13.582,13.582,0,0,0-3.357-1.4l-0.245-2.08a1.541,1.541,0,0,0-1.535-1.36h-3.65a1.541,1.541,0,0,0-1.535,1.36l-0.244,2.08a13.46,13.46,0,0,0-3.443,1.45l-1.682-1.33a1.561,1.561,0,0,0-2.054.12l-2.58,2.56a1.525,1.525,0,0,0-.117,2.04l1.407,1.76a13.276,13.276,0,0,0-1.272,3.2l-2.25.26a1.533,1.533,0,0,0-1.37,1.52v3.62a1.543,1.543,0,0,0,1.37,1.53Zm13.226-9.8a5.99,5.99,0,1,1-6.035,5.99A6.022,6.022,0,0,1,987.968,1778.64Zm36.092,10.69-1.93-1.61a1.527,1.527,0,0,0-2.03.05l-1.06.99a11.343,11.343,0,0,0-2.84-.91l-0.3-1.45a1.537,1.537,0,0,0-1.63-1.22l-2.51.21a1.531,1.531,0,0,0-1.4,1.47l-0.05,1.48a11.092,11.092,0,0,0-2.71,1.41l-1.27-.84a1.538,1.538,0,0,0-2.01.29l-1.63,1.92a1.514,1.514,0,0,0,.06,2.02l1.11,1.18a11.463,11.463,0,0,0-.82,2.69l-1.59.32a1.526,1.526,0,0,0-1.22,1.62l0.21,2.49a1.524,1.524,0,0,0,1.48,1.39l1.71,0.06a11.268,11.268,0,0,0,1.22,2.3l-0.96,1.44a1.515,1.515,0,0,0,.29,2l1.92,1.61a1.538,1.538,0,0,0,2.03-.05l1.26-1.18a10.892,10.892,0,0,0,2.59.84l0.35,1.71a1.53,1.53,0,0,0,1.63,1.22l2.51-.21a1.54,1.54,0,0,0,1.4-1.47l0.05-1.67a11.224,11.224,0,0,0,2.59-1.3l1.39,0.91a1.538,1.538,0,0,0,2.01-.29l1.63-1.91a1.5,1.5,0,0,0-.06-2.01l-1.12-1.18a10.745,10.745,0,0,0,.88-2.71l1.53-.31a1.514,1.514,0,0,0,1.22-1.61l-0.21-2.5a1.521,1.521,0,0,0-1.47-1.38l-1.54-.05a10.543,10.543,0,0,0-1.28-2.5l0.84-1.25A1.512,1.512,0,0,0,1024.06,1789.33Zm-9.48,14.42a4.9,4.9,0,1,1,4.51-5.3A4.923,4.923,0,0,1,1014.58,1803.75Zm-31.045,6.72a1.511,1.511,0,0,0-1.369,1.49l-0.019,1.53a1.525,1.525,0,0,0,1.333,1.53l1.138,0.14a8.653,8.653,0,0,0,.806,1.96l-0.733.9a1.511,1.511,0,0,0,.092,2.02l1.081,1.09a1.519,1.519,0,0,0,2.03.14l0.912-.69a9.419,9.419,0,0,0,2.03.88l0.122,1.16a1.523,1.523,0,0,0,1.5,1.36l1.547,0.02a1.523,1.523,0,0,0,1.535-1.32l0.141-1.11a9.155,9.155,0,0,0,2.2-.85l0.856,0.69a1.536,1.536,0,0,0,2.028-.09l1.11-1.08a1.5,1.5,0,0,0,.14-2.01l-0.66-.85a8.187,8.187,0,0,0,.93-2.12l1.02-.1a1.533,1.533,0,0,0,1.37-1.5l0.02-1.53a1.534,1.534,0,0,0-1.34-1.53l-0.99-.12a9.511,9.511,0,0,0-.83-2.13l0.61-.75a1.491,1.491,0,0,0-.09-2.01l-1.08-1.1a1.519,1.519,0,0,0-2.03-.14l-0.74.56a9.039,9.039,0,0,0-2.226-.96l-0.1-.95a1.532,1.532,0,0,0-1.5-1.36l-1.547-.02a1.522,1.522,0,0,0-1.534,1.33l-0.123.94a9.16,9.16,0,0,0-2.3.94l-0.764-.62a1.529,1.529,0,0,0-2.031.09l-1.112,1.08a1.5,1.5,0,0,0-.141,2.01l0.654,0.84a8.887,8.887,0,0,0-.874,2.13Zm9.985-1.74a4,4,0,1,1-4.072,3.94A4.009,4.009,0,0,1,993.52,1808.73Z" transform="translate(-971 -1768)"/>
				</symbol>
			<symbol id="bullet">
				<circle cx="5.5" cy="5.5" r="4.5"/>
				<circle cx="2.75" cy="2.75" r="2.25" fill="red"/>
			</symbol>
			<symbol id="safety">
				<path
				 d="M78.980,66.996 C76.967,69.002 74.556,70.005 71.750,70.005 L70.285,70.005 L70.285,11.663 L71.750,11.663 C74.556,11.663 76.967,12.666 78.980,14.672 C80.993,16.677 82.000,19.078 82.000,21.873 L82.000,59.795 C82.000,62.591 80.993,64.991 78.980,66.996 ZM16.108,11.663 L23.429,11.663 L23.429,4.371 C23.429,3.155 23.856,2.122 24.710,1.271 C25.565,0.420 26.601,-0.005 27.822,-0.005 L54.179,-0.005 C55.399,-0.005 56.436,0.420 57.290,1.271 C58.145,2.123 58.571,3.155 58.571,4.371 L58.571,11.663 L65.892,11.663 L65.892,70.005 L16.108,70.005 L16.108,11.663 ZM52.714,5.829 L29.286,5.829 L29.286,11.663 L52.714,11.663 L52.714,5.829 ZM23.429,45.210 C23.429,45.636 23.567,45.985 23.842,46.258 C24.116,46.531 24.466,46.669 24.894,46.669 L35.144,46.669 L35.144,56.878 C35.144,57.303 35.281,57.653 35.556,57.926 C35.830,58.199 36.181,58.335 36.608,58.335 L45.394,58.335 C45.821,58.335 46.172,58.199 46.445,57.926 C46.720,57.653 46.858,57.303 46.858,56.878 L46.858,46.669 L57.108,46.669 C57.535,46.669 57.886,46.531 58.160,46.258 C58.434,45.985 58.571,45.636 58.571,45.210 L58.571,45.210 L58.571,36.459 C58.571,36.033 58.434,35.683 58.159,35.410 C57.886,35.137 57.535,35.000 57.108,35.000 L46.858,35.000 L46.858,24.790 C46.858,24.365 46.720,24.016 46.445,23.742 C46.172,23.468 45.821,23.332 45.393,23.332 L36.608,23.332 C36.180,23.332 35.829,23.468 35.555,23.742 C35.280,24.016 35.143,24.365 35.143,24.790 L35.143,35.000 L24.893,35.000 C24.466,35.000 24.115,35.137 23.842,35.410 C23.567,35.683 23.429,36.033 23.429,36.459 L23.429,45.210 ZM3.020,66.996 C1.006,64.991 0.000,62.591 0.000,59.795 L0.000,21.873 C0.000,19.078 1.006,16.677 3.020,14.672 C5.033,12.666 7.443,11.663 10.250,11.663 L11.714,11.663 L11.714,70.005 L10.250,70.005 C7.444,70.005 5.034,69.002 3.020,66.996 Z"/>
			</symbol>
			<symbol id="teamwork">
				<path
			 	d="M83.298,49.494 C82.871,47.315 81.719,45.329 79.969,43.898 C74.996,39.796 69.725,36.635 66.395,34.798 C69.725,32.662 72.457,31.294 73.246,30.910 C73.396,30.824 73.481,30.696 73.481,30.525 L73.481,21.447 C72.328,20.678 71.581,19.375 71.581,17.901 L71.581,8.480 C71.581,3.802 75.381,-0.000 80.054,-0.000 L81.057,-0.000 L82.060,-0.000 C86.735,-0.000 90.533,3.802 90.533,8.480 L90.533,17.901 C90.533,19.396 89.765,20.678 88.634,21.447 L88.634,30.525 C88.634,30.696 88.719,30.846 88.868,30.910 C90.149,31.529 96.445,34.712 102.271,39.519 C103.339,40.373 103.936,41.676 104.000,43.043 L104.000,49.494 L83.298,49.494 ZM61.295,36.849 C62.831,37.596 70.322,41.377 77.280,47.102 C78.539,48.127 79.265,49.686 79.265,51.310 L79.265,59.000 L51.968,59.000 L24.650,59.000 L24.650,51.310 C24.650,49.686 25.376,48.127 26.635,47.102 C33.592,41.398 41.084,37.596 42.620,36.849 C42.791,36.763 42.897,36.592 42.897,36.400 L42.897,25.570 C41.531,24.672 40.635,23.113 40.635,21.361 L40.635,10.125 C40.635,4.529 45.160,-0.000 50.752,-0.000 L51.968,-0.000 L53.163,-0.000 C58.755,-0.000 63.279,4.529 63.279,10.125 L63.279,21.361 C63.279,23.113 62.383,24.651 61.017,25.570 L61.017,36.400 C61.017,36.592 61.123,36.763 61.295,36.849 ZM24.032,43.898 C22.281,45.329 21.108,47.315 20.702,49.494 L0.000,49.494 L0.000,43.043 C0.000,41.676 0.619,40.394 1.665,39.519 C7.491,34.712 13.787,31.529 15.067,30.910 C15.217,30.824 15.302,30.696 15.302,30.525 L15.302,21.447 C14.150,20.678 13.403,19.375 13.403,17.901 L13.403,8.480 C13.403,3.802 17.202,-0.000 21.875,-0.000 L22.921,-0.000 L23.924,-0.000 C28.598,-0.000 32.398,3.802 32.398,8.480 L32.398,17.901 C32.398,19.396 31.629,20.678 30.498,21.447 L30.498,30.525 C30.498,30.696 30.583,30.846 30.732,30.910 C31.522,31.294 34.254,32.662 37.605,34.798 C34.275,36.635 29.004,39.796 24.032,43.898 Z"/>
			</symbol>
			<symbol id="integrity">
				<path
				 d="M78.000,7.943 L78.000,31.393 C78.000,31.393 72.947,32.382 71.906,32.512 C70.868,32.642 67.606,33.688 65.243,31.432 C61.598,27.962 48.648,15.171 48.648,15.171 C48.648,15.171 46.415,12.995 42.830,14.876 C39.539,16.599 34.660,19.123 32.622,20.107 C28.770,22.143 25.578,18.912 25.578,16.451 C25.578,14.542 26.777,13.247 28.492,12.294 C33.138,9.496 42.931,4.037 47.010,1.884 C49.489,0.574 51.276,0.462 54.680,3.310 C58.872,6.812 62.603,10.004 62.603,10.004 C62.603,10.004 63.820,11.013 65.761,10.606 C70.526,9.606 78.000,7.943 78.000,7.943 ZM26.455,47.677 C27.082,46.077 26.873,44.287 25.670,43.060 C24.590,41.961 23.012,41.672 21.508,42.014 C21.929,40.532 21.696,38.955 20.610,37.843 C19.527,36.747 17.952,36.452 16.449,36.797 C16.866,35.318 16.635,33.741 15.548,32.631 C13.846,30.898 10.902,30.972 8.968,32.803 C7.045,34.636 5.812,37.957 7.529,39.913 C9.243,41.858 11.213,40.674 12.714,40.334 C12.296,41.814 11.045,43.190 12.586,45.126 C14.125,47.064 16.269,45.888 17.772,45.552 C17.353,47.025 16.156,48.540 17.638,50.335 C19.134,52.136 21.583,51.176 23.200,50.677 C22.576,52.272 21.240,53.990 22.957,55.916 C24.671,57.855 28.633,56.958 30.567,55.124 C32.497,53.291 32.682,50.386 30.985,48.646 C29.813,47.453 28.066,47.176 26.455,47.677 ZM61.762,35.477 C47.774,21.585 54.353,28.122 46.826,20.629 C46.826,20.629 44.563,18.393 41.582,19.692 C39.489,20.603 36.794,21.844 34.766,22.792 C32.538,23.953 30.935,24.312 30.182,24.307 C25.874,24.279 22.379,20.841 22.379,16.567 C22.379,13.794 23.862,11.380 26.072,10.010 C29.180,7.874 36.334,4.094 36.334,4.094 C36.334,4.094 34.155,1.351 29.380,1.351 C24.607,1.351 14.635,7.840 14.635,7.840 C14.635,7.840 11.806,9.640 7.773,8.019 L-0.000,5.330 L-0.000,32.164 C-0.000,32.164 2.219,32.802 4.214,33.611 C4.664,32.335 5.391,31.158 6.399,30.185 C9.708,27.054 15.192,27.022 18.202,30.101 C19.109,31.036 19.742,32.152 20.065,33.387 C21.277,33.758 22.376,34.417 23.259,35.320 C24.169,36.250 24.799,37.373 25.124,38.600 C26.336,38.973 27.433,39.634 28.319,40.538 C29.317,41.560 29.981,42.794 30.292,44.131 C31.558,44.497 32.702,45.179 33.624,46.115 C35.434,47.960 36.075,50.464 35.686,52.879 C35.690,52.879 35.695,52.879 35.698,52.885 C35.728,52.923 36.819,54.132 37.500,54.813 C38.833,56.139 41.011,56.139 42.349,54.813 C43.678,53.488 43.683,51.329 42.349,49.997 C42.301,49.950 37.537,45.001 37.920,44.618 C38.301,44.237 44.370,50.508 44.483,50.623 C45.815,51.946 47.991,51.946 49.329,50.623 C50.664,49.298 50.661,47.139 49.329,45.810 C49.264,45.748 48.990,45.489 48.889,45.385 C48.889,45.385 42.872,40.061 43.330,39.606 C43.793,39.149 51.268,46.076 51.280,46.076 C52.623,47.278 54.693,47.269 55.986,45.985 C57.243,44.736 57.270,42.760 56.155,41.429 C56.131,41.358 50.459,35.470 50.901,35.027 C51.350,34.579 56.964,40.319 56.976,40.331 C58.305,41.654 60.484,41.654 61.822,40.331 C63.153,39.008 63.153,36.846 61.822,35.512 C61.804,35.501 61.780,35.489 61.762,35.477 Z"/>
			</symbol>
	</svg>
</div>
