section.header-slider_section
    .slider-left_container
        .slider_section-nav.slider_section-left
    .slider-right_container
        .slider_section-nav.slider_section-right
    .header-slider_container
        .header-slider_item
            .container
                .slider-item_image-block
                    img(src="images/slider/PFAST_product.png", alt="img")
                    .image-block_img1
                    .image-block_img2
                    .image-block_img3
                .slider_item_text-block
                    h1.slider_item-title PFAST
                        span PIPE FITTING ALIGNMENT SYSTEM TECHNIQUE
                    a.slider_item-link(href="http://google.com") see more >
        .header-slider_item
            .container
                .slider-item_image-block
                    img(src="images/slider/PFAST_product.png", alt="img")
                    .image-block_img1
                    .image-block_img2
                    .image-block_img3
                .slider_item_text-block
                    h1.slider_item-title PFAST
                        span PIPE FITTING ALIGNMENT SYSTEM TECHNIQUE
                    a.slider_item-link(href="http://google.com") see more >
        .header-slider_item
            .container
                .slider-item_image-block
                    img(src="images/slider/PFAST_product.png", alt="img")
                    .image-block_img1
                    .image-block_img2
                    .image-block_img3
                .slider_item_text-block
                    h1.slider_item-title PFAST
                        span PIPE FITTING ALIGNMENT SYSTEM TECHNIQUE
                    a.slider_item-link(href="http://google.com") see more >