section.locations_section
    .container
        .locations_title_block
            h1.products_title LOCATIONS WORLDWIDE
            a.products_view-all(href="http://google.com") CONTACT US
        .locations_slider-block
            .location-nav.location-nav-left
            .location-nav.location-nav-right
            +grid("location_grid", [
            {
                label : "Sumner Manufacturing Company, Inc.",
                text_container : "7514 Alabonson Road<br> Houston, Texas 77088<br><a href='tel:2819996900'>Phone: (281) 999-6900</a><br> Fax: (281) 999-6966"
            },
            {
                label : "Sumner - Canada",
                text_container : "75 Saltsman Drive, Unit 5<br> Cambridge, Ontario N3H 4R7<br><a href='tel:5196535300'>Phone: (519) 653-5300</a><br> Fax: (519) 653-5305"
            },
            {
                label : "Sumner - U.K.",
                text_container : "Unit 3 Kempton Road<br> Keytec 7 Business Park<br> Pershore<br> Worcestershire, WR10 2TA, UK<br><a href='tel:310854890284'> Phone: +44 (0) 1386 556278</a><br> Fax: +44 (0) 1386 556776"
            },
            {
                label : "Sumner - Netherlands",
                text_container : "Midden Engweg 21<br> NL-3882TS Putten<br> Netherlands<br><a href='tel:310854890284'> Phone: +31 (0) 85 489 0284</a>"
            },
            {
                label : "Sumner Manufacturing Company, Inc.",
                text_container : "7514 Alabonson Road<br> Houston, Texas 77088<br><a href='tel:2819996900'> Phone: (281) 999-6900</a><br> Fax: (281) 999-6966"
            },
            {
                label : "Sumner - Canada",
                text_container : "75 Saltsman Drive, Unit 5<br> Cambridge, Ontario N3H 4R7<br><a href='tel:5196535300'>Phone: (519) 653-5300</a><br> Fax: (519) 653-5305"
            },
            {
                label : "Sumner - U.K.",
                text_container : "Unit 3 Kempton Road<br> Keytec 7 Business Park<br> Pershore<br> Worcestershire, WR10 2TA, UK<br><a href='tel:4401386556278'> Phone: +44 (0) 1386 556278</a><br> Fax: +44 (0) 1386 556776"
            },
            {
                label : "Sumner Manufacturing Company, Inc.",
                text_container : "Midden Engweg 21<br> NL-3882TS Putten<br> Netherlands<br><a href='tel:310854890284'>Phone: +31 (0) 85 489 0284</a>"
            },
            ],
            { parent : "div", child : "div"}
            )