section.products_section
    .container
        ul.products_list
            li.products_item
                p.products_item-titel
                    span.products_item-titel-icon
                    | Find A DISTRIBUTOR
                p.products_item-text Find a Sumner US distributor near you...
            li.products_item
                p.products_item-titel
                    span.products_item-titel-icon
                    | Find A REPAIR CENTER
                p.products_item-text Find Sumner Authorized Service & Repair Centers worldwide... 
            li.products_item
                p.products_item-titel
                    span.products_item-titel-icon
                    | find parts
                p.products_item-text Parts are found under each product. Order online...
            li.products_item
                p.products_item-titel
                    span.products_item-titel-icon
                    | CATALOGS & MEDIA
                p.products_item-text Download catalogs, product flyers, watch videos and more...
        .product-slider_block
            .product-slider_block_title
                h1.products_title Product Spotlight
                a.products_view-all(href="http://google.com") VIEW ALL PRODUCTS
            .product-slider_grid-container
                .product-nav.product-nav-left
                .product-nav.product-nav-right
                +grid("our_products", [
                {
                    img_container : {
                    },
                        content : {
                        label : "Max - Jax 2"
                    }
                },
                {
                    img_container : {
                    },
                        content : {
                        label : "2600 Series Lift"
                    }
                },
                {
                    img_container : {
                    },
                        content : {
                        label : "GH5T Gantry Lift"
                    }
                },
                {
                    img_container : {
                    },
                        content : {
                        label : "Series 2500 Lift"
                    }
                },
                {
                    img_container : {
                    },
                        content : {
                        label : "Universal Center Punch"
                    }
                },
                {
                    img_container : {
                    },
                        content : {
                        label : "Max - Jax 2"
                    }
                },
                {
                    img_container : {
                    },
                        content : {
                        label : "2600 Series Lift"
                    }
                },
                {
                    img_container : {
                    },
                        content : {
                        label : "GH5T Gantry Lift"
                    }
                },
                {
                    img_container : {
                    },
                        content : {
                        label : "Series 2500 Lift"
                    }
                },
                {
                    img_container : {
                    },
                        content : {
                        label : "Universal Center Punch"
                    }
                }
                ],
                { parent : "div", child : "div"}
                )