section.testimonials_section
    .container
        .testimonials_title_block
            h1.products_title Testimonials
            a.products_view-all(href="http://google.com") VIEW ALL TESTIMONIALS
        .testimonials_slider-block
            .testimonials-nav.testimonials-nav-left
            .testimonials-nav.testimonials-nav-right
            +grid("testimonials_grid", [
            {
                text_container : "I just received the 2\"-6\" and 5\"-12\" Ultra Clamps and they look like they'll save me a lot of hassle fitting. I haven't seen a fitting that was the exact O D as the pipe in a while. Its been a pain to decide when it was even and centered. I put a reducer on a scrap of 6 and the threaded wing nuts got it even in no time.",
                label : "<span>Jim Herman,</span> P&H Contracting,<br> Tucson, AZ "
            },
            {
                text_container : "The center ttthas held up real well, my fitters have not broken it yet. They really like that the digital angle finder comes off of the center punch; they have used it to find the angle of a weld 90 that has to be welded on a 33 deg. It is a very good tool, the center punch leaves a very good mark on the pipe that is easy to see.",
                label : "<span>Jeff Keen,</span> Shapiro & Duncan, Inc., Rockville, MD"
            },
            {
                text_container : "Everyone was very impressed with the PFAST unit. This was the first in the state and my first one installed.  I was blown away by how much time it will save and how much it will improve the quality that Premier produces. Thanks for your help in getting it done!",
                label : "<span>Rocky Deschamps,</span> Edge Construction Supply"
            },
            {
                text_container : "I am pleased to inform you that we purchased a PFAST and are MOST pleased with it!  A number of our welders have been so excited by it that they have even sent letters to the plant manager and myself about how awesome it is.",
                label : "<span>Andrew,</span> Simplex Direct  "
            },
            {
                text_container : "I just received the 2\"-6\" and 5\"-12\" Ultra Clamps and they look like they'll save me a lot of hassle fitting. I haven't seen a fitting that was the exact O D as the pipe in a while. Its been a pain to decide when it was even and centered. I put a reducer on a scrap of 6 and the threaded wing nuts got it even in no time.",
                label : "<span>Jim Herman,</span> P&H Contracting, Tucson, AZ "
            },
            {
                text_container : "The center ttthas held up real well, my fitters have not broken it yet. They really like that the digital angle finder comes off of the center punch; they have used it to find the angle of a weld 90 that has to be welded on a 33 deg. It is a very good tool, the center punch leaves a very good mark on the pipe that is easy to see.",
                label : "<span>Jeff Keen,</span> Shapiro & Duncan, Inc., Rockville, MD"
            },
            {
                text_container : "Everyone was very impressed with the PFAST unit. This was the first in the state and my first one installed.  I was blown away by how much time it will save and how much it will improve the quality that Premier produces. Thanks for your help in getting it done!",
                label : "<span>Rocky Deschamps,</span> Edge Construction Supply"
            },
            {
                text_container : "I am pleased to inform you that we purchased a PFAST and are MOST pleased with it!  A number of our welders have been so excited by it that they have even sent letters to the plant manager and myself about how awesome it is.",
                label : "<span>Andrew,</span> Simplex Direct  "
            }
            ],
            { parent : "div", child : "div"}
            )