section.videos_section
    .container
        .videos_title_block
            h1.products_title VIDEOS
            a.products_view-all(href="http://google.com") VIEW ALL VIDEOS
        .videos_contetnt
            .videos_content-text
                .videos_text-title Lifting, Pipe Handling, Welding Equipment and much more... 
                .videos_text-article While Sumner is recognized as the leader in pipe handling equipment, our product range includes equipment for a wide variety of contractors. All Sumner products are built with the concept of providing safe, common sense tools that are priced right. We invite you to browse our web site to view Sumner's full range of tools, and please Contact Us if we can be of service to you or answer any questions.
            .videos_content-video
                .videos_iframe
