#footer{
	background:#333333;
	width:100%;
	height:auto;
	text-align:center;
}
.logo-footer{
    display: inline-block;
    margin-top: 1.3rem;
    width: 23.8rem;
    height: 6rem;
	img{
		width:100%;
		height:100%;
	}
}
.footer_link-list{
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 3.2rem;
}
.footer_link-item{
    display: inline-block;
    vertical-align: top;
    padding: 0 0.45rem;
    margin-left: -2px;
}
.footer_link{
    text-decoration: none;
    font-size: 1.7rem;
    font-family: "Lato";
    font-weight: 300;
    color: white;
    line-height: 0.7;
    padding-top: 0.3rem;
    display: inline-block;
    padding-bottom: 0.3rem;
}
.footer_link-item:not(:nth-last-child(1)){
	border-right:1px solid #fff;
}