/*
1. Header
2. Widgets

*/

$c : "header";
@include header1($c);


.#{$c} {

  background: transparent;

  font-size: 1rem;

  font-family: "Lato", sans-serif;
  font-weight:900;

  letter-spacing: 0.04rem;
  height:13.3rem;
  width:100%;

  position:relative;
  z-index:800;

  padding-top: 4rem;
  &:after{
    content:'';
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:15px;
    width:100%;
    background:#88c431;
  }
}





  .#{$c}_inner {
    max-width: $template_width;
    width: 123.9rem;
    margin: 0 auto;
    background-color:#ffffff;

    height:13.3rem;

  }

  @media only screen and (max-width: 1000px) {
    .#{$c}_inner {
      width: 869px;
    }
  }

  @media only screen and (max-width: 900px) {
  .#{$c} {
    margin-top: 0rem;
    overflow: visible;
  }

    .#{$c}_inner {
      width: 100%;
    }
  }

  @media only screen and (max-width: 740px) {
    .#{$c}_inner {
      height: 9.2rem;
      padding-top: 6rem;
    }
  }

  @media only screen and (max-width: 550px) {
    .#{$c}_inner {
      height: 9rem;
      padding-top: 60px;
    }
  }

  .#{$c}_logo {
    display: inline-block;
    margin-left: 0rem;
    margin-top: 1.4rem;
    vertical-align: top;
    position: relative;
    z-index: 99;
  }

    .#{$c}_logo>img {
      width: 28.4em;
      height: 7em;
    }

    @media only screen and (max-width: 850px) {
      .#{$c}_logo>img {
        width:34.3 * 0.8 * 1em;
        height:8.8 * 0.8 * 1em;
      }

      .#{$c}_logo {
        bottom:2.3rem;
      }

    }

/*
  ----  WIDGETS ---
*/

  $c: "header_widgets";
  @include widgets($c);

  .#{$c} {
    width: auto;
    margin: 0 auto;
    position: relative;
    right : 0;
    top: 0;
    display:inline-block;
    padding:1.7rem;
    padding-left:9rem;
    padding-right:8rem;
    overflow: hidden;
  }




  .#{$c}__phone  {
    padding-left:3rem;
  }

  .#{$c} .svg__call{
    position: absolute; margin-top:-0.1rem;
    width: 2.1rem; height: 2.1rem;
    fill:#fecd08;
    margin-left: -3.05rem;
    margin-top: -0.4rem;
  }

  .#{$c} .svg__map_pin{
    position: absolute;
    margin-top: -0.1rem;
    width: 1.5rem;
    height: 2rem;
    fill: #fecd08;
    margin-left: -2.5rem;
    margin-top: -0.2rem;
  }

    .#{$c} .svg__call svg {
      fill:#fff;
    }

  .#{$c}__address {
    padding-left: 6.6em;
    text-transform: uppercase;
  }






  .#{$c}__svg {
    position: absolute; margin-top:-0.1rem;
    width: 1.8em; height: 1.8em;
  }


  .#{$c}__value, .#{$c}__a{
    color: #c2c2c2;
    font-size: 1.55rem;
    letter-spacing: 0.19rem;
    text-decoration: none;
  }

  @media only screen and (max-width: 850px) {
    .#{$c} {
      width:100%;
      z-index:100;
      padding:0;
      padding:0.7rem;
      display: table;
    }
    .#{$c}:before {
      display:none;

    }

    .#{$c}__phone,   .#{$c}__address {
      padding:0;

      padding-left:10%;
    }

    .#{$c} .svg__call{
      position: absolute; margin-top:-0.1rem;
      width: 2.1 * 0.6 * 1rem; height: 2.1 * 0.6 * 1rem;
      fill:#fecd08;
      margin-left: -2.05rem;
      margin-top: 0.3rem;
    }

    .#{$c} .svg__map_pin{
      position: absolute;
      margin-top: -0.1rem;
      width: 1.5 * 0.7 * 1rem;
      height: 2 * 0.7 * 1rem;
      fill: #fecd08;
      margin-left: -1.9rem;
      margin-top: 0rem;
    }
  }


  @media only screen and (max-width: 550px) {
    .#{$c} {
      display:block;

    }
    .#{$c}__phone,   .#{$c}__address {
      display:block;
      padding-top:1rem;
      min-height:2rem;
    }

  }

.header_menu.fixed_menu{
  margin-top:0;
}
.header_menu_child_li{
  width: 100%;
  display: inline-block;
  background: #f5f8fa;
  border-bottom:1px solid #c7c8c9;
  margin-bottom:0;
  text-transform:none;
  a{
    font-family: 'Open Sans';
    font-weight: 400;
    color:#c7c8c9;
  font-size:1.2rem;
  }
  &:hover{
    background:#030000;
    a{
      color:#88c431;
    }
  }
}