
$menu_bg : #fff;
$menu_li_bg : #fff;
$menu_height: 15rem;
$li_padding: 3rem 4.2rem;

$menu_a_color: #afdc68;
$menu_a_color_hover: #ffffff;
$menu_a_color_active: #ffffff;
$menu_close : size 32px, width 2px, color #000, color_hover #000, t 2rem, r 2rem, z 902;
$menu_open : width 21px, height 2px, color #000, color_hover #000, r 3rem, distance 7px, z 100;

$c : "header_menu";


@include menu1($c);


@mixin active_gradient() {
  background: #61a00a; /* Old browsers */

  background: -moz-linear-gradient(top, #61a00a 0%, #528207 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #61a00a 0%,#528207 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #61a00a 0%,#528207 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61a00a', endColorstr='#528207',GradientType=0 );
}

.header_menu_open {
  padding: 10px;
  background-color: #fff;
  padding-top: 16px;
  width: 21px;
  height: 8px;
  cursor: pointer;
  opacity: 0.75;

  position:fixed;
}

  @media only screen and (max-width: 551px) {
    .header_menu_open {

    }
  }

.header_menu_close {
  position:fixed;
  top:2rem;
}

.#{$c} {
  width: 53.6rem;
  margin-top: 4.1rem;
  position: absolute;
  display: inline-block;
  vertical-align: top;
  left: 50%;
  right: 0;
  margin-left: 2.3rem;
  margin-right: auto;
  transform: translateX(-50%);
}


.#{$c}.fixed_menu {
  position:fixed;
  background:#fff;
  top:0;

  box-shadow: 1px 1px 8px #000;
}


  .#{$c}_li {
    padding: 0;
    text-transform: uppercase;
  }
  .#{$c}_li>a{
    color: #030000;
    display: inline-block;
    height: 4.7rem;
    white-space: normal;
    border-bottom: 0.5rem solid #fff;
  }

  .#{$c}_li>a:hover, .#{$c}_li.current-menu-item>a{
    color: #030000;
    border-bottom: 0.5rem solid #88c431;
  }



  @media only screen and (max-width: $media1) {
    .#{$c} {
        background: #fff;
        width: 55%;
        height: auto;
        padding-top: 2rem;
        border-left: 1px solid #a2c073;
        display: none;
        right: 0;
        margin-top: 0;
        position: absolute;;
        top:0;
    }


      .#{$c}_ul {
        display: block;
        position: fixed;
        background:#fff;
      }

      .#{$c}_li {
        display: block;
        border: none;
        padding: 1.5rem 3rem 1.5rem 3rem;
        height: auto;
        background: none;
        background-color: #fff;
      }

      .#{$c}_li > a {
          font-size: 2.2rem;
          padding: 5px;
          font-weight: 300;
          display: inline-block;
          color:#000;
          height:3rem;

          border-bottom: 0.3rem solid #fff;
      }

      .#{$c}_li>a:hover, .#{$c}_li.current-menu-item>a{
        color: #fecd08;
        border-bottom:  0.3rem solid #fecd08;
      }
  }

@media screen and (min-width: 900px){

  .#{$c}.fixed_menu .#{$c}_li>a{
    height: 1.7rem;
    font-size:1.1rem;
    border-bottom: 1px solid #fff;
    color:#000;
  }

  .#{$c}.fixed_menu .#{$c}_li {
      padding:1rem;
      padding-top:1.5rem;
  }

  .#{$c}.fixed_menu .#{$c}_li>a:hover{

    height: 1.7rem;
    font-size:1.1rem;
    border-bottom: 1px solid #fecd08;
  }
}
.header_menu_li_parent{
  position: relative;
  &:after{
    content: '';
    border: 0.8rem solid transparent;
    border-top: 0.8rem solid #88c431;
    position: absolute;
    margin-top: 0.4rem;
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
  }
  &:hover{
    .header_menu_child{
      display:block;
    }
  }
}
.header_menu_child{
  position: absolute;
  top: auto;
  left: 2.4rem;
  text-align: left;
  width: 32.5rem;
  z-index: 5;
  display:none;
}
.header_menu_child:after{
  position:absolute;
  top:-2px;
  left:0;
  content:'';
  background:#88c431;
  height:2px;
  width:100%;
}
.header_menu_child_li{
  width:100%;
  display:inline-block;
  background:#1c1c1c;
  position:relative;
  margin-bottom:1px;
  a{
    text-decoration: none;
    color: #fff;
    padding-left: 2rem;
    padding-top: 1.6rem;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.24rem;
    padding-bottom: 1.4rem;
    padding-right: 2rem;
  }
}
.services_menu-item:hover{
  a{
    color: #fff;
    border-color: #fecd08;
    background: #fecd08;
  }
}
.header_widgets__phone_a.header_widgets__a{
  font-size: 3rem;
  letter-spacing: 0.45rem;
}
.header_inner .header_widgets {
  width: auto;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  padding: 2.7rem;
  padding-left: 2rem;
  padding-right: 0rem;
  overflow: hidden;
  float: right;
  text-transform: uppercase;
  margin-right: -0.5rem;
}
.num-container{
  font-size: 1.75rem;
  display: inline-block;
  margin-top: 0.6rem;
  margin-right: 0.3rem;
  letter-spacing: 1.25rem;
  margin-left: 1.3rem;
  color: #030000;
  font-family: 'Open Sans';
  font-weight: 700;
}
.first-num-container{
  color:#030000;
  font-family: 'Open Sans';
  font-weight: 800;
}
.header_widgets__phone_a.header_widgets__a{
  color:#88c431;
  font-family: 'Open Sans';
  font-weight: 800;
}
.header_widgets__phone_a.header_widgets__a p{
  text-align:right;
}
.header_menu_subchild{
  display:none;
}
.header_menu_subchild{
    transform: translateX(100%);
    position: absolute;
    top: 0;
    margin-left: 2rem;
    margin-top: -1px;
}
.header_menu_sub_parent:hover{
  .header_menu_subchild{
    display:block;
  }
}
.header_menu_sub_parent{
  &:after{
    content: '';
    border: 0.8rem solid transparent;
    border-top: 0.8rem solid #88c431;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
    transform: rotate(-90deg);
    top: 1.5rem;
    right: 0;
  }
}