.header-slider_section{
	text-align:center;
	position:relative;
	width:100%;
	height:auto;
	// height: 58.5rem;
	z-index:1;
	overflow:hidden;
	.container{
		padding-bottom: 9rem;
	}
}
.header-slider_item{
	width:100%;
	height: 58.5rem;
	background:url(../images/slider/slider-bg.jpg) no-repeat center;
	background-size:cover;
}
.container{
	display:inline-block;
	position:relative;
	max-width: 13890px;
	width: 138.9rem;
}
.slider_item_text-block,.slider-item_image-block{
	float:left;
	width:50%;
	position:relative;
}
.slider-item_image-block{
	img{
	    max-width: 100%;
	    max-height: 100%;
	    width: 31.8rem;
	    float: left;
	    margin-left: 5.2rem;
	    margin-top: 2.1rem;	
	}
}
.header-slider_container{
	width:100%;
}
.image-block_img1,.image-block_img2,.image-block_img3{

    width: 17.45rem;
    height: 13.1rem;
    position: absolute;
}
.image-block_img1{
    background: url(../images/slider/slider-img1.jpg) no-repeat center;
    background-size: cover;
	top: 1.9rem;
    right: 18.3rem;
}
.image-block_img2{
    background: url(../images/slider/slider-img2.jpg) no-repeat center;
    background-size: cover;
    top: 19rem;
    right: 10.7rem;
}
.image-block_img3{
    background: url(../images/slider/slider-img3.jpg) no-repeat center;
    background-size: cover;
	bottom: 0.7rem;
	right: 3.2rem;
}
.slider_item-title{
	font-size: 10.5rem;
	font-family: "Oswald";
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	margin-top: 6.6rem;
	margin-left: 4.6rem;
	letter-spacing: -0.3rem;
	span{
		color: #000;
		display: block;
		font-size: 8.7rem;
		letter-spacing: -0.37rem;
		line-height: 0.98;
	}
}
.slider_item-link{
    font-size: 2.82rem;
    font-family: "Oswald";
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-left: 5rem;
    letter-spacing: -0.04rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 1.95rem;
    float:left;
}
.slider_section-nav{
    background: url('../images/slider/(.png') no-repeat center;
    background-size: 100% 100%;
    width: 2.3rem;
    height: 6.2rem;
    position: absolute;
    cursor: pointer;
    top: 40.7%;
    z-index: 10;
    transform: translateY(-50%);
    transition-duration:0.3s;
    opacity:1;
    &:hover{
    	opacity: 0.7;
    }
}
.slider_section-left{
	left: 2.4rem;
}
.slider_section-right{
    right: 2.4rem;
    transform: translateY(-50%) rotate(180deg);
}
.slider-left_container{
	position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5rem;
    z-index: 9;
}
.slider-right_container{
	position: absolute;
	display: inline-block;
	right: 0;
	top: 0;
	bottom: 0;
	width: 5rem;
    z-index: 9;
}