.header_inner{
	max-width: 14390px;
    width: 143.9rem;
    height:12.6rem;
    text-align: right;
    display:inline-block;
	background:#cccccc;
}
.header:after{
	display:none;
}
.header{
	padding-top:0;
	height:auto;
	text-align:center;
	background:#cccccc;
	border-bottom:1px solid #999999;
    z-index: auto;
}
.header_logo{
	margin-left: 2.5rem;
	margin-top: 2.4rem;
	margin-bottom:2.4rem;
	float: left;
    z-index: 50;
	img{
		width: 30em;
		height: 7.6em;
	}
}
.right_bar-container{
	display:inline-block;
	// width:24rem;
}
.header_menu{
	position: relative;
	vertical-align:top;
	transform:none;
	left:auto;
	margin-top: 7.9rem;
	margin-right: 2.5rem;
	font-size: 3rem;
	margin-top: 7.9rem;
    margin-right: 1.2rem;
    font-size: 3rem;
    width:auto;
}
.right_bar-tabs-link{
    color: #666666;
    font-size: 1.7rem;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    text-align: center;
    padding: 0 0.65rem;
    box-sizing: border-box;
    img{
        display: inline-block;
        margin-right: 0.5rem;
        vertical-align: middle;
        margin-top: -0.5rem;
        width: 1.8rem;
    }
    span{
        display:inline-block;
        vertical-align: top;
    }
    &:hover{
    	opacity: 0.7;
    }
}
.right_bar-tabs-item{
	text-align:left;
	// float:right;
	// width:33.333%;
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
	text-align:center;
}
.right_bar-tabs-item:not(:nth-last-child(1)){
	border-right:1px solid #797979;
}
.right_bar-tabs-list{
	display:inline-block;
	width:100%;
}
.right_bar-tabs-container{
	margin-top:1.6rem;
}
.right_bar-search{
	position:relative;
    margin-top: 3.7rem;
}
.right_bar-search-input{
    margin-right: 0.7rem;
    box-sizing: border-box;
    width: 23.3rem;
    border: 1px solid #999999;
    background: #fff;
    height: 3.2rem;
    padding-right: 3.5rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    font-family: "Lato";
}
input.right_bar-search-btn{
    background: url(../images/icon/Search.svg) no-repeat center;
    background-size: 100% 100%;
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: 0.7rem;
    right: 1.6rem;
}
.owl-item{
	display:inline-block;
	vertical-align:top;
}
// .header-slider_section .owl-stage-outer{
// 	width:100%;
// 	height: 58.5rem;
// 	overflow:hidden;
// }
// .header-slider_section .owl-stage{
// 	height: 58.5rem;
// 	overflow:hidden;
// }
.header_menu_li > a{
    font-size: 2.9rem;
    font-family: "Oswald";
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    height: auto;
    padding: 0 2.3rem;
    border-color:transparent;
}
.header_menu_li > a:hover, .header_menu_li.current-menu-item > a{
	border-color:transparent;
}
.line_block{
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    background: url(../images/lines.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    z-index: 90;
    opacity:0.9;
}
main{
    overflow:hidden;
}
.header_menu.fixed_menu{
    z-index: 9;
}

