.locations_section{
	width:100%;
	display:block;
	text-align:center;
	height:auto;
	background: url('../images/Map/map.jpg') no-repeat center;
	background-size:cover;
	padding-bottom:4.5rem;
}
.locations_title_block{
	margin-top:11rem;
}
.locations_slider-block{
	display: inline-block;
	width: 100%;
	margin-top: -2.8rem;
	box-sizing: border-box;
	padding-left: 4.7rem;
	padding-right:2rem;
	position:relative;
}
$autoGrid__itemWidth: 280;
$autoGrid__itemDistance: 73;
$autoGrid__itemDistanceY: 0;

@include autoGrid("location_grid", 4, "float");

.location_grid__item{
	position: relative;
	text-align:left;
	padding-left:1.5rem;
	box-sizing:border-box;
}
.location_grid_text_container {
    font-size: 1.8rem;
    font-family: "Lato";
    font-weight: 400;
    color: #000;
    letter-spacing: -0.027rem;
    line-height: 1.1;
    margin-top: 1.9rem;
    &:after{
		content: '';
		position: absolute;
		width: 2px;
		height: 10.6rem;
		background: #fff;
		left: 0;
		top: 0.5rem;
    }
    a{
        text-decoration:none;
        color:#000;
    }
}
.location_grid{
	overflow:hidden;
}
.location_grid_label{
    font-size: 2.4rem;
    font-family: "Oswald";
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-top: 0.5rem;
    line-height: 1.1;
}
.owl-nav.disabled{
	display:none;
}
.location-nav{
    background: url('../images/slider/(.png') no-repeat center;
    background-size: 100% 100%;
    width: 2.3rem;
    height: 6.2rem;
    position: absolute;
    cursor: pointer;
    top: 45.5%;
    z-index: 10;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    opacity: 1;
    &:hover{
    	opacity: 0.7;
    }
}
.location-nav-left{
	left: -5rem;
}
.location-nav-right{
    right: -5rem;
    transform: translateY(-50%) rotate(180deg);
}
.location_grid{
	width:135rem;
}
.locations_title_block{
    .products_title{
        margin-left: 3.3rem;
    }
}