.products_item-titel{
	font-size: 2.4rem;
	font-family: "Oswald";
	color: #444444;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	position: relative;
	vertical-align: top;
	display:inline-block;
	float:left;
	clear:both;
	&:after{
		content: '';
		display: inline-block;
		position: absolute;
		width: 2.5rem;
		height: 1.3rem;
		background: url(../images/slider/V.png) no-repeat center;
		background-size: 100% 100%;
		vertical-align: top;
		margin-left: 1.5rem;
		margin-top: 0.5rem;
		top:0;
		right:-4.2rem;
	}
}
.products_item-text{
	clear:both;
    font-size: 1.8rem;
    font-family: 'Lato';
    font-style: normal;
    color: #444444;
    font-weight: 400;
    text-align: left;
    padding-top: 2.3rem;
    margin-left: 0.2rem;
}
.products_list{
	background: #cfcfcf;
	display:block;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin:0 auto;
	transform:translateY(-50%);
}
.products_item{
	width: 25%;
	float: left;
	position:relative;
	padding: 2.4rem 2rem 4rem 4.3rem;
	box-sizing: border-box;
}
.products_item:not(:nth-last-child(1)){
	&:after{
	    content: '';
	    background: #a4a4a4;
	    width: 2px;
	    height: 72%;
	    top: 18%;
	    right: -2px;
	    display: inline-block;
	    position: absolute;
	}
}
.products_item-titel-icon{
	background:url(../images/icon/Globe.png) no-repeat center;
	background-size:100% 100%;
    width: 2rem;
    height: 2.2rem;
	display:inline-block;
	vertical-align:top;
	margin-right:1rem;
}
.products_section{
	text-align: center;
	position: relative;
	z-index: 2;
	background:url(../images/products/products-bg.jpg) no-repeat center;
	background-size:cover;
	padding-bottom:4.1rem;
}

$autoGrid__itemWidth: 240.4;
$autoGrid__itemDistance: 0;
// $autoGrid__itemDistance: 57;
$autoGrid__itemDistanceY: 0;

@include autoGrid("our_products", 5, "float");
.product-slider_block{
	position:relative;
    margin-top: 18.2rem;
}
.product-slider_block_title{
	display:inline-block;
	width:100%;
}
.products_title{
    font-size: 7.3rem;
    font-family: "Oswald";
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    margin-left: 5.3rem;
    letter-spacing: -0.05rem;
    transform:translateY(-100%);
}
.products_view-all{
    text-decoration: none;
    float: right;
    font-size: 2.8rem;
    font-family: "Oswald";
    color: #fefefe;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 3.8rem;
    letter-spacing: -0.07rem;
    transform:translateY(-100%);
	&:after{
	    content: '';
	    vertical-align: top;
	    position: relative;
	    background: url('../images/slider/(.png') no-repeat center;
	    background-size: 100% 100%;
	    width: 1.2rem;
	    height: 2.8rem;
	    display: inline-block;
	    transform: rotate(180deg);
	    margin-bottom: 0.2rem;
	    margin-right: 0rem;
	    margin-left: 2rem;
	}
}
.our_products__item{
	.our_products_img_container{
		background:url(../images/products/product-img1.jpg) no-repeat center;
		background-size:cover;
	}
	&:hover{
		.our_products_label{
			color:#fff200;
		}
	}	
}
.our_products_img_container{
	height:24.1rem;
	width:100%;
}
.our_products__item--0{
	.our_products_img_container{
		background:url(../images/products/product-img1.jpg) no-repeat center;
		background-size:cover;
	}
}
.our_products__item--1{
	.our_products_img_container{
		background:url(../images/products/product-img2.jpg) no-repeat center;
		background-size:cover;
	}
}
.our_products__item--2{
	.our_products_img_container{
		background:url(../images/products/product-img3.jpg) no-repeat center;
		background-size:cover;
	}
}
.our_products__item--3{
	.our_products_img_container{
		background:url(../images/products/product-img4.jpg) no-repeat center;
		background-size:cover;
	}
}
.our_products{
	overflow:hidden;
}
.our_products__item--4{
	.our_products_img_container{
		background:url(../images/products/product-img5.jpg) no-repeat center;
		background-size:cover;
	}
}
.our_products_label{
    font-size: 1.9rem;
    font-family: "Oswald";
    color: #cccccc;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.6rem;
    transition-duration:0.3s;
}
.product-slider_grid-container{
	display:inline-block;
	width:100%;
	position:relative;
	margin-top: -4.5rem;
}
.product-nav{
    background: url('../images/slider/(.png') no-repeat center;
    background-size: 100% 100%;
    width: 2.3rem;
    height: 6.2rem;
    position: absolute;
    cursor: pointer;
    top: 45%;
    z-index: 10;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    opacity: 1;
    &:hover{
    	opacity: 0.7;
    }
}
.product-nav-left{
	left: -5rem;
}
.product-nav-right{
    right: -5rem;
    transform: translateY(-50%) rotate(180deg);
}
.our_products{
	width:139rem;
}