.testimonials_section{
	width:100%;
	display:inline-block;
	text-align:center;
	height:auto;
	background: url('../images/Testimonials/testimonials.jpg') no-repeat center;
	background-size:cover;
	padding-bottom:3.4rem;
}
.testimonials_title_block{
	margin-top:11rem;
}
.testimonials_slider-block{
	display: inline-block;
	width: 100%;
	margin-top: -1.1rem;
	box-sizing: border-box;
	padding-left: 4.7rem;
	padding-right:2rem;
}
$autoGrid__itemWidth: 280;
// $autoGrid__itemDistance: 0;
$autoGrid__itemDistance: 50;
$autoGrid__itemDistanceY: 0;

@include autoGrid("testimonials_grid", 4, "float");

.testimonials_grid__item{
	position: relative;
	text-align:left;
}
.testimonials_grid_text_container {
    font-size: 2rem;		
    font-family: "Lato";
    font-weight: 300;
    color: #fff;
    letter-spacing: -0.027rem;
    line-height: 1.25;
    &:after{
		content: '';
		position: absolute;
		width: 2px;
		height: 13.8rem;
		background: #fff;
		left: 0;
		top: 0.5rem;
    }
}
.testimonials_grid{
	overflow:hidden;
}
.testimonials_grid_label{
    color: #fff000;
    font-size: 2.1rem;
    font-family: "Lato";
    font-weight: 600;
    margin-top: 2.5rem;
    line-height: 1.1;
	span{
		display: block;
		text-transform: uppercase;
		font-size: 2.15rem;
		margin-bottom: 0rem;
	}
}
.testimonials_grid__item{
	padding-left:1.5rem;
	box-sizing:border-box;
}
.owl-nav.disabled{
	display:none;
}
.testimonials-nav{
    background: url('../images/slider/(.png') no-repeat center;
    background-size: 100% 100%;
    width: 2.3rem;
    height: 6.2rem;
    position: absolute;
    cursor: pointer;
    top: 55.5%;
    z-index: 10;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    opacity: 1;
    &:hover{
    	opacity: 0.7;
    }
}
.testimonials-nav-left{
	left: -5rem;
}
.testimonials-nav-right{
    right: -5rem;
    transform: translateY(-50%) rotate(180deg);
}
.testimonials_grid{
	width:135rem;
}