.videos_section{
	width:100%;
	display:block;
	text-align:center;
	height:auto;
	background: url('../images/videos/video-bg.jpg') no-repeat center;
	background-size:cover;
	padding-bottom:4.4rem;
}
.videos_title_block{
	.products_view-all,.products_title{
		color:#444444;
	}
	.products_view-all:after{
		background:url('../images/videos/).png') no-repeat center;
		background-size:cover;
		transform:rotate(0deg);
	}
}
.videos_title_block{
	margin-top:11rem;
}
.videos_contetnt{
	display:inline-block;
	width:100%;
	margin-top:-3.9rem;
}
.videos_content-text{
	float:left;
	width:50%;
	padding-left:7.5rem;
	box-sizing:border-box;
	text-align:left;
}
.videos_content-video{
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding-left: 4.7rem;
    padding-right: 4rem;
}
.videos_text-title{
	font-size: 3.85rem;
	font-family: "Oswald";
	color: #646568;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.5;
	margin-top: -0.6rem;
}
.videos_text-article{
    font-size: 1.6rem;
    font-family: "Droid Sans";
    font-weight: 400;
    color: #333333;
    margin-top: 0.5rem;
    letter-spacing: 0.08rem;
    padding-right: 6rem;
    line-height: 2;
}
.videos_iframe{
	background:url(../images/videos/video.jpg) no-repeat center;
	background-size:cover;
	height:34rem;
	width:100%;
}