@mixin autoGrid($name, $inrow, $type) {

  $media1: 780px;
  $media2: 540px;
  .#{$name} {
    display: block;
    font-size: 1rem;
    margin: 0 auto;

    @if global-variable-exists(autoGrid__itemWidth) {
      $width : $inrow * $autoGrid__itemWidth + ( ($inrow - 1) * $autoGrid__itemDistance);

      @if global-variable-exists(autoGrid__widthFix) {
        $width: $width + $autoGrid__widthFix;
      }
      width : $width / 10 * 1em;
    }

    @if global-variable-exists(autoGrid) {
      @include cs($autoGrid);
    }

  }

    .#{$name}__item {
      float: left;

      @if global-variable-exists(autoGrid__itemWidth) {
        width : $autoGrid__itemWidth / 10 * 1em;
      }

      @if global-variable-exists(autoGrid__itemDistance) {
        margin-right : $autoGrid__itemDistance / 10 * 1em;
      }

      @if global-variable-exists(autoGrid__itemDistanceY) {
        margin-top : $autoGrid__itemDistanceY / 10 * 1em;
      }

      @if global-variable-exists(autoGrid__item) {
        @include cs($autoGrid__item);
      }

    }

    @media only screen and (min-width: $media1) {
    .#{$name}__item:nth-child(#{($inrow)}n) {
      margin-right: 0em;

     }
   }

      .#{$name}__item img{
        width: 100%;

        @if global-variable-exists(autoGrid__img) {
          @include cs($autoGrid__img);
        }
      }

    .#{$name}_label {

      @if global-variable-exists(autoGrid__label) {
        @include cs($autoGrid__label);
      }
    }

    .#{$name}_value {

      @if global-variable-exists(autoGrid__value) {
        @include cs($autoGrid__value);
      }
    }

    .#{$name}__item:hover {

      @if global-variable-exists(autoGrid__item_hover) {
        @include cs($autoGrid__item_hover);
      }
    }

    .#{$name}__item:hover img{
      @if global-variable-exists(autoGrid__img_hover) {
        @include cs($autoGrid__img_hover);
      }
    }

    .#{$name}__item:hover .#{$name}_label {

      @if global-variable-exists(autoGrid__label_hover) {
        @include cs($autoGrid__label_hover);
      }
    }

    .#{$name}_a {
      text-decoration: none;
      @if global-variable-exists(autoGrid__a) {
        @include cs($autoGrid__a);
      }
    }


    @media only screen and (min-width: $media2) and (max-width: $media1) {

      $minus1: 1;
      $minus2: 2;

      @if $inrow == 4 {
        $minus1: 2;
        $minus2:3;
      }

      .#{$name} {
        display: block;
      /*  font-size: 1.07vw;*/
        width : auto;
        @if global-variable-exists(autoGrid__itemWidth) {
          $width : ($inrow - $minus1) * $autoGrid__itemWidth + ( ($inrow - $minus2) * $autoGrid__itemDistance);
          @if global-variable-exists(autoGrid__widthFix) {
            $width: $width + $autoGrid__widthFix;
          }
          width : $width / 10 * 1em;
        }
      }


      .#{$name}__item {
        float: left;

        @if global-variable-exists(autoGrid__item_media1) {
          @include cs($autoGrid__item_media1);
        }
      }

      .#{$name}__item:nth-child(#{($inrow - $minus1)}n) {
        margin-right: 0em;
       }


    }

    @media only screen and (max-width: $media2) {
      $minus1: 2;
      $minus2: 3;

      @if $inrow == 4 {
        $minus1: 3;
        $minus2:4;
      }

      .#{$name} {
        display: block;
      /*  font-size: 1.07vw;*/
        width : auto;
        @if global-variable-exists(autoGrid__itemWidth) {
          $width : ($inrow - $minus1) * $autoGrid__itemWidth + ( ($inrow - $minus2) * $autoGrid__itemDistance);
          @if global-variable-exists(autoGrid__widthFix) {
            $width: $width + $autoGrid__widthFix;
          }
          width : $width / 10 * 1em;
        }
      }


      .#{$name}__item {
        float: none;
        margin-right:0;

        @if global-variable-exists(autoGrid__item_media2) {
          @include cs($autoGrid__item_media2);
        }
      }


    }
}
