@mixin menu1($name) {
  $n: $name +"_close";
  @include close_cross($n, $menu_close)
  $n2: $name +"_open";
  @include burger($n2, $menu_open)


  .#{$n} {
    display: none;
    z-index:9999;
  }

  .#{$n2} {
    display: none;
    z-index:800;
  }

  $media1: 700px;
  $media2: 500px;
  @if global-variable-exists(menu_media1_maxW) {
     $media1 : $menu_media1_maxW;
  }

  @if global-variable-exists(menu_media2_maxW) {
     $media2 : $menu_media1_maxW;
  }


  // Desktop media
  .#{$name} {

  }


  .#{$name}_ul {
    max-width :116.8rem;
    width     :100%;
    margin    : 0 auto;
    position  :relative;
    display   :table;

  }


    .#{$name}_li {
      display:table-cell;
      padding: 10px;
      background: red;
      text-align: center;
      position:relative;
      cursor:pointer;

    }


    .#{$name}_li>a {
      text-decoration:none;
      font-size:1.5rem;
      letter-spacing: 0.2rem;
      position:relative;
    }


  @media only screen and (max-width: #{$media1}) {
      .#{$name} {
        display: none;
        top: 0;
        position: absolute;
        width:100%;

      }

      .#{$n2} {
        display: block;
      }
  }


    @media only screen and (max-width: #{$media1}) {


        .#{$name}_ul {
          max-width :116.8rem;
          width     :100%;
          margin    : 0 auto;
          position  :relative;
          display   :block;


        }
        .#{$name}_li {
          display:block;
          padding: 10px;
          background: red;
          text-align: left;
          position:relative;
          cursor:pointer;
          height:auto;

        }


        .#{$name}_li>a {
          text-decoration:none;
          font-size:1.5rem;
          letter-spacing: 0.2rem;
          position:relative;

        }



    }
}
