@mixin menu_v($name) {
  $media1: 700px;
  $media2: 500px;
  @if global-variable-exists(menu_v_media1_maxW) {
     $media1 : $menu_v_media1_maxW;
  }

  @if global-variable-exists(menu_v_media2_maxW) {
     $media2 : $menu_v_media2_maxW;
  }


  .#{$name} {
    @if global-variable-exists(menu_v) {
      @include cs($menu_v);
    }
  }

    .#{$name}_ul {

      max-width:116.8rem;
      width:100%;
      margin: 0 auto;
      position:absolute;
      display:table;

      @if global-variable-exists(menu_v__ul) {
        @include cs($menu_v__ul);
      }

    }

      .#{$name}_li a {
        display:block;

        /*width: 100/6*1%;*/
        text-align: left;
        position:relative;
        cursor:pointer;

        @if global-variable-exists(menu_v__a) {
          @include cs($menu_v__a);
        }
      }


      .#{$name}_li {
        @if global-variable-exists(menu_v__li) {
          @include cs($menu_v__li);
        }
      }

      .#{$name}_li_active {
        @if global-variable-exists(menu_v__li_active) {
          @include cs($menu_v__li_active);
        }
      }

      .#{$name}_li:hover {
        @if global-variable-exists(menu_v__li_hover) {
          @include cs($menu_v__li_hover);
        }
      }

        .#{$name}_li_active a {
          @if global-variable-exists(menu_v__a_active) {
            @include cs($menu_v__a_active);
          }
        }

        @media only screen and (max-width: 700px) {
          .#{$name}_li a {
            @if global-variable-exists(menu_v__a_mobile) {
              @include cs($menu_v__a_mobile);
            }
          }

          .#{$name}_li_active a {
            @if global-variable-exists(menu_v__a_active_mobile) {
              @include cs($menu_v__a_active_mobile);
            }
          }
        }

        #{$name}_li:hover {

        }
        .#{$name}_li>a:hover, .#{$name}_li:hover>a  {

            @if global-variable-exists(menu_v__a_hover) {
              @include cs($menu_v__a_hover);
            }

        }



        @media only screen and (max-width: #{$media1}) {

            .#{$name} {
              position:relative;
              display:block;
              @if global-variable-exists(menu_v_media1) {
                @include cs($menu_v_media1);
              }
            }

              .#{$name}_ul {
                position:relative;
                display:block;

                @if global-variable-exists(menu_v__ul_media1) {
                  @include cs($menu_v__ul_media1);
                }

              }

                .#{$name}_li>a {
                  display:block;
                  @if global-variable-exists(menu_v__a_media1) {
                    @include cs($menu_v__a_media1);
                  }
                }


                .#{$name}_li {
                  display: block;
                  @if global-variable-exists(menu_v__li_media1) {
                    @include cs($menu_v__li_media1);
                  }
                }

                .#{$name}_li_active {
                  @if global-variable-exists(menu_v__li_active_media1) {
                    @include cs($menu_v__li_active_media1);
                  }
                }

                .#{$name}_li:hover {
                  @if global-variable-exists(menu_v__li_hover_media1) {
                    @include cs($menu_v__li_hover_media1);
                  }
                }

                  .#{$name}_li_active a {
                    @if global-variable-exists(menu_v__a_active_media1) {
                      @include cs($menu_v__a_active_media1);
                    }
                  }


                  #{$name}_li:hover {

                  }
                  .#{$name}_li>a:hover, .#{$name}_li:hover>a  {

                      @if global-variable-exists(menu_v__a_hover_media1) {
                        @include cs($menu_v__a_hover_media1);
                      }

                  }
        }


        @media only screen and (max-width: #{$media2}) {

          .#{$name} {
            position:relative;
            display:block;
            @if global-variable-exists(menu_v_media1) {
              @include cs($menu_v_media1);
            }

            @if global-variable-exists(menu_v_media2) {
              @include cs($menu_v_media2);
            }
          }

            .#{$name}_ul {
              position:relative;
              display:block;

              @if global-variable-exists(menu_v__ul_media1) {
                @include cs($menu_v__ul_media1);
              }


              @if global-variable-exists(menu_v__ul_media2) {
                @include cs($menu_v__ul_media2);
              }
            }

              .#{$name}_li>a {
                display:block;
                @if global-variable-exists(menu_v__a_media1) {
                  @include cs($menu_v__a_media1);
                }

                @if global-variable-exists(menu_v__a_media2) {
                  @include cs($menu_v__a_media2);
                }
              }


              .#{$name}_li {
                display: block;
                @if global-variable-exists(menu_v__li_media1) {
                  @include cs($menu_v__li_media1);
                }

                @if global-variable-exists(menu_v__li_media2) {
                  @include cs($menu_v__li_media2);
                }
              }

              .#{$name}_li_active {
                @if global-variable-exists(menu_v__li_active_media1) {
                  @include cs($menu_v__li_active_media1);
                }

                @if global-variable-exists(menu_v__li_active_media2) {
                  @include cs($menu_v__li_active_media2);
                }
              }

              .#{$name}_li:hover {
                @if global-variable-exists(menu_v__li_hover_media1) {
                  @include cs($menu_v__li_hover_media1);
                }

                @if global-variable-exists(menu_v__li_hover_media2) {
                  @include cs($menu_v__li_hover_media2);
                }
              }

                .#{$name}_li_active a {
                  @if global-variable-exists(menu_v__a_active_media1) {
                    @include cs($menu_v__a_active_media1);
                  }

                  @if global-variable-exists(menu_v__a_active_media2) {
                    @include cs($menu_v__a_active_media2);
                  }
                }


                #{$name}_li:hover {

                }
                .#{$name}_li>a:hover, .#{$name}_li:hover>a  {

                    @if global-variable-exists(menu_v__a_hover_media1) {
                      @include cs($menu_v__a_hover_media1);
                    }
                    @if global-variable-exists(menu_v__a_hover_media2) {
                      @include cs($menu_v__a_hover_media2);
                    }
                }
        }
}
