
@mixin close_cross($name, $cnf) {

  $size: 32px;
  $width: 2px;
  $top : $size;
  $right : $size;
  $color: #424242;
  $color_hover: #000;
  @each $cnf_v in $cnf {
    $k: nth($cnf_v, 1);


    @if $k == "size" {
      $v: nth($cnf_v, 2);
      $size:$v;
    }



    @if $k == "width" {
      $v: nth($cnf_v, 2);
      $width:$v;
    }


    @if $k == "color" {
      $v: nth($cnf_v, 2);
      $color:$v;
    }

    @if $k == "color_hover" {
      $v: nth($cnf_v, 2);
      $color_hover:$v;
    }

    @if $k == "t" {
      $v: nth($cnf_v, 2);
      $top:$v;
    }

    @if $k == "r" {
      $v: nth($cnf_v, 2);
      $right:$v;
    }

  }


  .#{$name} {
    position: absolute;
    right: $right;
    top: $top;
    width: $size;
    height: $size;
    cursor:pointer;
    z-index:901;
  }
  .#{$name}:hover:before,.#{$name}:hover:after{
      background-color: $color_hover;
  }
  .#{$name}:before, .#{$name}:after {
    position: absolute;
    left: $size/2 -$width/2;
    content: ' ';
    height: $size;
    width: $width;
    background-color: $color;
  }
  .#{$name}:before {
    transform: rotate(45deg);
  }
  .#{$name}:after {
    transform: rotate(-45deg);
  }
}


@mixin burger($name, $cnf) {
  $color: #000;
  $width: 35px;
  $height: 3px;
  $top: $width;
  $right: $width;
  $distance: 10px;
  @each $cnf_v in $cnf {
    $k: nth($cnf_v, 1);


    @if $k == "distance" {
      $v: nth($cnf_v, 2);
      $distance:$v;
    }

    @if $k == "height" {
      $v: nth($cnf_v, 2);
      $height:$v;
    }

    @if $k == "width" {
      $v: nth($cnf_v, 2);
      $width:$v;
    }


    @if $k == "color" {
      $v: nth($cnf_v, 2);
      $color:$v;
    }

    @if $k == "t" {
      $v: nth($cnf_v, 2);
      $top:$v;
    }

    @if $k == "r" {
      $v: nth($cnf_v, 2);
      $right:$v;
    }



  }
  .#{$name} {
    position:absolute;
    right: $width;
    top:$top;
    width: $right;
    z-index:800;

  }
  .#{$name} span,
  .#{$name} span:before,
  .#{$name} span:after {
    cursor: pointer;
    border-radius: 1px;
    height: $height;
    width: $width;
    background: $color;
    position: absolute;
    display: block;
    content: '';
  }
  .#{$name} span:before {
    top: 0 - $distance;
  }
  .#{$name} span:after {
    bottom: 0 - $distance;
  }
}


@mixin corner() {
  content: '';
  border-left:4px solid #fdcc00;
  border-top:4px solid #fdcc00;

  width:2.4rem;
  height: 2.3rem;

  position: absolute;

  margin-left:-0.35em;
  margin-top:-0.3em;
}
