@mixin section_chess($name) {

  $m1 : 780px;
  $m2 : 500px;
  $m3 : 400px;

  @if global-variable-exists(media1) {
    $m1 : $media1;
  }

  @if global-variable-exists(media2) {
    $m2 : $media2;
  }

  @if global-variable-exists(media3) {
    $m3 : $media3;
  }


  .#{$name} {
    width: 100%;

  }

    .#{$name}_inner {
      max-width: 1170px;
      width: 86%;
      margin: 0 auto;

    }

    .#{$name}_row1, .#{$name}_row2, .#{$name}_row3, .#{$name}_row4 {
      display: table;
    }

    .#{$name}_cell1, .#{$name}_cell2, .#{$name}_figure {
      display: table-cell;
      vertical-align: top;
      text-align: left;

      padding-top: 5rem;
    }

      .#{$name}_cell1 img, .#{$name}_cell2 img, .#{$name}_figure img {
        width: 100%;
        height: auto;
      }


  @media only screen and (max-width: $m1) {
    .#{$name}_row1, .#{$name}_row2, .#{$name}_row3, .#{$name}_row4 {
      display: block;
    }

    .#{$name}_cell1, .#{$name}_cell2, .#{$name}_figure {
      display: block;
    }

    .#{$name}_cell1 img, .#{$name}_cell2 img, .#{$name}_figure img {
      width: 70%;
      height: auto;
    }
  }


}
