@mixin section_left($name) {

  $media_width1 : 700px;
  $media_width2 : 500px;

  .#{$name} {
    background-size: cover;
    text-align:left;
    position: relative;

    @if global-variable-exists(section) {
      @include cs($section);
    }

  }

  .#{$name}_inner {
    position: absolute;
    max-width:144rem;
    margin: 0 auto;
    left:0;
    right:0;

    @if global-variable-exists(section__inner) {
      @include cs($section__inner);
    }
  }

    .#{$name}_h1 {
      @if global-variable-exists(section__h1) {
        @include cs($section__h1);
      }
    }

    .#{$name}_sub_h {
      @if global-variable-exists(section__sub_h) {
        @include cs($section__sub_h);
      }
    }

    .#{$name}_text1 {
      @if global-variable-exists(section__text1) {
        @include cs($section__text1);
      }
    }

    .#{$name}_text2 {
      @if global-variable-exists(section__text2) {
        @include cs($section__text2);
      }
    }

  @if global-variable-exists(section___media1) {
    $media_width1: $section___media1;
  }

  @if global-variable-exists(section___media2) {
    $media_width2: $section___media2;
  }


  @media only screen and (max-width: $media_width1) {
    .#{$name} {
      background-size: cover;
      text-align:left;
      position: relative;

      @if global-variable-exists(section) {
        @include cs($section);
      }

      @if global-variable-exists(section_media1) {
        @include cs($section_media1);
      }
    }

    .#{$name}_inner {
      position: absolute;
      max-width:144rem;
      margin: 0 auto;
      left:0;
      right:0;

      @if global-variable-exists(section__inner) {
        @include cs($section__inner);
      }

      @if global-variable-exists(section__inner_media1) {
        @include cs($section__inner_media1);
      }
    }

      .#{$name}_h1 {
        @if global-variable-exists(section__h1) {
          @include cs($section__h1);
        }

        @if global-variable-exists(section__h1_media1) {
          @include cs($section__h11_media1);
        }
      }

      .#{$name}_sub_h {
        @if global-variable-exists(section__sub_h) {
          @include cs($section__sub_h);
        }

        @if global-variable-exists(section__sub_h_media1) {
          @include cs($section__sub_h_media1);
        }

      }

      .#{$name}_text1 {
        @if global-variable-exists(section__text1) {
          @include cs($section__text1);
        }

        @if global-variable-exists(section__text1_media1) {
          @include cs($section__text1_media1);
        }
      }

      .#{$name}_text2 {
        @if global-variable-exists(section__text2) {
          @include cs($section__text2);
        }

        @if global-variable-exists(section__text2_media1) {
          @include cs($section__text2_media1);
        }
      }
  }

  @media only screen and (max-width: $media_width2) {
    .#{$name} {
      background-size: cover;
      text-align:left;
      position: relative;

      @if global-variable-exists(section) {
        @include cs($section);
      }


      @if global-variable-exists(section_media1) {
        @include cs($section_media1);
      }

      @if global-variable-exists(section_media2) {
        @include cs($section_media2);
      }

    }

    .#{$name}_sub_h {
      @if global-variable-exists(section__sub_h) {
        @include cs($section__sub_h);
      }

      @if global-variable-exists(section__sub_h_media1) {
        @include cs($section__sub_h_media1);
      }
      @if global-variable-exists(section__sub_h_media2) {
        @include cs($section__sub_h_media2);
      }    }
    .#{$name}_inner {
      position: absolute;
      max-width:144rem;
      margin: 0 auto;
      left:0;
      right:0;

      @if global-variable-exists(section__inner) {
        @include cs($section__inner);
      }

      @if global-variable-exists(section__inner_media1) {
        @include cs($section__inner_media1);
      }

      @if global-variable-exists(section__inner_media2) {
        @include cs($section__inner_media2);
      }
    }

      .#{$name}_h1 {
        @if global-variable-exists(section__h1) {
          @include cs($section__h1);
        }

        @if global-variable-exists(section__h1_media1) {
          @include cs($section__h11_media1);
        }

        @if global-variable-exists(section__h1_media2) {
          @include cs($section__h11_media2);
        }
      }

      .#{$name}_text1 {
        @if global-variable-exists(section__text1) {
          @include cs($section__text1);
        }

        @if global-variable-exists(section__text1_media1) {
          @include cs($section__text1_media1);
        }

        @if global-variable-exists(section__text1_media2) {
          @include cs($section__text1_media2);
        }
      }

      .#{$name}_text2 {
        @if global-variable-exists(section__text2) {
          @include cs($section__text2);
        }

        @if global-variable-exists(section__text2_media1) {
          @include cs($section__text2_media1);
        }
        @if global-variable-exists(section__text2_media2) {
          @include cs($section__text2_media2);
        }
      }
  }
}
