@mixin section_center($name) {
  .#{$name} {

    @if global-variable-exists(s_bg) {
      background: $s_bg;
      background-size: cover;
    }

    @if global-variable-exists(s_height) {
      height: $s_height;
    }

    @if global-variable-exists(s_font_size) {
      font-size: $s_font_size;
    }

    @if global-variable-exists(s_letter_spacing) {
      letter-spacing: $s_letter_spacing;
    }

    @if global-variable-exists(s_color) {
      color: $s_color;
    }

    @if global-variable-exists(s_font)   {
      font-family: $s_font;
    }

    @if global-variable-exists(s_font_weight)   {
      font-weight: $s_font_weight;
    }


    text-align:center;

    position: relative;
  }

  .#{$name}_inner {
    position: absolute;
    @if global-variable-exists(s_inner_left) {
      left: $s_inner_left;
    }

    @if global-variable-exists(s_inner_top) {
      top: $s_inner_top;
    }

    max-width:144rem;
    @if global-variable-exists(s_inner_maxwidth) {
      max-width: $s_inner_maxwidth;
    }

    @if global-variable-exists(s_inner_padding) {
      padding: $s_inner_padding;
    }

    margin: 0 auto;
    left:0;
    right:0;
  }

    .#{$name}_h1 {
      @if global-variable-exists(s_h1_font_size) {
        font-size: $s_h1_font_size;
      }

      @if global-variable-exists(s_text1_letter_spacing) {
        letter-spacing: $s_text1_letter_spacing;
      }

      @if global-variable-exists(s_h1_letter_spacing) {
        letter-spacing: $s_h1_letter_spacing;
      }


      @if global-variable-exists(s_h1_color) {
        color: $s_h1_color;
      }

      @if global-variable-exists(s_h1_font)   {
        font-family: $s_h1_font;
      }

      @if global-variable-exists(s_h1_font_weight)   {
        font-weight: $s_h1_font_weight;
      }

      @if global-variable-exists(s_h1_padding) {
        padding: $s_h1_padding;
      }

      @if global-variable-exists(s_h1_line_height) {
        line-height: $s_h1_line_height;
      }
    }

    .#{$name}_text1 {
      @if global-variable-exists(s_text1_color) {
        color: $s_text1_color;
      }

      @if global-variable-exists(s_text1_font_size) {
        font-size: $s_text1_font_size;
      }

      @if global-variable-exists(s_text1_letter_spacing) {
        letter-spacing: $s_text1_letter_spacing;
      }

      @if global-variable-exists(s_text1_font_family)   {
        font-family: $s_text1_font_family;
      }

      @if global-variable-exists(s_text1_font_weight)   {
        font-weight: $s_text1_font_weight;
      }

      @if global-variable-exists(s_text1_padding) {
        padding: $s_text1_padding;
      }

      @if global-variable-exists(s_text1_line_height) {
        line-height: $s_text1_line_height;
      }
    }

    .#{$name}_text2 {
      @if global-variable-exists(s_text2_line_height) {
        line-height: $s_text2_line_height;
      }

      @if global-variable-exists(s_text2_color) {
        color: $s_text2_color;
      }
      @if global-variable-exists(s_text2_font_size) {
        font-size: $s_text2_font_size;
      }


      @if global-variable-exists(s_text2_font_family)   {
        font-family: $s_text2_font_family;
      }

      @if global-variable-exists(s_text2_font_weight)   {
        font-weight: $s_text2_font_weight;
      }

      @if global-variable-exists(s_text2_padding) {
        padding: $s_text2_padding;
      }
    }
}
