@mixin widgets($name) {
  .#{$name} {
    display:  table;
    @if global-variable-exists(widgets) {
      @include cs($widgets);
    }
  }

  $media_width1 : 800px;
  $media_width2 : 700px;

  @if global-variable-exists(media1__maxW) {
    $media_width1: $media1__maxW;
  }

  @if global-variable-exists(widgets__media1_maxW) {
    $media_width1: $widgets__media1_maxW;
  }

  @if global-variable-exists(widgets__media2_maxW) {
    $media_width2: $widgets__media2_maxW;
  }

  @if global-variable-exists(widgets__media3_maxW) {
    $media_width3: $widgets__media3_maxW;
  }




  .#{$name}__item {
    display:  table-cell;

    @if global-variable-exists(widgets__item) {
      @include cs($widgets__item);
    }
  }

  .#{$name}__label {
    @if global-variable-exists(widgets__label) {
      @include cs($widgets__label);
    }
  }

  .#{$name}__value {
    @if global-variable-exists(widgets__value) {
      @include cs($widgets__value);
    }
  }


  @media only screen and (max-width: $media_width1) {
    .#{$name} {
      @if global-variable-exists(widgets_media1) {
        @include cs($widgets_media1);
      }
    }

    .#{$name}__item {

      @if global-variable-exists(widgets__item_media1) {
        @include cs($widgets__item_media1);
      }
    }

    .#{$name}__label {
      @if global-variable-exists(widgets__label_media1) {
        @include cs($widgets__label_media1);
      }
    }

    .#{$name}__value {
      @if global-variable-exists(widgets__value_media1) {
        @include cs($widgets__value_media1);
      }
    }
  }


  @media only screen and (max-width: $media_width2) {
    .#{$name} {
      @if global-variable-exists(widgets_media1) {
        @include cs($widgets_media1);
      }

      @if global-variable-exists(widgets_media2) {
        @include cs($widgets_media2);
      }
    }

    .#{$name}__item {

      @if global-variable-exists(widgets__item_media1) {
        @include cs($widgets__item_media1);
      }

      @if global-variable-exists(widgets__item_media2) {
        @include cs($widgets__item_media2);
      }
    }

    .#{$name}__label {
      @if global-variable-exists(widgets__label_media1) {
        @include cs($widgets__label_media1);
      }

      @if global-variable-exists(widgets__label_media2) {
        @include cs($widgets__label_media2);
      }
    }

    .#{$name}__value {
      @if global-variable-exists(widgets__value_media1) {
        @include cs($widgets__value_media1);
      }

      @if global-variable-exists(widgets__value_media2) {
        @include cs($widgets__value_media2);
      }
    }
  }


}
