mixin button(cl, obj) 
  a(class=cl, href=obj.a)=obj.v
  
mixin buttons(cl, elements, pos)
  div(class=cl+" buttons_"+pos)
    div(class=cl+"_inner")
      each val, key in elements
        +button(cl+"_"+key+" btn_" + key, val)
        
            
