mixin list(cl, elements)
  ul(class=cl+"_ul")
    each val, key in elements
      if (val.childs)
        - var liclass = cl + "_li " + cl + "_li_parent";
      else
        - var liclass = cl + "_li";
      
      
      if (val.href)
        li(class=liclass)
          a(href=val.href)!=val.name
      else
        li(class=liclass)!=val.name

        
        
        if (val.childs)
          ul(class=cl+"_child")
            each val2,key2 in val.childs
              li(class=cl+"_child_li")
                if (!val2.href)
                  - var href = "#"
                else
                  - var href = val2.href;
                a(href=href)!=val2.name                                 

            



mixin sectionmix(cl,elements)
  each val, key in elements
    if (val.grid) 
        +grid(cl +"_"+key, val.grid,val.settings)
    else if key == "block"
      div(class=cl+"_"+key)
        +sectionmix(cl, val) 
    else if key == "h1"
      if (val == "[object Object]" )
        h1(class=cl+"_"+key)
          +sectionmix(cl,val)  
      else    
        h1(class=cl+"_"+key)!=val
    else if key == "figure"
      if (val == "[object Object]" )
       figure(class=cl+"_"+key)
          +sectionmix(cl,val)  
      else    
        figure(class=cl+"_"+key)!=val        
    else if key == "h2"
      if (val == "[object Object]" )
        h2(class=cl+"_"+key)
          +sectionmix(cl,val)  
      else    
        h2(class=cl+"_"+key)!=val     
    else if (key == "buttons") 
        +buttons(cl+"_"+key +" " + key +"_" +val.pos, val.btns)
    else if (key == "widgets") 
        +widgets(cl+"_"+key, val)  
    else if (key == "buttons2") 
        +buttons(cl+"_"+key +" " + key +"_" +val.pos, val.btns)
    else if (key == "widgets2") 
        +widgets(cl+"_"+key, val) 
    else if(key == "copyright")
    else if (val.menu)
      +menu2(cl+"_"+key, val.menu)   
    else if (key == "list")
      +list(cl+"_"+key, val)          
    else if(key == "list")
      div(class=cl+"_block")
        if(val.title)
          div(class=cl+"_block_title")!=val.title
        else if (val.menu)
          +menu2(cl+"_"+key, val.menu)          
        else if (val.list)
          +list(cl+"_"+key, val)                   
    else if(key == "list1")
      div(class=cl+"_block")
        if(val.title)
          div(class=cl+"_block_title")!=val.title
        if (val.menu)
          +menu2(cl+"_"+key, val.menu)          
        if (val.list)
          +list(cl+"_"+key, val.list)          

    else if(key == "list2")
      div(class=cl+"_block")
        if(val.title)
          div(class=cl+"_block_title")!=val.title
        if (val.menu)
          +menu2(cl+"_"+key, val.menu)  
        if (val.list)
          +list(cl+"_"+key, val.list)                    
          
    else if(key == "list3")
      div(class=cl+"_block")
        if(val.title)
          div(class=cl+"_block_title")!=val.title
        if (val.menu)
          +menu2(cl+"_"+key, val.menu)
        if (val.list)
          +list(cl+"_"+key, val.list)                      
    
    else if(key == "img")
      img(src=val.src, alt=val.alt, class=cl+"_"+key)
    else if(key == "a")
      if (val.class)
        - var cl2 = val.class;
      else
        - var cl2 = "";
        
      if (val.val == "[object Object]" )
        a(class=cl+"_"+key + " " + cl2, href=val.href)
          +sectionmix(cl,val.val)  
      else
        a(class=cl+"_"+key + " " + cl2, href=val.href)!=val.val
    else if(val == "[object Object]")
      div(class=cl+"_"+key)
        +sectionmix(cl,val)
    else
      p(class=cl+"_"+key)!=val 


include section1.jade
include footer1.jade
include buttons.jade
include grid.jade
include header1.jade
