mixin grid_loop(cl, elements, settings)
  if (elements)
    each val, key in elements
      if (settings.child == "article")
        article(class=cl + "__item item " + cl + "__item--" + key)
          +sectionmix(cl, val)
      else if (settings.child == "li")
        li(class=cl + "__item item " + cl + "__item--" + key)
          +sectionmix(cl, val)          
      else if (settings.child == "div")
        div(class=cl + "__item item " + cl + "__item--" + key)
          +sectionmix(cl, val)          
      else
        li(class=cl + "__item item " + cl + "__item--" + key)
          +sectionmix(cl, val)                    
    
mixin grid(cl, elements, settings)
  if (settings)
    if (settings.parent == "article")
      article(class=cl)
        +grid_loop(cl, elements, settings)  
        div(style="clear:both")  
    else if (settings.parent == "ul")
      ul(class=cl)
        +grid_loop(cl, elements, settings)  
        div(style="clear:both")               
    else if (settings.parent == "div")
      div(class=cl)
        +grid_loop(cl, elements, settings)  
        div(style="clear:both")    
    else if (settings.parent == "section")
      section(class=cl)   
  else
    div(class=cl)
      ul(class=cl+"__inner")
        +grid_loop(cl, elements, settings)  
        div(style="clear:both")    
  
  
    
    
    
    
    
