mixin logo(href, img, alt)
  a.header_logo(href=href)
    img(src=img, alt=alt)
  
  
mixin widgets(prefix, data)
  - var cl = prefix;
  div(class=cl)
    each val,key in data
      div(class=cl+"__"+key + " "+cl+"__item")
        each val2, key2 in val
          if key2 == "h1"
            h1(class=cl+"__"+key+"_"+key2 + " " + cl+"__"+key2)!=val2
          else if key2 == "h2"
            h2(class=cl+"__"+key+"_"+key2 + " " + cl+"__"+key2)!=val2    
          else if key2 == "a"
            a(class=cl+"__"+key+"_"+key2 + " " + cl+"__"+key2, href=val2.href)!=val2.text               
          else if(val2 == "[object Object]")
            p(class=cl+"__"+key+"_"+key2 + " " + cl+"__"+key2)
              +sectionmix(cl+"__"+key+"_"+key2 + " " + cl+"__"+key2, val2)
          else
            p(class=cl+"__"+key+"_"+key2 + " " + cl+"__"+key2)!=val2

     
