mixin menu1(cl, elements)
  div(class=cl+"_close")
  div(class=cl+"_open")
    span
  nav(class=cl)
    ul(class=cl+"_ul")
      each val, key in elements
        if (val.childs)
          - var liclass = cl + "_li " + cl + "_li_parent";
        else
          - var liclass = cl + "_li";
        
        if (val.active) 
          - var liclass = liclass + " " + cl +"_li--active";
          
        li(class=liclass)
          if (!val.href)
            - var href = "#"
          else
            - var href = val.href;
          a(href=href)!=val.name
          
          if (val.childs)
            ul(class=cl+"_child")
              each val2,key2 in val.childs
                li(class=cl+"_child_li")
                  if (!val2.href)
                    - var href = "#"
                  else
                    - var href = val2.href;
                  a(href=href)!=val2.name
                  
                  
mixin menu2(cl, elements)
  ul(class=cl+"_ul")
    each val, key in elements
      if (val.childs)
        - var liclass = cl + "_li " + cl + "_li_parent";
      else
        - var liclass = cl + "_li";
      
      li(class=liclass)
        if (!val.href)
          - var href = "#"
        else
          - var href = val.href;
        a(href=href)!=val.name
        
        if (val.childs)
          ul(class=cl+"_child")
            each val2,key2 in val.childs
              li(class=cl+"_child_li")
                if (!val2.href)
                  - var href = "#"
                else
                  - var href = val2.href;
                a(href=href)!=val2.name 
                
