mixin section1(cl, elements)
  section(class=cl)
    div(class=cl+"_inner")
      +sectionmix(cl, elements)  
          
                      
mixin section2(cl, elements)
  section(class=cl)
      +sectionmix(cl, elements)  
      
      
mixin footer(cl, elements)
  footer(class=cl)
      +sectionmix(cl, elements)      
                
                            
mixin section(cl, group, elements)
  section(class=cl +" " + group)
    +sectionmix2(cl, elements)
