mixin logo(href, img, alt)
  a.header_logo(href=href)
    img(src=img, alt=alt)
  
  
mixin widgets(prefix, data)
  - var cl = prefix;
  div(class=cl)
    each val,key in data
      div(class=cl+"_"+key)
        each val2, key2 in val
          if key2 == "h1"
            h1(class=cl+"_"+key+"_"+key2)!=val2
          else if key2 == "h2"
            h2(class=cl+"_"+key+"_"+key2)!=val2    
          else if key2 == "a"
            a(class=cl+"_"+key+"_"+key2, href=val2.href)!=val2.text               
          else
            p(class=cl+"_"+key+"_"+key2)!=val2

     
