
include list1.jade

nav.header_menu
  mixin menu_li(slug, name)
    li.header_menu_li
      a(href= slug)= name
      
  ul.header_menu_ul
    li.header_menu_li_active
      a(href= "/") Home
    li.header_menu_li.header_menu_li_parent
      a(href= "index.html") Services
      ul.header_menu_ul_child
        - var cl = "header_menu_ul_child";
        +list1_li("index.html", "Link Assembly")
        +list1_li("index.html", "Idlers")
        +list1_li("index.html", "Track Shoes")
        +list1_li("index.html", "Hardware")
        +list1_li("index.html", "Rollers")
        +list1_li("index.html", "Sprockets")
        +list1_li("index.html", "G. E. T.")

    li.header_menu_li.header_menu_li_parent
      a(href= "index.html") Products
      ul.header_menu_ul_child
        - var cl = "header_menu_ul_child";
        +list1_li("index.html", "Link Assembly")
        +list1_li("index.html", "Idlers")
        +list1_li("index.html", "Track Shoes")
        +list1_li("index.html", "Hardware")
        +list1_li("index.html", "Rollers")
        +list1_li("index.html", "Sprockets")
        +list1_li("index.html", "G. E. T.")
              
    +menu_li("index.html", "Specials")
    +menu_li("index.html", "About us")
    +menu_li("index.html", "Contact")
    div(style="clear:both")
