@mixin grid($name, $inrow, $distance) {

  $width : 80;
  $whole_distance: $distance * ($inrow - 1);

  .#{$name} {
    width: $width * 1%;
    max-width: 1440px;
    margin: 0 auto;
    float: none;
    z-index: 25;
    padding-top: 4.4rem;
    padding-bottom: 4rem;

    @if global-variable-exists(grid) {
      @include cs($grid);
    }
  }



  .#{$name}__item {
    width: (( 100 - $whole_distance)/$inrow) * 1%;
    float: left;
    display: block;
    text-align: left;
    margin-right: $distance * 1%;
    float: left;
    vertical-align: top;
    @if global-variable-exists(grid__item) {
      @include cs($grid__item);
    }
  }

  .#{$name}_label {

    @if global-variable-exists(grid__label) {
      @include cs($grid__label);
    }
  }

  .#{$name}__item  img {
    width: 100%;
  }

  .#{$name}__item > p {
    margin-top: 1em;
    color: grey;
    line-height: 1.2;
    font-size: 0.96em; }



  .#{$name}__item:nth-child(#{($inrow)}n) {
    margin-right: 0em; }




  .#{$name}__item{
    margin-top: 5rem }

  .#{$name}__item:nth-child(-n+#{$inrow}) {
    margin-top: 0; }



  @media only screen and (max-width: 720px) {
    .#{$name}__item {
      float: none;
      display: block;
      margin-left: 0;
      width: 70vw;
      left: 0;
      right: 0;
      margin-top: 3em;
      @if global-variable-exists(grid__item_mb) {
        @include cs($grid__item_mb);
      }
    }
    .grid3_li:nth-child(1) {
      margin-left: 0; }
    .grid3_sub-text {
      width: 70vw; } }
}
