/*
  CORE Classes

  Write your code in "YOUR CUSTOM CODE" section in bottom of document or seperate document
*/

@mixin header1($name) {
  .#{$name} {
    @if global-variable-exists(header) {
      @include cs($header);
    }
  }

  $media_width1 : 1000px;
  $media_widgets_width1: 700px;
  @if global-variable-exists(header__media1_maxW) {
     $media_width1 : $header__media1_maxW;
  }

  @if global-variable-exists(header__media2_maxW) {
     $media_widgets_width1 : $header__media1_maxW;
  }



  @media only screen and (max-width: $media_width1) {
    .#{$name} {
      @if global-variable-exists(header__media1) {
        @include cs($header__media1);
      }

    }
  }

  .#{$name}_inner {
      width: 100%;
      position: relative;
      margin: 0 auto;

      @if global-variable-exists(header__inner) {
        @include cs($header__inner);
      }
  }

    .#{$name}_logo {
      position: absolute;

      @if global-variable-exists(header__logo) {
        @include cs($header__logo);
      }

      img {
        @if global-variable-exists(header__logo_img) {
          @include cs($header__logo_img);
        }
      }
    }

    @media only screen and (max-width: $media_width1) {
      .#{$name} {
        @if global-variable-exists(header__media2) {
          @include cs($header__media2);
        }

      }

      .#{$name}_logo {
        position: absolute;
        @if global-variable-exists(header__logo_media1) {
          @include cs($header__logo_media1);
        }
      }
      .#{$name}_logo img {
        width:100%;
        @if global-variable-exists(header__logo_img_media1) {
          @include cs($header__logo_img_media1);
        }
      }
    }


}
