
script(src="js/jquery_v3.js")
//- script(src="js/selectric.js")
//- script(src="js/iscroll5.js")

script(src="js/material-menu.js")
//- script(src="js/html-videos.js")
//- script(src="js/task-manager.js")
script(src="js/owl.carousel.min.js")
//- script(src="js/owl-partners.js")

//- script(src="js/mega-menu.js")
//- script(src="js/html-videos.js")
//- script(src="js/map.js")
//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIXSXN8FbJnEaZElvoCuO_oJQKHg1gBVQ&callback=initMap",async,defer)
script(src="js/script.js")
//- script(src="js/task-manager.js")
//- AIzaSyCIXSXN8FbJnEaZElvoCuO_oJQKHg1gBVQ