head
  title Sumner
  meta(charset='UTF-8')
  meta(name="keywords", content="html, css, standards")
  meta(name="description", content="Sumner")
  meta(name="author", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="format-detection",content="telephone=no")
  meta(http-equiv="x-rim-auto-match",content="none")
    
  link(rel="shortcut icon",type="image/png",href="images/favicon.png")
  link(href='css/layout.css',rel="stylesheet")
  link(href='css/fonts.css',rel="stylesheet")
  link(href='css/mobile.css',rel="stylesheet")
