section.column-image
  article.column-image_v1
    .column-image_v1_img 
      img(src="images/einstein-and-yoda.png")
    .column-image_v1_text
      h1 Display table, is it ok to use?
      p Yes, absolutly, until we use divs and display for decoration - it is absolutly semantic.
      p There are issues only with IE6 and IE7, which are not actual.
      
  article.column-image_v1
    .column-image_v1_img 
      img(src="images/einstein-and-yoda.png")
    .column-image_v1_text
      h1 Display table, is it ok to use?
      p Yes, absolutly, until we use divs and display for decoration - it is absolutly semantic.
      p There are issues only with IE6 and IE7, which are not actual.      

  article.column-image_v1
    .column-image_v1_text
      h1 Display table, is it ok to use?
      p Yes, absolutly, until we use divs and display for decoration - it is absolutly semantic.
      p There are issues only with IE6 and IE7, which are not actual.   
    .column-image_v1_img 
      img(src="images/einstein-and-yoda.png")      
      
  article.column-image_v1
    .column-image_v1_img 
      img(src="images/einstein-and-yoda.png")
    .column-image_v1_text
      h1 Display table, is it ok to use?
      p Yes, absolutly, until we use divs and display for decoration - it is absolutly semantic.
      p There are issues only with IE6 and IE7, which are not actual.            
