section.cover-image
  h1.cover-image_h1 Image must not be blurred
  article.cover-image_text-block
    h2 CSS fix to image (not icons)
    p  Use this css: image-rendering: -webkit-optimize-contrast;
    p browsers will not blur image on resize
    
    
  article.cover-image_text-block2
    h2 Those blocks could be articles
    p  Specially when few
    
  article.cover-image_text-block3
    .cover-image_text-block3_inner
      h2 It is not full height
      p  This section is not full height and it's height is set in REM according PSD
      p  Height can be changed only according responsive need as seperate query  
      mark Please check me, I have inner, not same as other blocks
