section.full-height2
  h1.full-height2_h1 Full height
  
  .full-height2_middle
    h2.full-height2_h2 In the middle
    
  footer.full-height2_footer
    .full-height2_item1 In the left
    .full-height2_item2 In the right
      
    
