section.grid4
  .grid4_inner
    h1.grid4_h1 Grid of 4 element
    mixin li(title,text)
      li.grid4_li
        h2.grid4_h2= title
        p= text
      
    ul.grid4_ul
      +li("Grid item 1"
        , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")                 
      +li("Grid item 2"
        , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")                 
      +li("Grid item 3"
        , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")                 
      +li("Grid item 4"
        , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")                 
