section.grid3
  .grid3_inner
    h1.grid3_h1 Grid of 3 element

    p.grid3_sub-text Если в дизайне нет центрирования, то и в мобильной версии не нужно все центрировать.
      
      
    p.grid3_sub-text Этот текстовый блок идеально равняется по  началу нижнего списка так как имеет такую же ширину и свойства центрирования
              
    mixin li(title,text)
      li.grid3_li
        h2.grid4_h2= title
        p= text
      
    ul.grid3_ul
      +li("Grid item 1"
        , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")                 
      +li("Grid item 2"
        , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")                 
      +li("Grid item 3"
        , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")                 
