section.table_section
  .table_inner
    h1.table_section_h1 Table layout
    mixin td(id, date, name, email)
      tr
        td= id
        td= date
        td= name      
        td= email            
      
    table.table_section_table
      tr
        th id
        th date
        th Name   
        th Email  
        
      tr
        td id
        td date
        td Name   
        td Email          
                     
      +td(1, "21.11.1987", "John Smith", "john@gmail.com")
      +td(2, "21.11.1988", "Bob Brayn", "bob@gmail.com") 
      +td(2, "21.11.1988", "Eugene Dunskoy", "eugene@gmail.com")  
      
  mixin a(name)
    a.paginator_page(href="#")= name
    
  .paginator
    +a("<<")
    +a("<")
    +a("1")
    +a("22")
    +a("333")
    +a("4444")
    +a("555")
    +a("55")
    +a("5")
    +a(">")
    +a(">>")     
      
