footer#footer
    .container
        a.logo-footer(href="/")
            img(src="images/footer-logo.png", alt="")
        ul.footer_link-list
            li.footer_link-item
                p.footer_link ©  2016 Sumner Manufacturing Co., Inc.
            li.footer_link-item
                a.footer_link(href="http://google.com") Site Admin
            li.footer_link-item
                a.footer_link(href="http://google.com") Site by Paradigm



