header.header
  .header_inner
    +logo("/", "images/logo.png", "cableshop-waikato")
    .header_menu_close
    .header_menu_open
      span
    nav.header_menu
      ul.header_menu_ul
        li.header_menu_li.header_menu_li--active
          a(href="#Home") Home
        li.header_menu_li
          a(href="#PRODUCTS") Products
        li.header_menu_li
          a(href="#About") About
        li.header_menu_li
          a(href="#Media") Media
        li.header_menu_li
          a(href="#Contact") Contact      
    .right_bar-container
      .right_bar-tabs-container
        ul.right_bar-tabs-list
          li.right_bar-tabs-item
            a.right_bar-tabs-link(href="#My_cart")
              img(src="images/icon/by.png", alt="")
              span MY CART
          li.right_bar-tabs-item
            a.right_bar-tabs-link(href="#Account") ACCOUNT
          li.right_bar-tabs-item
            a.right_bar-tabs-link(href="#Help") HELP
      .right_bar-search-container
        .right_bar-search
          input.right_bar-search-input(type="text")
          input.right_bar-search-btn(type="button",value=" ")
