@mixin menu1($name) {
  .#{$name} {
    background: $menu_bg;
    height: $menu_height;

  }

    .#{$name}_ul {

      max-width:116.8rem;
      width:100%;
      margin: 0 auto;
      position:relative;
      display:table;

    }

      .#{$name}_li, .#{$name}_li_active {
        display:table-cell;
        padding: $li_padding;
        background: $menu_li_bg;

        /*width: 100/6*1%;*/
        text-align: center;
        position:relative;
        cursor:pointer;
      }

        .#{$name}_li>a, .#{$name}_li_active>a {
          color: $menu_a_color;
          text-decoration:none;
          font-size:1.5rem;
          letter-spacing: 0.2rem;
          position:relative;
        }

        .#{$name}_li>a:hover, .#{$name}_li:hover>a  {
          color: $menu_a_color_hover;
        }

        .#{$name}_li_active>a {
            color: $menu_a_color_active;
        }
}
