
@mixin cs($cnf) {
  @each $cnf_v in $cnf {
    $k: nth($cnf_v, 1);


    @if $k == "w" {
      $v: nth($cnf_v, 2);
      width:$v;
    }


    @if $k == "bg" {
      $v: nth($cnf_v, 2);
      background:url("#{$v}") no-repeat #{nth($cnf_v, 3)} #{nth($cnf_v, 4)};
      background-size: #{nth($cnf_v, 5)} #{nth($cnf_v, 6)};
    }

    @if $k == "w" {
      $v: nth($cnf_v, 2);
      width: $v;
    }

    @if $k == "h" {
      $v: nth($cnf_v, 2);
      height: $v;
    }

    @if $k == "s" {
      $v: nth($cnf_v, 2);
      width: $v;
      $v: nth($cnf_v, 3);
      height: $v;
    }

    @if $k == "pdl" {
      $v: nth($cnf_v, 2);
      padding-left: $v;
    }

    @if $k == "pdt" {
      $v: nth($cnf_v, 2);
      padding-top: $v;
    }

    @if $k == "pd" {
      $v: nth($cnf_v, 2);
      padding: #{nth($cnf_v, 1)} #{nth($cnf_v, 2)} #{nth($cnf_v, 3)} #{nth($cnf_v, 4)};
    }

    @if $k == "ml" {
      $v: nth($cnf_v, 2);
      margin-left: $v;
    }

    @if $k == "mt" {
      $v: nth($cnf_v, 2);
      margin-top: $v;
    }

    @if $k == "md" {
      $v: nth($cnf_v, 2);
      margin: #{nth($cnf_v, 1)} #{nth($cnf_v, 2)} #{nth($cnf_v, 3)} #{nth($cnf_v, 4)};
    }

    @if $k == "left" {
      text-align: left;
    }

    @if $k == "center" {
      text-align: center;
    }

    @if $k == "right" {
      text-align: right;
    }

    @if $k == "c" {
      $v: nth($cnf_v, 2);
      color:$v;
    }

    @if $k == "ls" {
      $v: nth($cnf_v, 2);
      letter-spacing: $v;
    }

    @if $k == "fs" {
      $v: nth($cnf_v, 2);
      font-size: $v;
    }

    @if $k == "uppercase" {
      text-transform: uppercase;
    }

    @if $k == "lowercase" {
      text-transform: lowercase;
    }

    @if $k == "100" {
      font-weight:100;
    }

    @if $k == "200" {
      font-weight:200;
    }

    @if $k == "300" {
      font-weight:300;
    }

    @if $k == "400" {
      font-weight:400;
    }

    @if $k == "500" {
      font-weight:500;
    }

    @if $k == "600" {
      font-weight:100;
    }

    @if $k == "700" {
      font-weight:200;
    }

    @if $k == "800" {
      font-weight:800;
    }

    @if $k == "900" {
      font-weight:900;
    }


  }
}



@mixin section_left($name) {
  .#{$name} {

    @if global-variable-exists(s_bg) {
      background: $s_bg;
      background-size: cover;
    }

    @if global-variable-exists(s_height) {
      height: $s_height;
    }

    @if global-variable-exists(s_font_size) {
      font-size: $s_font_size;
    }

    @if global-variable-exists(s_letter_spacing) {
      letter-spacing: $s_letter_spacing;
    }

    @if global-variable-exists(s_color) {
      color: $s_color;
    }

    @if global-variable-exists(s_font)   {
      font-family: $s_font;
    }

    @if global-variable-exists(s_font_weight)   {
      font-weight: $s_font_weight;
    }

    @if global-variable-exists(s_text_align)   {
      text-align:$s_text_align;
    }
    else {
      text-align:left;
    }
    position: relative;
  }

  .#{$name}_inner {
    position: absolute;
    @if global-variable-exists(s_inner_left) {
      left: $s_inner_left;
    }

    @if global-variable-exists(s_inner_top) {
      top: $s_inner_top;
    }

    max-width:144rem;
    @if global-variable-exists(s_inner_maxwidth) {
      max-width: $s_inner_maxwidth;
    }

    @if global-variable-exists(s_inner_padding) {
      padding: $s_inner_padding;
    }

    margin: 0 auto;
    left:0;
    right:0;
  }

    .#{$name}_h1 {
      @if global-variable-exists(s_h1_font_size) {
        font-size: $s_h1_font_size;
      }

      @if global-variable-exists(s_text1_letter_spacing) {
        letter-spacing: $s_text1_letter_spacing;
      }

      @if global-variable-exists(s_h1_letter_spacing) {
        letter-spacing: $s_h1_letter_spacing;
      }


      @if global-variable-exists(s_h1_color) {
        color: $s_h1_color;
      }

      @if global-variable-exists(s_h1_font)   {
        font-family: $s_h1_font;
      }

      @if global-variable-exists(s_h1_font_weight)   {
        font-weight: $s_h1_font_weight;
      }

      @if global-variable-exists(s_h1_padding) {
        padding: $s_h1_padding;
      }

      @if global-variable-exists(s_h1_line_height) {
        line-height: $s_h1_line_height;
      }
    }

    .#{$name}_text1 {
      @if global-variable-exists(s_text1_color) {
        color: $s_text1_color;
      }

      @if global-variable-exists(s_text1_font_size) {
        font-size: $s_text1_font_size;
      }

      @if global-variable-exists(s_text1_letter_spacing) {
        letter-spacing: $s_text1_letter_spacing;
      }

      @if global-variable-exists(s_text1_font_family)   {
        font-family: $s_text1_font_family;
      }

      @if global-variable-exists(s_text1_font_weight)   {
        font-weight: $s_text1_font_weight;
      }

      @if global-variable-exists(s_text1_padding) {
        padding: $s_text1_padding;
      }

      @if global-variable-exists(s_text1_line_height) {
        line-height: $s_text1_line_height;
      }
    }

    .#{$name}_text2 {
      @if global-variable-exists(s_text2_line_height) {
        line-height: $s_text2_line_height;
      }

      @if global-variable-exists(s_text2_color) {
        color: $s_text2_color;
      }
      @if global-variable-exists(s_text2_font_size) {
        font-size: $s_text2_font_size;
      }


      @if global-variable-exists(s_text2_font_family)   {
        font-family: $s_text2_font_family;
      }

      @if global-variable-exists(s_text2_font_weight)   {
        font-weight: $s_text2_font_weight;
      }

      @if global-variable-exists(s_text2_padding) {
        padding: $s_text2_padding;
      }
    }
}


@mixin bs($name, $cnf) {
  .#{$name} {
    @include cs($cnf);
  }
}
