section.columns2
  .columns2_inner
    .columns2_c1
      .columns2_c1_inner
        h1.columns2_h1 Left
        p.columns2_p Left column
        ul.columns2_c1_ul
          li List1
          li List2
          li List3
          li List4
      
      
    .columns2_c2   
      .columns2_c2_inner
        h1.columns2_h1 Right
        p.columns2_p Left column  
