section.full-height_video
  #full-height_video_video-object
  h1.full-height_video_h1 Full height with video cover
  
  .full-height_video_middle
    h2.full-height_video_h2 This video autoplays automaticly in visible area. 
    
  footer.full-height_video_footer
    .full-height_video_item1 In the left
    .full-height_video_item2 In the right
      
    
