section.grid6
  .grid6_inner
    h1.grid6_h1 Grid of 6 element
    mixin li(title,text)
      li.grid6_li
        h2.grid4_h2= title
        p= text
      
    ul.grid6_ul
      +li("Grid item 1"
      , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")

      +li("Grid item 2"
      , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")

      +li("Grid item 3"
      , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")
      
      +li("Grid item 4"
      , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")
      
      +li("Grid item 5"
      , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")
      
      +li("Grid item 6"
      , "Our industry leading dynamic pricing technology earns you up to 40% more revenue for less cost.")
