.header_inner
  a.main-logo
    img.main-logo_img(src="images/html.png", alt="HTML logo")
    
  nav.main-menu
    mixin menu_li(slug, name)
      li.main-menu_li
        a(href= slug)= name
      
    ul.main-menu_ul      
      +menu_li("index.html", "About")
      +menu_li("index.html", "References")
      +menu_li("index.html", "Services")
      +menu_li("index.html", "Contact us")
    
    .menu-close
      include svg_close.html   

  .burger-menu 
    include svg_burger.html
    
 
    
    
  button.btn_success Get access
