section.social-icons
  h1.social-icons_h1 Social icons
  
  mixin svg(url, svg_id)
    a.social1_a(href= url)
      svg(viewBox="0 0 67 67")
        use(xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="#" + svg_id)          
  .social1
    +svg( "https://www.facebook.com/RoomDots",
          "facebook")
    +svg( "https://twitter.com/roomdots",
          "twitter")
    +svg( "https://plus.google.com",
          "google")                  
    +svg( "https://www.linkedin.com",
          "linkedin")     
