@import "framework/framework";

/*
  GLOBAL SETTINGS
*/
$root: 0 10px, 1440px 0.65vw, 1400px 0.65vw, 980px 6px, 780px 6.5px;

/* FONTS */
$basic_font:  'Open Sans', sans-serif;
$basic_font-size:  1.6rem;

$template_width: 1239px;

$media1__maxW : 700px;
$media2__maxW : 500px;

$media1: 900px;
$media2: 600px;
$media3: 500px;


$materialMenu_bg: #639f05;
$materialMenu_uppercase: uppercase;




@include body();


@import "partials/header__menu";
@import "partials/header";
@import "partials/header__custom";
@import "partials/header__slider";
@import "partials/home";
@import "partials/products";
@import "partials/videos";
@import "partials/testimonials";
@import "partials/location";
@import "partials/footer";
